body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-brand img {
  vertical-align: top;
}
.navbar-text-twoline {
  margin-top: 6px;
  margin-bottom: 7px;
}

footer {
  color: #666666;
  text-align: center;
}

ul.dashboard_league {
  list-style: none;
  margin: -1em -1em 0 0;
  padding: 0;
}
ul.dashboard_league li {
  float: left;
  margin: 1em 1em 0 0;
  position: relative;
  overflow: hidden;
}
ul.dashboard_league li strong {
  white-space: nowrap;
}
ul.dashboard_league li a.league {
  display: block;
  height: 56px;
  padding: 6px 8px 6px 8px;
  text-align: left;
  width: 138px;
}
ul.dashboard_league li a.league:hover {
  color: #000;
}
ul.dashboard_league li form.delete .btn {
  border-radius: 0 4px 0 4px;
  position: absolute;
  top: 0;
  right: 0;
}
ul.dashboard_league li.dashboard_league_new a {
  color: #fff;
}
ul.dashboard_league li.dashboard_league_new a:hover {
  color: #fff;
}
ul.dashboard_league li.dashboard_league_new h2 {
  font-size: 20px;
  line-height: 30px;
  margin-top: -2px;
}

.sidebar-nav {
  padding: 9px 0;
}

.league-alert {
 margin-left: 145px;
}

table {
  white-space: nowrap;
}

.table-bordered tbody tr.separator td {
  border-bottom: 1px solid #888;
}
.table-bordered thead tr:last-child th {
  border-bottom: 1px solid #888;
}
.table-bordered tfoot tr:first-child th {
  border-top: 1px solid #888;
}

table#roster td.roster_handle {
  cursor: move;
  width: 18px;
}
span.roster_starter  {
  color: #0074cc;
}
span.roster_bench  {
  color: #49afcd;
}

table#game_log_list tbody tr.alert-info td, table.leaders tbody tr.alert-info td, table#hall-of-fame tbody tr.alert-info td, table#team-history-players tbody tr.alert-info td {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

table#team-history-players tbody tr.alert-success td {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}

table#game_log_list tbody td {
  padding: 0;
}

table#game_log_list td a {
  color: #3a87ad;
  display: block;
  padding: 4px 5px 4px 5px;  /* Expand to encompass normal td padding, which was set to 0 here above. */
  text-decoration: none;
}

table#game_log_list tbody tr:hover td, table#messages tbody tr:hover td {
  background-color: #d9edf7;
  border-color: #bce8f1;
  text-decoration: none;
}

.table-nonfluid {
   width: auto;
}


select.season {
  width: 120px;
}
select.seasons {
  width: 120px;
}
select.past-x {
  width: 135px;
}

#trade-select_team {
  margin: 9px 0 0 0;
}

#trade-summary {
  background-color: #fff;
}

.player_picture {
  height: 150px;
  float: left;
  margin-right: 10px;
  width: 100px;
}

.skill {
  cursor: default;
  font-size: 10px;
  line-height: 18px;
  margin-left: 5px;
  vertical-align: 2%;
}
.skills_alone {
  margin-left: -5px;
  vertical-align: 2%;
}

#roster select {
  margin: 0;
  width: auto;
  padding: 0;
  height: 20px;
}
/* These colors are duplicated in js/core/roster.js because of Firefox */
#roster select option[value="1"] {
  background-color: #ccc;
}
#roster select option[value="1.75"] {
  background-color: #070;
  color: #fff;
}
#roster select option[value="1.25"] {
  background-color: #0f0;
}
#roster select option[value="0.75"] {
  background-color: #ff0;
}
#roster select option[value="0"] {
  background-color: #a00;
  color: #fff;
}

/* This is needed to keep the form fields the right size inside row-fluid after upgrading to Bootstrap 2.1. */
.row-fluid input[class*="span"] {
    min-height: 28px;
}

.slide-out {
  visibility: hidden;
  padding: 20px;
  width: 200px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-top-left-radius: 4px;
     -moz-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.slide-out-handle {
  /* http://charliepark.org/bootstrap_buttons/ */
 background-color: hsl(256, 100%, 38%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6932ff", endColorstr="#3300c1"); background-image: -khtml-gradient(linear, left top, left bottom, from(#6932ff), to(#3300c1)); background-image: -moz-linear-gradient(top, #6932ff, #3300c1); background-image: -ms-linear-gradient(top, #6932ff, #3300c1); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6932ff), color-stop(100%, #3300c1)); background-image: -webkit-linear-gradient(top, #6932ff, #3300c1); background-image: -o-linear-gradient(top, #6932ff, #3300c1); background-image: linear-gradient(#6932ff, #3300c1); border-color: #3300c1 #3300c1 hsl(256, 100%, 32.5%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36); -webkit-font-smoothing: antialiased; 


  -webkit-border-bottom-left-radius: 0;
     -moz-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
     -moz-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
}

.bar-graph-small {
  height: 40px;
}
.bar-graph-medium {
  height: 60px;
}
.bar-graph-large {
  height: 100px;
}

/* From bootstrap */
.bar-graph-1 { background-color: #049cdb; }
.bar-graph-2 { background-color: #f89406; }
.bar-graph-3 { background-color: #9d261d; }
.bar-graph-4 { background-color: #ffc40d; }
.bar-graph-5 { background-color: #7a43b6; }
.bar-graph-6 { background-color: #46a546; }
.bar-graph-7 { background-color: #c3325f; }
.bar-graph-8 { background-color: #444; }

.icon-question-sign {
  cursor: pointer;
}

/* Stupid fix for popover in h4 */
.popover-content {
  font-size: 13px;
  font-weight: normal;
}

.finances-settings-label {
  line-height: 26px;
  padding-right: 1em;
  text-align: right;
  width: 100px;
}
.finances-settings-text {
  line-height: 26px;
  padding-left: 1em;
}
.finances-settings-text-small {
  font-size: 11px;
  line-height: 14px;
  padding-left: 1em;
}
.finances-settings-field {
}
.ticket-price {
  width: 36px;
}
.finances-settings button {
  display: none;
}

.label-injury {
  cursor: default;
  font-size: 8px;
  line-height: 8px;
  margin-left: 5px;
  vertical-align: 20%;
}

.trading-block-offer {
  margin-bottom: 2em;
}

.trading-block-offer h2 {
  float: left;
  margin-right: 0.5em;
}
.trading-block-offer form {
  margin-bottom: 0;
  padding-top: 0.2em;
}

#messages {
  table-layout: fixed;
  width: 100%;
}
#messages td {
  padding: 0;
}
#messages .year {
  width: 40px;
}
#messages .from {
  width: 130px;
}
#messages .text {
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
}
.unread {
  font-weight: bold;
}
#messages td a {
  color: #333333;
  display: block;
  padding: 4px 5px 4px 5px;
  text-decoration: none;
}

.alert p:last-child {
  margin-bottom: 0;
}