body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-brand img {
  vertical-align: top;
}
.navbar-brand span {
  padding-left: 5px;
  float: right;
}
/* This is like navbar-text, but with different margins so two lines of text can fit, and with no responsive stuff so it always shows in the navbar. */
.navbar-text-two-line-no-collapse {
  color: #777777;
  float: left;
  margin: 6px 15px 7px 15px;
}

/* This is a copy of the navbar-nav styles, with no responsive stuff. */
.navbar-collapse .navbar-nav-no-collapse.navbar-left:first-child {
  margin-left: -15px;
}
.navbar-collapse .navbar-nav-no-collapse.navbar-right:last-child {
  margin-right: -15px;
}
.navbar-nav-no-collapse {
  margin: 8px -15px;
}
.navbar-nav-no-collapse > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 18px;
}
.navbar-nav-no-collapse > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.navbar-nav-no-collapse {
  float: left;
  margin: 0;
}
.navbar-nav-no-collapse > li {
  float: left;
}
.navbar-nav-no-collapse > li > a {
  padding-top: 16px;
  padding-bottom: 16px;
}
.navbar-default .navbar-nav-no-collapse > li > a {
  color: #777777;
}
.navbar-default .navbar-nav-no-collapse > li > a:hover,
.navbar-default .navbar-nav-no-collapse > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-default .navbar-nav-no-collapse > .active > a,
.navbar-default .navbar-nav-no-collapse > .active > a:hover,
.navbar-default .navbar-nav-no-collapse > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav-no-collapse > .disabled > a,
.navbar-default .navbar-nav-no-collapse > .disabled > a:hover,
.navbar-default .navbar-nav-no-collapse > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-nav-no-collapse > .dropdown > a:hover .caret,
.navbar-default .navbar-nav-no-collapse > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar-default .navbar-nav-no-collapse > .open > a,
.navbar-default .navbar-nav-no-collapse > .open > a:hover,
.navbar-default .navbar-nav-no-collapse > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555;
}
.navbar-default .navbar-nav-no-collapse > .open > a .caret,
.navbar-default .navbar-nav-no-collapse > .open > a:hover .caret,
.navbar-default .navbar-nav-no-collapse > .open > a:focus .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar-default .navbar-nav-no-collapse > .dropdown > a .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}

/* These colors are copied from the default "success" button. */
#play-button-link {
  color: #fff;
  background-color: #5cb85c;
}
#play-button-link:hover, #play-button-link:focus {
  background-color: #47a447;
}
#play-button-link b.caret {
  border-top-color: #fff;
}

footer {
  color: #777;
  text-align: center;
}

ul.dashboard-boxes {
  list-style: none;
  margin: 0 -1em 0 0;
  padding: 0;
}
ul.dashboard-boxes li {
  float: left;
  margin: 1em 1em 0 0;
  position: relative;
  overflow: hidden;
}
ul.dashboard-boxes li strong {
  white-space: nowrap;
}
ul.dashboard-boxes li a.league {
  display: block;
  height: 60px;
  padding: 2px 8px 6px 8px;
  text-align: left;
  width: 151px;
}
ul.dashboard-boxes li a.league:hover {
  color: #000;
}
ul.dashboard-boxes li form.delete button {
  border-radius: 0 4px 0 4px;
  position: absolute;
  top: 0px;
  right: 5px;
}
ul.dashboard-boxes li.dashboard-box-new a {
  color: #fff;
}
ul.dashboard-boxes li.dashboard-box-new a:hover {
  color: #fff;
}
ul.dashboard-boxes li.dashboard-box-new h2 {
  font-size: 20px;
  line-height: 26px;
  margin-top: 1px;
}

.negotiation-team-years {
  width: 110px;
}
.negotiation-team-amount {
  width: 180px;
}

/* From the Bootstrap offcanvas example http://getbootstrap.com/examples/offcanvas/ */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    /*-webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;*/
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -100%;
  }

  /*.row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%;
  }*/

  /*.row-offcanvas-right.active {
    right: 100%;
  }

  .row-offcanvas-left.active {
    left: 100%;
  }*/

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.help-icon {
  cursor: pointer;
  font-size: 13px;
}

.sidebar-nav {
  padding: 9px 0;
}

table {
  white-space: nowrap;
}

.table-bordered tbody tr.separator td {
  border-bottom: 1px solid #888;
}
.table-bordered thead tr:last-child th {
  border-bottom: 1px solid #888;
}
.table-bordered tfoot tr:first-child th {
  border-top: 1px solid #888;
}

.roster-handle {
  cursor: move;
  max-width: 36px;
  min-width: 36px;
  width: 36px;
}
.roster-starter  {
  color: #428bca;
}
.roster-bench  {
  color: #5bc0de;
}

table#game_log_list tbody tr.alert-info td, table.leaders tbody tr.alert-info td, table#hall-of-fame tbody tr.alert-info td, table#team-history-players tbody tr.alert-info td {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

table#team-history-players tbody tr.alert-success td {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}

table#game_log_list tbody td {
  padding: 0;
}

table#game_log_list td a {
  color: #3a87ad;
  display: block;
  padding: 4px 5px 4px 5px;  /* Expand to encompass normal td padding, which was set to 0 here above. */
  text-decoration: none;
}

table#game_log_list tbody tr:hover td, table#messages tbody tr:hover td {
  background-color: #d9edf7;
  border-color: #bce8f1;
  text-decoration: none;
}

.table-nonfluid {
   width: auto;
}

/* Auto width seems to work well..
select.season {
  width: 125px;
}
select.seasons {
  width: 125px;
}
select.past-x {
  width: 135px;
}
select.teams {
  width: 203px;
}*/

#trade-summary {
  background-color: #fff;
}

#trade-summary form {
  margin-bottom: 5px;
}

#trade-select-team {
  width: 203px
}

.player_picture {
  height: 150px;
  float: left;
  margin-right: 10px;
  width: 100px;
}

.skill {
  cursor: default;
  font-size: 10px;
  line-height: 18px;
  margin-left: 5px;
  vertical-align: 2%;
}
.skills_alone {
  margin-left: -5px;
  vertical-align: 2%;
}

#roster select {
  margin: 0;
  width: auto;
  padding: 0;
  height: 20px;
}
/* These colors are duplicated in js/core/roster.js because of Firefox */
#roster select option[value="1"] {
  background-color: #ccc;
}
#roster select option[value="1.75"] {
  background-color: #070;
  color: #fff;
}
#roster select option[value="1.25"] {
  background-color: #0f0;
}
#roster select option[value="0.75"] {
  background-color: #ff0;
}
#roster select option[value="0"] {
  background-color: #a00;
  color: #fff;
}

.slide-out {
  visibility: hidden;
  padding: 20px;
  width: 200px;
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  -webkit-border-top-left-radius: 4px;
     -moz-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
}
/* http://twitterbootstrap3buttons.w3masters.nl/ */
.slide-out-handle {
  background-color: #563D7C;
  border-color: #563D7C;
  color: #fff;
  -webkit-border-bottom-left-radius: 0;
     -moz-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
     -moz-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
}
.slide-out-handle:hover,
.slide-out-handle:focus,
.slide-out-handle:active {
  background-color: #4a356b;
  border-color: #3e2c5a;
}

.bar-graph-small {
  height: 40px;
}
.bar-graph-medium {
  height: 60px;
}
.bar-graph-large {
  height: 100px;
}

/* From bootstrap */
.bar-graph-1 { background-color: #049cdb; }
.bar-graph-2 { background-color: #f89406; }
.bar-graph-3 { background-color: #9d261d; }
.bar-graph-4 { background-color: #ffc40d; }
.bar-graph-5 { background-color: #7a43b6; }
.bar-graph-6 { background-color: #46a546; }
.bar-graph-7 { background-color: #c3325f; }
.bar-graph-8 { background-color: #444; }

.icon-question-sign {
  cursor: pointer;
}

/* Stupid fix for popover in h4 */
.popover-content {
  font-size: 13px;
  font-weight: normal;
}

.finances-settings-label {
  line-height: 32px;
  padding-right: 1em;
  text-align: right;
  width: 100px;
}
.finances-settings-text {
  line-height: 32px;
  padding-left: 1em;
}
.finances-settings-text-small {
  font-size: 12px;
  line-height: 15px;
  padding-left: 1em;
}
.finances-settings-field {
  width: 115px;
}
.finances-settings button {
  display: none;
}

.label-injury {
  cursor: default;
  margin-left: 5px;
  vertical-align: 20%;
}

.trading-block-offer {
  margin-bottom: 2em;
}

.trading-block-offer h2 {
  float: left;
  margin-right: 0.5em;
}
.trading-block-offer form {
  margin-bottom: 0;
  padding-top: 1.2em;
}

#messages {
  table-layout: fixed;
  width: 100%;
}
#messages td {
  padding: 0;
}
#messages .year {
  width: 40px;
}
#messages .from {
  width: 130px;
}
#messages .text {
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
}
.unread {
  font-weight: bold;
}
#messages td a {
  color: #333333;
  display: block;
  padding: 4px 5px 4px 5px;
  text-decoration: none;
}

.alert p:last-child {
  margin-bottom: 0;
}