body {
  padding-top: 60px;
  padding-bottom: 40px;
}

a.brand img {
  vertical-align: top;
}

footer {
  color: #666666;
  text-align: center;
}

ul.dashboard_league {
  list-style: none;
  margin: 0 -1em 0 0;
  padding: 0;
}
ul.dashboard_league li {
  float: left;
  margin: 1em 1em 0 0;
  position: relative;
}
ul.dashboard_league li a {
  background-color: #eeeeee;
  display: block;
  height: 70px;
  padding: 8px;
  width: 130px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
ul.dashboard_league li a:hover {
  background-color: #dddddd;
  text-decoration: none;
}
ul.dashboard_league li form {
  position: absolute;
  top: 0px;
  right: 0px;
}
ul.dashboard_league li.dashboard_league_new a {
  color: #46a546;
}
ul.dashboard_league li.dashboard_league_new a:hover {
  color: #468847;
}

.sidebar-nav {
  padding: 9px 0;
}

#contentwrapper{
  float: left;
  width: 100%;
}
#league_content{
 margin-left: 145px; /*Set left margin to LeftColumnWidth*/
}
#league_menu{
  float: left;
  width: 125px; /*Width of left column*/
  margin-left: -100%;
}

#play_phase, #play_status {
  color: #dddddd;
}

table {
  white-space: nowrap;
}

div#play_button ul.btn {
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  
  border: 0;
  padding: 0;
  text-align: left;
}
div#play_button ul li a {
  text-shadow: none;
}
div#play_button ul li a.dropdown-toggle {
  color: #FFFFFF;
  text-shadow: none;
}
div#play_button ul li a.dropdown-toggle:hover {
  color: #FFFFFF;
  text-shadow: none;
}

.table-striped tbody tr.separator td {
  border-bottom: 1px solid #000;
}

table#roster td.starter, table#roster td.bench   {
  cursor: move;
  width: 18px;
}
span.roster_starter  {
  color: #0074cc;
}
span.roster_bench  {
  color: #49afcd;
}

table#game_log_list tbody tr:hover td {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
  cursor: pointer;
}

table#game_log_list tbody tr.alert-info td, table.leaders tbody tr.alert-info td {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

select.season {
  width: 120px;
}


/* From bootstrap-responsive.css, force big size */
  .row {
    margin-left: -30px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    margin-left: 30px;
  }
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }
  .span12 {
    width: 1170px;
  }
  .span11 {
    width: 1070px;
  }
  .span10 {
    width: 970px;
  }
  .span9 {
    width: 870px;
  }
  .span8 {
    width: 770px;
  }
  .span7 {
    width: 670px;
  }
  .span6 {
    width: 570px;
  }
  .span5 {
    width: 470px;
  }
  .span4 {
    width: 370px;
  }
  .span3 {
    width: 270px;
  }
  .span2 {
    width: 170px;
  }
  .span1 {
    width: 70px;
  }
  .offset12 {
    margin-left: 1230px;
  }
  .offset11 {
    margin-left: 1130px;
  }
  .offset10 {
    margin-left: 1030px;
  }
  .offset9 {
    margin-left: 930px;
  }
  .offset8 {
    margin-left: 830px;
  }
  .offset7 {
    margin-left: 730px;
  }
  .offset6 {
    margin-left: 630px;
  }
  .offset5 {
    margin-left: 530px;
  }
  .offset4 {
    margin-left: 430px;
  }
  .offset3 {
    margin-left: 330px;
  }
  .offset2 {
    margin-left: 230px;
  }
  .offset1 {
    margin-left: 130px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid > [class*="span"] {
    float: left;
    margin-left: 2.564102564%;
  }
  .row-fluid > [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid > .span12 {
    width: 100%;
  }
  .row-fluid > .span11 {
    width: 91.45299145300001%;
  }
  .row-fluid > .span10 {
    width: 82.905982906%;
  }
  .row-fluid > .span9 {
    width: 74.358974359%;
  }
  .row-fluid > .span8 {
    width: 65.81196581200001%;
  }
  .row-fluid > .span7 {
    width: 57.264957265%;
  }
  .row-fluid > .span6 {
    width: 48.717948718%;
  }
  .row-fluid > .span5 {
    width: 40.170940171000005%;
  }
  .row-fluid > .span4 {
    width: 31.623931624%;
  }
  .row-fluid > .span3 {
    width: 23.076923077%;
  }
  .row-fluid > .span2 {
    width: 14.529914530000001%;
  }
  .row-fluid > .span1 {
    width: 5.982905983%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-left: 0;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 1160px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 1060px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 960px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 860px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 760px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 660px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 560px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 460px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 360px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 260px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 160px;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 60px;
  }
  .thumbnails {
    margin-left: -30px;
  }
  .thumbnails > li {
    margin-left: 30px;
  }
