table#game_log_list tbody tr:hover td {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
  cursor: pointer;
}

table#game_log_list tbody tr.alert-info td {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

.table-striped tbody tr.separator td {
  border-bottom: 1px solid #000;
}
