{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-flow"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-for-of",
        "@babel/plugin-transform-parameters",
        "@babel/plugin-transform-destructuring",
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-transform-exponentiation-operator",
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
