# This is used by lightningcss in buildCss.ts and rolldown in rolldownConfig.ts

# https://en.wikipedia.org/wiki/Template:Google_Chrome_release_compatibility can be useful for picking this
Chrome >= 93

# Firefox 115 is ESR and last supported release on some old Mac/Windows versions
Firefox >= 115

Safari >= 15.4
