{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es2020": true
  },
  "plugins": [
    "@typescript-eslint",
    "react-hooks"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".mjs", ".js", ".json", ".ts", ".tsx"]
      }
    },
    "import/extensions": [
      ".js",
      ".mjs",
      ".jsx",
      ".ts",
      ".tsx"
    ],
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/no-onchange": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-constant-condition": ["error", { "checkLoops": false }],
    "no-empty": "off",
    "no-prototype-builtins": "off",
    "prefer-const": ["error", {
        "destructuring": "all"
    }],
    "react/display-name": "off",
    "react/jsx-key": "off",
    "react/no-unescaped-entities": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error"
  },
  "overrides": [{
    "files": "**/*.test.{js,ts}",
    "env": {
      "jest": true
    }
  }, {
    "files": ["*.js", "tools/**/*.{js,ts}"],
    "env": {
      "node": true
    },
    "rules": {
      "@typescript-eslint/no-var-requires": "off"
    }
  }, {
    "files": "src/deion/test/*.{js,ts}",
    "env": {
      "jest": true,
      "mocha": true
    }
  }],
  "globals": {
      "process": false
  }
}
