<h1>Multi Team Mode</h1>

<p>Here you can switch from controlling one team to controlling multiple teams. Why would you want to do this? A few reasons I can think of:</p>

<ul>
  <li>Live in-person multiplayer - two people sharing one computer can play in the same league together</li>
  <li>Extreme control - if you want to control how other teams behave, for some reason</li>
  <li>Online multiplayer - if you want to run a league where you are the commissioner and other people email you roster moves to make manually, you don't want AI fucking things up</li>
</ul>

<p>For more details, <a href="https://basketball-gm.com/blog/2015/03/new-feature-multi-team-mode/">read this blog post</a>. But basically, <a href="https://www.youtube.com/watch?v=4kly-bxCBZg">multi til the motherfucking sun die</a>.</p>

<p>
  <span data-bind="visible: userTids().length <= 1"><b class="text-danger">Multi team mode disabled!</b> To enable it, select all the teams you want to control below.</span>
  <span data-bind="visible: userTids().length > 1"><b class="text-success">Multi team mode enabled!</b> To disable it, unselect all but one team.</span>
  <span data-bind="visible: userTids().length === 0"><b class="text-danger">Error!</b> Select at least one team!</span>
  (Use ctrl or shift to select multiple teams.)
</p>

<div class="row">
  <div class="col-sm-6">
    <select class="form-control" data-bind="options: teams, optionsText: 'name', optionsValue: 'tid', selectedOptions: userTids, attr: {size: teams().length}" size="5" multiple="true"></select>
  </div>
</div>