<h1>Contract Negotiation <span data-bind="newWindow: []"></span></h1>

<p data-bind="visible: resigning">You are allowed to go over the salary cap to make this deal because you are re-signing <a data-bind="attrLeagueUrl: {href: ['player', player.pid]}, text: player.name"></a> to a contract extension. <strong>If you do not come to an agreement here, <a data-bind="attrLeagueUrl: {href: ['player', player.pid]}, text: player.name"></a> will become a free agent.</strong> He will then be able to sign with any team, and you won't be able to go over the salary cap to sign him.</p>
<p data-bind="visible: !resigning()">You are not allowed to go over the salary cap to make this deal because <a data-bind="attrLeagueUrl: {href: ['player', player.pid]}, text: player.name"></a> is a free agent.</p>

<p>
  Current Payroll: <span data-bind="currency: [payroll, 'M']"></span><br>
  Salary Cap: <span data-bind="currency: [salaryCap, 'M']"></span>
</p>

<h2><a data-bind="attrLeagueUrl: {href: ['player', player.pid]}, text: player.name"></a> <span data-bind="newWindow: ['player', player.pid]"></span></h2>
<p>
  Mood: <span data-bind="html: player.mood"></span><br>
  <span data-bind="html: player.age"></span> years old; Overall: <span data-bind="text: player.ratings.ovr"></span>; Potential: <span data-bind="text: player.ratings.pot"></span>
</p>

<h3>Contract Options</h3>

<div class="row">
  <div class="col-sm-8 col-md-6">
    <div class="list-group" data-bind="foreach: player.contractOptions">
      <div class="list-group-item" data-bind="css: {'list-group-item-success': smallestAmount()}" style="height: 54px">
        <div class="pull-left" style="padding-top: 8px">
          $<span data-bind="round: [amount, 2]"></span>M per year<span class="hidden-xs">, through <span data-bind="text: exp"></span></span> (<span data-bind="text: years() + (years() === 1 ? ' season' : ' seasons')"></span>)
        </div>

        <form class="pull-right" data-bind="attrLeagueUrl: {action: ['negotiation', $root.player.pid]}" method="POST">
          <input type="hidden" name="accept" value="1">
          <input type="hidden" name="amount" data-bind="attr: {value: amount}">
          <input type="hidden" name="exp" data-bind="attr: {value: exp}">
          <button type="submit" class="btn btn-success" id="accept">Sign<span class="hidden-xs"> Contract</span></button>
        </form>
      </div>
    </div>
  </div>
</div>

<form data-bind="attrLeagueUrl: {action: ['negotiation', player.pid]}" method="POST">
  <input type="hidden" name="cancel" value="1">
  <button type="submit" class="btn btn-danger">Can't reach a deal? End negotiation</button>
</form>
