<h1>Pick a New Team</h1>

<p data-bind="visible: !godMode()">After you were fired, your agent tried to get you job offers from other teams. Unfortunately, he was only able to secure offers from some of the worst teams in the league. Are you interested in running any of these teams?</p>
<p data-bind="visible: godMode">Because you're in <a data-bind="attrLeagueUrl: {href: ['god_mode']}">God Mode</a>, you can become the GM of any team.</p>

<form method="POST" data-bind="attrLeagueUrl: {action: ['new_team']}">
  <div class="form-group">
    <select name="tid" class="form-control select-team" data-bind="foreach: teams">
      <option data-bind="attr: {value: tid}, text: region() + ' ' + name()"></option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" id="new-team" data-bind="text: godMode() ? 'Switch Team' : 'Accept New Job'"></button>
</form>