<div data-bind="dropdown: 'playoffs'"></div>
<div data-bind="jumpToDropdown: season"></div>

<h1>Playoffs <span data-bind="newWindow: []"></span></h1>

<p data-bind="visible: !finalMatchups()">This is what the playoff matchups would be if the season ended right now.</p>

<!-- ko if: confNames().length === 2 -->
  <h3 class="hidden-xs"><span data-bind="text: confNames()[1]"></span> <span class="pull-right" data-bind="text: confNames()[0]"></span></h3>
<!-- /ko -->

<div class="table-responsive">
  <table class="table-condensed" width="100%">
    <tbody data-bind="foreach: matchups">
      <tr data-bind="foreach: $data">
        <td data-bind="matchup: [matchup(), $root.series(), $root.season()], attr: {rowspan: rowspan, width: 100 / ($root.numPlayoffRounds() * 2 - 1) + '%'}"></td>
      </tr>
    </tbody>
  </table>
</div>
