<h1>Power Rankings <span data-bind="newWindow: []"></span></h1>

<p>The "Performance" rating is based on point differential and recent team performance. The "Talent" rating is based on player ratings and stats. The "Overall" rating is a combination of the two.</p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="power-rankings">
    <thead>
      <tr>
        <th title="Overall">O</th>
        <th title="Performance">P</th>
        <th title="Talent">T</th>
        <th width="100%">Team</th><th title="Games Won">W</th><th title="Games Lost">L</th><th title="Last Ten Games">L10</th><th title="Point Differential">Diff</th></tr>
    </thead>
  </table>
</div>