<div data-bind="dropdown: 'standings'"></div>
<div data-bind="jumpToDropdown: season"></div>

<h1>Standings <span data-bind="newWindow: []"></span></h1>

<!-- ko foreach: confs -->
  <h2 data-bind="text: name"></h2>
  <div class="row">
    <div class="col-sm-9" data-bind="foreach: divs">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed standings-division">
          <thead>
            <tr><th width="100%" data-bind="text: name"></th><th>W</th><th>L</th><th>Pct</th><th>GB</th><th>Home</th><th>Road</th><th>Div</th><th>Conf</th><th>Streak</th><th>L10</th></tr>
          </thead>
          <tbody data-bind="foreach: teams">
            <tr data-bind="css: {info: highlight}"><td>
              <a data-bind="attrLeagueUrl: {href: ['roster', abbrev, $parents[2].season]}, text: region() + ' ' + name()"></a>
              <span data-bind="visible: confRank() <= 8, text: '(' + confRank() + ')'"></span>
            </td><td data-bind="text: won"></td><td data-bind="text: lost"></td><td data-bind="roundWinp: winp"></td><td data-bind="text: gb"></td><td data-bind="text: wonHome() + '-' + lostHome()"></td><td data-bind="text: wonAway() + '-' + lostAway()"></td><td data-bind="text: wonDiv() + '-' + lostDiv()"></td><td data-bind="text: wonConf() + '-' + lostConf()"></td><td data-bind="text: streak"></td><td data-bind="text: lastTen"></td></tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-3 hidden-xs">
      <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr><th width="100%">Team</th><th align="right">GB</th></tr>
      </thead>
      <tbody data-bind="foreach: teams">
        <tr data-bind="css: {separator: $index() === 7 && $root.playoffsByConference(), info: highlight}"><td><span data-bind="text: rank"></span>. <a data-bind="attrLeagueUrl: {href: ['roster', abbrev, $parents[1].season]}, text: region"></a></td><td align="right" data-bind="text: gb"></td></tr>
      </tbody>
      </table>
    </div>
  </div>
<!-- /ko -->
