<div data-bind="dropdown: 'team-stat-dists'"></div>

<h1>Team Stat Distributions <span data-bind="newWindow: []"></span></h1>
<p>More: <a data-bind="attrLeagueUrl: {href: ['team_stats', season]}">Main Stats</a> | <a data-bind="attrLeagueUrl: {href: ['team_shot_locations', season]}">Shot Locations</a></p>

<p>These <a href="http://en.wikipedia.org/wiki/Box_plot">box plots</a> show the league-wide distributions of team stats for the selected season. Black plots are for this league and blue plots are from the 2010-2011 NBA season, for comparison. The five vertical lines in each plot represent the minimum of the scale, the minimum, the first <a href="http://en.wikipedia.org/wiki/Quartile">quartile</a>, the median, the third quartile, the maximum, and the maximum of the scale.</p>

<table id="team-stat-dists">
  <tbody></tbody>
</table>