<div data-bind="dropdown: 'team-history'"></div>

<h1><span data-bind="text: team.region"></span> <span data-bind="text: team.name"></span> History <span data-bind="newWindow: []"></span></h1>
<p>More: <a data-bind="attrLeagueUrl: {href: ['roster', abbrev]}">Roster</a> | <a data-bind="attrLeagueUrl: {href: ['team_finances', abbrev]}">Finances</a> | <a data-bind="attrLeagueUrl: {href: ['game_log', abbrev]}">Game Log</a>
| <a data-bind="attrLeagueUrl: {href: ['transactions', abbrev]}">Transactions</a></p></p>

<div class="row">
  <div class="col-sm-3">
    <h2>Overallxxx</h2>
    <p>
      Record: <span data-bind="text: totalWon"></span>-<span data-bind="text: totalLost"></span><br>
      Playoff Appearances: <span data-bind="text: playoffAppearances"></span><br>
      Championships: <span data-bind="text: championships"></span><br>
      Best Record: <span data-bind="recordAndPlayoffs: [$root.abbrev, bestRecord.season, bestRecord.won, bestRecord.lost]"></span><br>
      Worst Record: <span data-bind="recordAndPlayoffs: [$root.abbrev, worstRecord.season, worstRecord.won, worstRecord.lost]"></span>
    </p>

    <h2>Seasons</h2>
    <p style="-moz-column-width: 15em; -moz-columns: 15em; -webkit-columns: 15em; columns: 15em;">
      <!-- ko foreach: history -->
        <span data-bind="recordAndPlayoffs: [$root.abbrev, season, won, lost, playoffRoundsWon]"></span><br>
      <!-- /ko -->
    </p>
  </div>
  <div class="col-sm-9">
    <h2>Players</h2>
    <p>Players currently on this team are <span class="text-success">highlighted in green</span>. Active players on other teams are <span class="text-info">highlighted in blue</span>. Players in the Hall of Fame are <span class="text-danger">highlighted in red</span>.</p>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-condensed" id="team-history-players">
        <thead>
          <tr><th>Name</th><th title="Position">Pos</th><th title="Games Played">GP</th><th title="Minutes Per Game">Min</th><th title="Points Per Game">Pts</th><th title="Rebounds Per Game">Reb</th><th title="Assists Per Game">Ast</th><th title="Player Efficiency Rating">PER</th><th title="Estimated Wins Added">EWA</th><th title="Last Season with Team">Last Season</th></tr>
        </thead>
      </table>
    </div>
  </div>
</div>
