.notification-container {
	ul,
	li {
		padding: 0;
		margin: 0;
	}

	ul {
		position: fixed;
		bottom: 0;
		right: 6px;
		top: 0;
		display: flex;
		flex-direction: column;
		list-style: none;
		justify-content: flex-end;
		pointer-events: none;
	}
}

.notification-container-extra-margin-bottom {
	ul {
		bottom: 40px;
	}
}
.trade-extra-margin-bottom {
	margin-bottom: 40px;
}

.notification-close-all {
	background-color: #000;
	border-radius: 3px;
	box-shadow: #999 0 0 12px;
	color: #c0c0c0; // Try to match normal close button
	opacity: 0.8;

	&:hover {
		box-shadow: #000 0 0 12px;
		color: #fff;
		opacity: 1;
	}

	font-size: 20px;

	border-width: 0px;

	position: fixed;
	right: 312px;
	bottom: 6px;

	width: 31px;
	height: 31px;
}

.notification {
	background-color: #000;
	border-radius: 3px;
	box-shadow: #999 0 0 12px;
	color: #fff;
	margin: 0 0 6px;
	opacity: 0.8;
	padding: 6px 12px;
	pointer-events: auto;
	position: relative;
	width: 300px;
	z-index: 1000;

	&:hover {
		box-shadow: #000 0 0 12px;
		opacity: 1;
	}

	a {
		// Decrease saturation by 30, increase value by 10
		color: #a5c7e3;

		&:hover {
			// Decrease saturation by 30, increase value by 10
			color: #a5c7e3;
		}
	}
}

.notification .notification-close {
	font-size: 20px;
	background: transparent;
	border: 0;
	color: #fff !important;
	cursor: pointer;
	padding: 0 7px;
	opacity: 0.7;
	position: absolute;
	top: 0;
	right: 0;

	&:hover,
	&:focus {
		opacity: 1;
	}
}

// Colors are arbitrary, just whatever looks good

.notification-danger {
	color: #fff;
	background-color: darkred;
}

.notification-primary {
	color: #fff;
	background-color: #0055a0;

	a {
		color: #fff;

		&:hover {
			color: #fff;
		}
	}
}
