// These are so clicking on an element in one of the top navbar dropdown lists does not flash blue
$dropdown-link-active-color: #fff; // Matches hover
$dropdown-link-active-bg: #343a40; // Matches hover: $gray-100

$white: #212529;
$gray-100: #343a40;
$gray-200: #495057;
$gray-300: #6c757d;
$gray-400: #adb5bd;
$gray-500: #ced4da;
$gray-600: #dee2e6;
$gray-700: #e9ecef;
$gray-800: #f8f9fa;
$gray-900: #f8f9fa;
$black: #fff;
$blue: lighten(#007bff, 25);
$indigo: lighten(#6610f2, 20);
$purple: lighten(#6f42c1, 20);
$pink: lighten(#e83e8c, 20);
$red: lighten(#dc3545, 0);
$orange: lighten(#fd7e14, 10);
$yellow: lighten(#ffc107, 20);
$green: lighten(#28a745, 10);
$teal: lighten(#20c997, 20);
$cyan: lighten(#17a2b8, 20);

$primary: $orange;
$secondary: $gray-400;
$text-muted: $gray-400;

@import "light";

.btn {
    color: $black;

    &:hover {
        color: $black;
    }

    &:disabled {
        color: $gray-700;
    }
}

.text-danger {
    color: lighten($red, 10) !important;
}

.btn-danger {
    border-color: darken($red, 20);
    background-color: darken($red, 20);

    &:not(:disabled):hover {
        border-color: darken($red, 25);
        background-color: darken($red, 25);
    }
}

.btn-primary {
    border-color: darken($orange, 25);
    background-color: darken($orange, 25);
    color: #fff !important;

    &:not(:disabled):hover {
        border-color: darken($orange, 30);
        background-color: darken($orange, 30);
    }
}

.btn-success {
    border-color: darken($green, 20);
    background-color: darken($green, 20);

    &:hover {
        border-color: darken($green, 25);
        background-color: darken($green, 25);
    }
}

.btn-primary,
.btn-secondary {
    color: $white;

    &:not(:disabled):hover {
        color: $white;
    }

    &:disabled {
        color: $gray-200;
    }
}

.btn-light-bordered:hover {
    background-color: $gray-100;
}

.badge-danger {
    background-color: darken($red, 20);
    color: $black;
}

a.play-button {
    color: $black !important;
    background-color: darken($green, 20) !important;

    &:hover,
    &:active,
    &:focus {
        background-color: darken($green, 25) !important;
    }
}

.notification {
    box-shadow: #444 0 0 12px;
}

.god-mode,
.sidebar a.god-mode {
    background-color: darken($purple, 20);
    color: $black;
}
a.god-mode,
.sidebar a.god-mode {
    &:hover {
        background-color: darken($purple, 10);
        color: $black;
        text-decoration: none;
    }
}
.sidebar a.god-mode.active {
    background-color: darken($purple, 10);
    color: $primary;
}

.watch-active,
.watch-active:hover {
    color: darken($green, 10);
}

@keyframes oscillate-bg {
    0% {
        background-color: darken($primary, 40);
    }

    50% {
        background-color: darken($primary, 45);
    }

    100% {
        background-color: darken($primary, 40);
    }
}

table.table thead .sorting::after {
    opacity: 0.4;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.92;
    }
}

@keyframes fadeOut {
    from {
        opacity: 0.92;
    }

    to {
        opacity: 0;
    }
}

.table-accent {
    background-color: rgba(255, 255, 255, 0.1);
}
