// These are so clicking on an element in one of the top navbar dropdown lists does not flash blue
$dropdown-link-active-color: #fff; // Matches hover
$dropdown-link-active-bg: #343a40; // Matches hover: $gray-100

$white: #212529;
$gray-100: #343a40;
$gray-200: #495057;
$gray-300: #6c757d;
$gray-400: #adb5bd;
$gray-500: #ced4da;
$gray-600: #dee2e6;
$gray-700: #e9ecef;
$gray-800: #f8f9fa;
$gray-900: #f8f9fa;
$black: #fff;
$blue: lighten(#007bff, 25);
$indigo: lighten(#6610f2, 20);
$purple: lighten(#6f42c1, 20);
$pink: lighten(#e83e8c, 20);
$red: lighten(#dc3545, 0);
$orange: lighten(#fd7e14, 10);
$yellow: lighten(#ffc107, 20);
$green: lighten(#28a745, 10);
$teal: lighten(#20c997, 20);
$cyan: lighten(#17a2b8, 20);

$primary: $orange;
$secondary: $gray-400;
$text-muted: $gray-400;

@import "light";

.btn {
	color: $black;

	&:hover {
		color: $black;
	}

	&:disabled {
		color: $gray-700;
	}
}
.btn-link,
.btn-link:hover {
	color: $primary;
}

.text-danger {
	color: lighten($red, 10) !important;
}

.btn-danger {
	border-color: darken($red, 20);
	background-color: darken($red, 20);

	&:active,
	&:focus,
	&:not(:disabled):hover {
		border-color: darken($red, 25) !important;
		background-color: darken($red, 25) !important;
		color: $black !important;
	}
}

.btn-primary {
	border-color: darken($orange, 25);
	background-color: darken($orange, 25);
	color: #fff !important;

	&:active,
	&:focus,
	&:not(:disabled):hover {
		border-color: darken($orange, 30) !important;
		background-color: darken($orange, 30) !important;
	}
}

.btn-success {
	border-color: darken($green, 20);
	background-color: darken($green, 20);

	&:active,
	&:focus,
	&:hover {
		border-color: darken($green, 25) !important;
		background-color: darken($green, 25) !important;
		color: $black !important;
	}
}
.bg-success {
	background-color: darken($green, 20) !important;

	&:hover,
	&:active,
	&:focus {
		background-color: darken($green, 25) !important;
	}
}

.btn-secondary {
	color: $white;

	&:active,
	&:focus,
	&:not(:disabled):hover {
		color: $white !important;
	}

	&:disabled {
		color: $gray-200;
	}
}

.active.btn-light-bordered,
.btn-light-bordered:hover {
	background-color: $gray-100 !important;
}

.badge-danger {
	background-color: darken($red, 20);
	color: $black;
}

a.play-button {
	color: $black !important;
}

.notification,
.notification-close-all {
	box-shadow: #444 0 0 12px;
}

.god-mode,
.sidebar a.god-mode {
	background-color: darken($purple, 20);
	color: $black;
}
a.god-mode,
.sidebar a.god-mode {
	&:hover {
		background-color: darken($purple, 10);
		color: $black;
		text-decoration: none;
	}
}
a.god-mode.active {
	background-color: darken($purple, 10);
	color: $black;
}
.sidebar a.god-mode.active {
	background-color: darken($purple, 10);
	color: $primary;
}

.btn-god-mode {
	@include button-variant(darken($purple, 20), $gray-400);
	&,
	&:active,
	&:focus,
	&:not(:disabled):hover {
		color: $black !important;
	}
}

.alert-god-mode {
	background-color: darken($purple, 45) !important;
}

.watch-active,
.watch-active:hover {
	color: darken($green, 10);
}

@keyframes oscillate-bg {
	0% {
		background-color: darken($success, 20);
	}

	50% {
		background-color: lighten($success, 20);
	}

	100% {
		background-color: darken($success, 20);
	}
}

table.table thead .sorting::after {
	opacity: 0.4;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.92;
	}
}

@keyframes fadeOut {
	from {
		opacity: 0.92;
	}

	to {
		opacity: 0;
	}
}

.dark-select__control {
	background-color: $white !important;
}
.dark-select__control--is-focused {
	border-color: $primary !important;
	box-shadow: $primary 0 0 1px !important;
}
.dark-select__single-value {
	color: $black !important;
}
.dark-select__input {
	background-color: $white !important;
	color: $black !important;
}

.dark-select__menu-list {
	background-color: $white !important;
	color: $black !important;
}
.dark-select__indicator svg {
	color: $gray-300 !important;
	&:not(:disabled):hover {
		color: $gray-400 !important;
	}
}
.dark-select__option {
	background-color: $white !important;
	color: $black !important;
}
.dark-select__option:hover {
	background-color: $gray-100 !important;
	color: $black !important;
}
.table-accent {
	background-color: rgba(255, 255, 255, 0.1);
}

.modal-backdrop.show {
	opacity: 0.25; /* otherwise it is blindingly bright */
}

.new_window {
	stroke: #fff;
}

.dropdown-select {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22200%22%20height%3D%22100%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M%200%2C0%20L%20100%2C100%20L%20200%2C0%20z%22%2F%3E%3C%2Fsvg%3E");
}

// For Firefox: https://mail.google.com/mail/u/0/#sent/FMfcgxwGDDlBLslqTJrgVGGsTVMGLjNx?compose=lqrsljbfHSlTfwlWfkfgJZGFBMJhCZGwxnNHFrchrZwsNsKzFxrVPNQnHBRBvMchPkvLxQTLsjknLTNJK
input[type="checkbox"][disabled]:not(.custom-control-input) {
	cursor: not-allowed;
	opacity: 0.65;
}

.badge-primary,
.badge-secondary,
.badge-success,
.badge-info,
.badge-warning,
.badge-dark,
.badge-yellow {
	color: $white;
}

.badge-danger,
.badge-light {
	color: $black;
}
