@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"),
        url("../fonts/glyphicons-halflings-regular.woff") format("woff");
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-camera:before {
    content: "\e046";
}
.glyphicon-filter:before {
    content: "\e138";
}
.glyphicon-flag:before {
    content: "\e034";
}
.glyphicon-home:before {
    content: "\e021";
}
.glyphicon-menu-left:before {
    content: "\e257";
}
.glyphicon-ok:before {
    content: "\e013";
}
.glyphicon-option-vertical:before {
    content: "\e235";
}
.glyphicon-question-sign:before {
    content: "\e085";
}
.glyphicon-remove:before {
    content: "\e014";
}
.glyphicon-stats:before {
    content: "\e185";
}
.glyphicon-user:before {
    content: "\e008";
}
.glyphicon-play:before {
    content: "\e072";
}
.glyphicon-pause:before {
    content: "\e073";
}
.glyphicon-step-forward:before {
    content: "\e077";
}
