// These are so clicking on an element in one of the top navbar dropdown lists does not flash blue
$dropdown-link-active-color: #16181b !default; // Matches hover: darken($gray-900, 5%)
$dropdown-link-active-bg: #f8f9fa !default; // Matches hover: $gray-100

$font-size-base: 0.8125rem;
$black: #000 !default;

// Taken from bootstrap.scss, but with unused things deleted
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/utilities";

@import "datatable";
@import "bbgm-notifications";
@import "glyphicons";
@import "sidebar";

body {
	padding-top: 52px;
}

h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}

.bbgm-container {
	padding: 0 15px;
	width: 100%;
}
.skyscraper-wrapper {
	display: none;
}

@media screen and (min-width: map-get($grid-breakpoints, xl) + 190px) {
	.padding-for-skyscraper {
		padding-right: 190px;
	}
	.skyscraper-wrapper {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: 600px;
		width: 190px;
	}
	#bbgm-ads-skyscraper {
		width: 160px;
		height: 600px;
		margin: 0 auto;
	}
}

.navbar-brand {
	img {
		vertical-align: -3px;
	}

	span {
		padding-left: 5px;
	}
}

// This is so "Football GM" takes up the same space as "Basketball GM", allowing the Play dropdown to align with the menu on the left.
@include media-breakpoint-up(xl) {
	.navbar-brand {
		min-width: 129px;
	}
}

.spin {
	animation: spin 4s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.god-mode,
.sidebar a.god-mode {
	background-color: $purple;
	color: $white;
}
a.god-mode,
.sidebar a.god-mode {
	&:hover {
		background-color: darken($purple, 10);
		color: $white;
		text-decoration: none;
	}
}
a.god-mode.active {
	background-color: darken($purple, 10);
	color: $white;
}
.sidebar a.god-mode.active {
	background-color: darken($purple, 10);
	color: lighten($primary, 30);
}

.god-mode-text {
	padding: 0 3px;
}

.btn-god-mode {
	@include button-variant($purple, $gray-400);
}

.alert-god-mode {
	background-color: lighten($purple, 40) !important;
}

.play-button {
	font-size: 1.01562rem;
	padding: 14px !important;
	height: 51px;
}

.dropdown-item {
	cursor: pointer;
}

.kbd {
	display: none;
}
@include media-breakpoint-up(sm) {
	.kbd-parent {
		position: relative;
		padding-right: 70px;
	}
	.kbd {
		display: block;
		position: absolute;
		right: 20px;
		top: 4px;
	}
}

.dashboard-top-link {
	line-height: 1.35;
	padding: 5px 8px 6px;
	text-align: left;
	width: 155px;
	height: 77px;
}

.dashboard-top-link-new {
	font-size: 20px;
	padding-top: 11px;
}

.dashboard-top-link-small {
	font-size: 16px;
}

.dashboard-top-link-other {
	color: $gray-800;
	font-size: 15px;
	background-repeat: no-repeat;

	&:hover {
		color: $black;
	}
}

.dashboard-top-link-other-football {
	background-image: url("https://play.basketball-gm.com/ico/icon70.png");
	background-position: 100px 41px;
}
.dashboard-top-link-other-basketball {
	background-image: url("https://play.football-gm.com/ico/icon70.png");
	background-position: 81px 34px;
}

@include media-breakpoint-down(xs) {
	.dashboard-top-wrapper {
		text-align: center;
	}
	a.dashboard-top-link-other-basketball {
		width: 326px;
		height: inherit;
		background-position: 236px 0px;
	}
}

.dashboard-controls {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	vertical-align: middle !important;
}

.dashboard-play-loading {
	animation: oscillate-bg 1.5s infinite;
}

.dashboard-table table td {
	vertical-align: inherit;
}

@keyframes oscillate-bg {
	0% {
		background-color: lighten($success, 8);
	}

	50% {
		background-color: darken($success, 8);
	}

	100% {
		background-color: lighten($success, 8);
	}
}

.negotiation-team-years {
	width: 110px;
}

.negotiation-team-amount {
	width: 180px;
}

.help-icon {
	cursor: pointer;
	font-size: 13px;
}

table {
	white-space: nowrap;
}

.table-bordered {
	tbody tr.separator td {
		border-bottom: 1px solid $gray-700;
	}
}

.roster-handle {
	max-width: 36px;
	min-width: 36px;
	width: 36px;
}

.game-log-list {
	tbody td.game-log-cell {
		padding: 0;
	}

	td.game-log-cell a {
		display: block;
		// Expand to encompass normal td padding, which was set to 0 here above.
		padding: 4px 5px;
		text-decoration: none;
	}
}

.game-log-list tbody tr:hover td.game-log-cell,
.messages-table tbody tr:hover td {
	@extend .table-active;
	text-decoration: none;
}

@include media-breakpoint-down(xs) {
	.mx-xs-auto {
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

// Make table not stretch to 100% width automatically
@include media-breakpoint-up(sm) {
	.table-nonfluid {
		display: inline-block;
		max-width: 100%;
		width: unset;
		.table {
			width: 1px;
		}
	}

	.table-nonfluid-wrapper {
		display: inline-block;
	}
}

.select-team {
	width: 203px;
}

.player-picture {
	height: 180px;
	float: left;
	margin-right: 10px;
	width: 120px;
}

.player-awards {
	white-space: normal;
}

.team-picture {
	display: none; // Hide by default, shown in views/roster.js
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 120px;
	height: 120px;
}

.team-picture-splash {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 90px;
	height: 90px;
	float: left;
}

.skill {
	cursor: default;
	font-size: 10px;
	line-height: 18px;
	margin-left: 5px;
	vertical-align: 2%;
}

.skills-alone {
	margin-left: -5px;
	vertical-align: 2%;
}

.jersey-number-name {
	font-size: 10px;
	line-height: 18px;
	vertical-align: 2%;
	display: inline-block;
	min-width: 15px;
}

.jersey-number-popover {
	font-size: 10px;
	line-height: 18px;
	vertical-align: 4%;
}

.watch,
.watch:hover {
	color: $gray-500;
	cursor: pointer;
	margin-left: 5px;
	text-decoration: none;
}

.watch-active,
.watch-active:hover {
	color: $danger;
}

.pt-modifier-select {
	margin: 0;
	width: auto;
	padding: 0;
	height: 20px;
}

// These colors are duplicated from Roster.js
.pt-modifier-select {
	option[value="1"] {
		background-color: $gray-400;
		color: $black;
	}

	option[value="1.75"] {
		background-color: $blue;
		color: $white;
	}

	option[value="1.25"] {
		background-color: $cyan;
		color: $white;
	}

	option[value="0.75"] {
		background-color: $warning;
		color: $black;
	}

	option[value="0"] {
		background-color: $danger;
		color: $white;
	}
}

.bar-graph-small {
	height: 40px;
}

.bar-graph-medium {
	height: 60px;
}

.bar-graph-large {
	height: 100px;
}

.bar-graph-1 {
	background-color: $blue;
}
.bar-graph-2 {
	background-color: $pink;
}
.bar-graph-3 {
	background-color: $yellow;
}
.bar-graph-4 {
	background-color: $cyan;
}
.bar-graph-5 {
	background-color: $indigo;
}
.bar-graph-6 {
	background-color: $red;
}
.bar-graph-7 {
	background-color: $green;
}
.bar-graph-8 {
	background-color: $orange;
}

.icon-question-sign {
	cursor: pointer;
}

// Stupid fix for popover in h4
.popover-body {
	font-size: 13px;
	font-weight: normal;

	p:last-child {
		margin-bottom: 0;
	}
}

.finances-settings-label {
	line-height: 32px;
	padding-right: 1em;
	text-align: right;
	width: 100px;
}

.finances-settings-text {
	line-height: 30px;
	padding-left: 1em;
}

.finances-settings-text-small {
	font-size: 12px;
	line-height: 15px;
	padding-left: 1em;
}

.finances-settings-field {
	width: 115px;

	.input-group-append,
	.input-group-prepend {
		height: 27px;
	}
}

.finances-settings button {
	display: none;
}

.badge-injury {
	cursor: default;
	margin-left: 5px;
	vertical-align: 20%;
}

#messages-table {
	table-layout: fixed;
	width: 100%;

	td {
		padding: 0;

		a {
			color: $black;
			display: block;
			padding: 4px 5px;
			text-decoration: none;
		}
	}

	.year {
		width: 40px;
	}

	.from {
		width: 130px;
	}

	.text {
		overflow: hidden;
		text-overflow: ellipsis;
		width: auto;
	}
}

.new_window {
	cursor: pointer;
	stroke: #000;
	vertical-align: 0;
}

@media (max-width: 768px) {
	.new_window {
		display: none;
	}
}

.alert p:last-child {
	margin-bottom: 0;
}

.alert-top {
	margin-top: 20px;
	padding-bottom: 2px;
	padding-top: 12px;

	button {
		margin-top: -4px;
	}
}

.alert-changes {
	h4 {
		margin-top: 0;
	}

	ul {
		margin-bottom: 9px;
		padding-left: 18px;
	}
}

// HACK so that other table classes can be overriden in teamHistory (and possibly elsewhere).
tr.table-warning > td {
	@extend .table-warning;
}
tr.table-warning:hover > td {
	@extend .table-warning:hover;
}

// Keep in sync with setPlayByPlayDivHeight
.live-game-affix {
	margin-top: 1em;
}
@include media-breakpoint-up(md) {
	.live-game-affix {
		position: -webkit-sticky;
		position: sticky;
		margin-top: 0;
		top: 60px;
	}
	.live-game-playbyplay {
		overflow: auto;
	}
}

// Keep in sync with trade/index.tsx
@include media-breakpoint-up(md) {
	.trade-affix {
		position: -webkit-sticky;
		position: sticky;
		top: 60px;
	}
	.trade-items {
		overflow: auto;
	}
}

.multi-team-menu {
	background-color: $white;
	opacity: 0.9;
	position: fixed;
	right: 6px;
	bottom: 0;
	padding-bottom: 6px;
	border-radius: 0.25em 0.25em 0 0;
}

.dropdown-toggle {
	cursor: pointer;
}

.user-select-none {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-xs {
	padding: 0.25rem 0.4rem;
	font-size: 0.75rem;
	line-height: 0.9;
	border-radius: 0.2rem;
}

.btn-light-bordered {
	@extend .btn-light;
	background-color: $white;
	border: 1px solid $gray-400 !important;
	color: $gray-700 !important;
}

.navbar-border {
	border-bottom: 1px solid $gray-200;
}

.dropdown-links .nav-item,
#top-user-block .nav-item,
.play-button-wrapper {
	margin: -8px 0;
	height: 51px;
}
.dropdown-links .dropdown.show.nav-item {
	background-color: $gray-200;
}
.dropdown-links .nav-link {
	padding: 16px 8px;
}
@include media-breakpoint-up(xl) {
	.dropdown-links .nav-link {
		padding: 16px;
	}
}

#top-user-block .nav-link {
	padding: 16px 0 16px 8px;
}
@include media-breakpoint-up(xl) {
	#top-user-block .nav-link {
		padding: 16px 0 16px 16px;
	}
}

.nav-link {
	cursor: pointer;
}

.navbar .dropdown-menu {
	border-top-color: $gray-200;
	border-radius: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
}

// Needed to fix navbar nesting on xs - not sure why, maybe bug in Boostrap or Reactstrap?
.navbar-nav {
	.dropdown-menu {
		position: absolute;
	}
}

.legend-square {
	bottom: -2.5px;
	display: inline-block;
	height: 15px;
	position: relative;
	width: 15px;
}

// https://github.com/twbs/bootstrap/issues/27493
.table tfoot {
	tr:first-child {
		th {
			border-top-width: 2px;
		}
	}
}
.table thead {
	// Override default Bootstap, looks ugly to have 2px borders when there are two rows in thead
	tr {
		th {
			border-bottom-width: 1px;
		}
	}
	tr:last-child {
		th {
			border-bottom-width: 2px;
		}
	}
}

.table tr {
	min-height: 30px;
}

.table-responsive {
	margin-bottom: 1rem;

	// https://github.com/twbs/bootstrap/issues/29313#issuecomment-589969379
	-webkit-overflow-scrolling: auto;

	.table {
		margin-bottom: 0;
	}
}

.table-accent {
	background-color: rgba(0, 0, 0, 0.1);
}

// Hack to get rid of annoying "Privacy Settings" tab from Quantcast CMP
.qc-cmp-persistent-link {
	display: none !important;
}

.playoff-matchup {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
	max-width: 200px;

	li {
		height: 40px;
		display: flex;
		align-items: center;
	}

	li:last-child {
		border: none;
	}
}
.playoff-matchup-logo {
	width: 40px;
	height: 40px;
}

@media (min-width: 1600px) {
	.d-xxl-none {
		display: none !important;
	}
	.d-xxl-inline {
		display: inline !important;
	}
	/*.d-xxl-inline-block {
    display: inline-block !important; }
  .d-xxl-block {
    display: block !important; }
  .d-xxl-table {
    display: table !important; }
  .d-xxl-table-row {
    display: table-row !important; }
  .d-xxl-table-cell {
    display: table-cell !important; }
  .d-xxl-flex {
    display: flex !important; }
  .d-xxl-inline-flex {
    display: inline-flex !important; } }*/
}

.chart-legend {
	background-color: rgba($white, 0.75);
	position: absolute;
	top: 42px;
	left: 20px;
}
.chart-line {
	fill: none;
}
.chart-point {
	fill: $white;
}
.chart-axis {
	line,
	path {
		stroke: $secondary;
	}

	text {
		fill: $secondary;
	}
}

.cursor-pointer {
	cursor: pointer;
}
.cursor-grab {
	cursor: grab;
}
.cursor-grabbing {
	cursor: grabbing;
}

.title-bar {
	margin-left: -17px;
	h1 {
		margin-left: 17px;
	}
	min-height: 52px;
	select {
		font-size: 14px;
	}
	option {
		font-size: 12px;
	}
	.dropdown-links .dropdown.show.nav-item {
		background-color: $gray-100;
	}
}
.dropdown-select {
	display: block;
	margin: 0 1px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	padding: 0 13px;
	background-color: inherit;
	border: 0;
	color: inherit;
	cursor: pointer;
	text-decoration-style: dashed;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22200%22%20height%3D%22100%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M%200%2C0%20L%20100%2C100%20L%20200%2C0%20z%22%2F%3E%3C%2Fsvg%3E");
	background-repeat: no-repeat, repeat;
	background-position: right 0 top 45%, 0 0;
	background-size: 0.62em auto, 100%;

	option {
		color: #000;
	}
}

.league-top-bar-toggle {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	width: 15px;
	height: 56px;
	z-index: 1000;
}

.score-box {
	max-width: 400px;
}

.score-box-deadline {
	height: 54px;
}

.score-box-header {
	height: 27px;
	margin-top: -27px;
}

.score-box-logo {
	margin-left: 1px;
	height: 24px;
	width: 24px;
}

.score-box-spread {
	min-width: 52px;
}

.score-box-score {
	min-width: 44px;
	a {
		display: block;
		height: 100%;
		width: 100%;
	}
}

.score-box-action {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	height: 56px;
}

.border-light {
	border: 1px solid;
	border-color: $gray-300 !important;
}

.form-check-input {
	// Default does not do well with altered font-size-base
	margin-top: 3px;
}

.text-warning {
	color: darken($yellow, 10%) !important;
}

.badge-news {
	font-size: inherit;
	font-weight: inherit;
}
.badge-darkblue {
	background-color: #007bff;
	color: #fff;
}
.badge-orange {
	background-color: lighten(#fd7e14, 10);
	color: #000;
}

.sort-inside-modal {
	z-index: 999999999;
}

button.live-game-sim-more {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-width: 0 !important;
}

.player-stats-summary {
	td,
	th {
		border-bottom-width: 0 !important;
		border-top-width: 0 !important;
	}
}

@include media-breakpoint-down(xs) {
	// Same as .table-responsive
	.player-stats-summary {
		display: block;
		width: 100%;
		overflow-x: auto;
		// https://github.com/twbs/bootstrap/issues/29313#issuecomment-589969379
		-webkit-overflow-scrolling: auto;

		.table {
			margin-bottom: 0;
		}
	}
}

@include media-breakpoint-up(sm) {
	.table-separator-right {
		border-right: 2px solid $gray-300;
		padding-right: 1em !important;
	}
	.table-separator-left {
		padding-left: 1em !important;
	}
}
