// https://getbootstrap.com/docs/4.1/examples/dashboard/

$sidebar-width: 154px; // Line up with Play button

.sidebar {
	display: none;
}

.sidebar-inner {
	position: relative;
	height: 100%;
	padding: 0.5rem 0;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	z-index: 1040;
	border-right: 1px solid $gray-200;
}

.sidebar-inner .nav-link {
	font-weight: 500;
	color: $gray-900;
	padding: 4px $container-padding-x;
}

.sidebar-inner .nav-link.active {
	background-color: $gray-200;
	color: $primary;
}

.sidebar-inner .nav-link:hover {
	background-color: $gray-200;
}

.sidebar-heading {
	font-size: 0.75rem;
	text-transform: uppercase;
	padding: 0 $container-padding-x;
	cursor: pointer;
	@extend .mt-3;
	@extend .mb-1;
	@extend .text-muted;

	&:hover {
		text-decoration: none;
	}

	// Make like h2
	display: block;
	font-weight: 500;
	line-height: 1.2;
}

@include media-breakpoint-up(xl) {
	.sidebar {
		display: none;
		width: $sidebar-width;
	}
	.sidebar-open {
		display: block;
	}
	.sidebar-inner {
		position: fixed;
		top: 52px;
	}
}

// Set this here or it flashes when switching between xl and below xl
.sidebar-fade {
	opacity: 0;
}

@include media-breakpoint-down(xl) {
	.sidebar {
		display: block;
		position: fixed;
		font-size: 1rem;
		transition: left 0.3s ease-in-out;
		left: -190px;
		top: 0;
		bottom: 0;
		width: 190px;
		z-index: 1040;
	}
	.sidebar-heading {
		font-size: 0.875rem;
		padding-left: 0.75rem;
	}
	.sidebar .nav-link {
		padding-left: 0.75rem;
	}
	.sidebar-open {
		left: 0;
	}

	.sidebar-inner {
		top: 0;
	}

	// Fade animation only works in one direction!
	.sidebar-fade {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 0;
		z-index: -1040;
		background-color: $black;
		opacity: 0;
		transition: opacity 0.3s ease-in-out; // Keep time in sync with SideBar setTimeout
	}

	.sidebar-fade.sidebar-fade-open {
		opacity: 0.2;
		width: 100%;
		z-index: 1040;
	}

	.sidebar-fade.sidebar-fade-closing {
		opacity: 0;
		width: 100%;
		z-index: 1040;
	}
}
