// This used to line up with the Play button, but no more since there is now a toggle on large screens
$sidebar-width: 150px;

// .sidebar-inner is needed because you can't put a fixed div in flexbox
.sidebar-inner {
	padding: 0.5rem 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1040;
	border-right: 1px solid $gray-200;
	position: fixed;
	transition: left 0.3s ease-in-out;
	bottom: 0;
}

.sidebar-inner .nav-link {
	font-weight: 500;
	color: $gray-900;
	padding: 4px $container-padding-x;
	white-space: nowrap;
}

.sidebar-inner .nav-link.active {
	background-color: $gray-200;
	color: $primary;
}

.sidebar-inner .nav-link:hover {
	background-color: $gray-200;
}

.sidebar-heading {
	font-size: 0.75rem;
	text-transform: uppercase;
	padding: 0 $container-padding-x;
	cursor: pointer;
	@extend .mt-3;
	@extend .mb-1;
	@extend .text-body-secondary;

	&:hover {
		text-decoration: none;
	}

	// Make like h2
	display: block;
	font-weight: 500;
	line-height: 1.2;
}

@include media-breakpoint-up(xl) {
	.sidebar {
		transition: width 0.3s ease-in-out;
		width: 0;
	}
	.sidebar-open {
		width: $sidebar-width;
	}

	.sidebar-inner {
		left: -$sidebar-width;
		top: 52px;
		width: $sidebar-width;
	}
	.sidebar-open .sidebar-inner {
		left: 0;
	}
}

// Set this here or it flashes when switching between xl and below xl
.sidebar-fade {
	opacity: 0;
}

@include media-breakpoint-down(xl) {
	.sidebar-inner {
		left: -190px;
		top: 0;
		width: 190px;
		font-size: 1rem;
	}
	.sidebar-heading {
		font-size: 0.875rem;
		padding-left: 0.75rem;
	}
	.sidebar-inner .nav-link {
		padding-left: 0.75rem;
	}
	.sidebar-open .sidebar-inner {
		left: 0;
	}

	// Fade animation only works in one direction!
	.sidebar-fade {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 0;
		z-index: -1040;
		background-color: $black;
		opacity: 0;
		transition: opacity 0.3s ease-in-out; // Keep time in sync with SideBar setTimeout
	}

	.sidebar-fade-open {
		opacity: 0.2;
		width: 100%;
		z-index: 1040;
	}

	.sidebar-fade-closing {
		opacity: 0;
		width: 100%;
		z-index: 1040;
	}
}
