<FilesMatch "\.(ttf|otf|eot|woff)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Cache-Control "max-age=31536000"
  </IfModule>
</FilesMatch>

<FilesMatch "^(ui|worker)-.*\.js$">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=31536000"
  </IfModule>
</FilesMatch>

<FilesMatch "^(dark|light)-.*\.css$">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=31536000"
  </IfModule>
</FilesMatch>

<FilesMatch "^real-player-data-.*\.json$">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=31536000"
  </IfModule>
</FilesMatch>

<FilesMatch "^(index.html|sw.js)$">
  <IfModule mod_headers.c>
    Header set Cache-Control "no-cache"
  </IfModule>
</FilesMatch>

Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} !=localhost
RewriteCond %{HTTP_HOST} !\.test$
RewriteCond %{REQUEST_URI} !^/(.well-known)(/|$)
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

RewriteCond %{REQUEST_URI} !^/css
RewriteCond %{REQUEST_URI} !^/files
RewriteCond %{REQUEST_URI} !^/fonts
RewriteCond %{REQUEST_URI} !^/gen
RewriteCond %{REQUEST_URI} !^/ico
RewriteCond %{REQUEST_URI} !^/img
RewriteCond %{REQUEST_URI} !^/leagues
RewriteCond %{REQUEST_URI} !^/manifest
RewriteCond %{REQUEST_URI} !^/robots.txt
RewriteCond %{REQUEST_URI} !^/sw.js
RewriteCond %{REQUEST_URI} !^/upgrade-39
RewriteCond %{REQUEST_URI} !^/(.well-known)(/|$)
RewriteRule ^.*$ index.html