<h2>{{ team_region }} {{ team_name }}</h2>
<p>
<table class="gamelog_boxscore">
<thead>
  <tr><th class="first">Name</th><th>Pos</th><th>Min</th><th class="wide">FG</th><th class="wide">3Pt</th><th class="wide">FT</th><th>Off</th><th>Reb</th><th>Ast</th><th>TO</th><th>Stl</th><th>Blk</th><th>PF</th><th>Pts</th></tr>
</thead>
<tbody>
{% for player_stats in players_stats %}
  <tr class="{{ loop.cycle('odd', 'even') }}"><td class="first">{{ player_stats['name'] }}</td><td>{{ player_stats['position'] }}</td><td>{{ player_stats['minutes'] }}</td><td>{{ player_stats['field_goals_made'] }}-{{ player_stats['field_goals_attempted'] }}</td><td>{{ player_stats['three_pointers_made'] }}-{{ player_stats['three_pointers_attempted'] }}</td><td>{{ player_stats['free_throws_made'] }}-{{ player_stats['free_throws_attempted'] }}</td><td>{{ player_stats['offensive_rebounds'] }}</td><td>666</td><td> {{player_stats['assists'] }}</td><td>{{ player_stats['turnovers'] }}</td><td>{{ player_stats['steals'] }}</td><td>{{ player_stats['blocks'] }}</td><td>{{ player_stats['personal_fouls'] }}</td><td>{{ player_stats['points'] }}</td></tr>
{% endfor %}
</tbody>
<tfoot>
  <tr><td class="first">Total</td><td></td><td>240</td><td>{{ team_stats['field_goals_made'] }}-{{ team_stats['field_goals_attempted'] }}</td><td>{{ team_stats['three_pointers_made'] }}-{{ team_stats['three_pointers_attempted'] }}</td><td>{{ team_stats['free_throws_made'] }}-{{ team_stats['free_throws_attempted'] }}</td><td>{{ team_stats['offensive_rebounds'] }}</td><td>{{ 666 }}</td><td> {{team_stats['assists'] }}</td><td>{{ team_stats['turnovers'] }}</td><td>{{ team_stats['steals'] }}</td><td>{{ team_stats['blocks'] }}</td><td>{{ team_stats['personal_fouls'] }}</td><td>{{ team_stats['points'] }}</td></tr>
</tfoot>
</table>
</p>
