Redirect /img/logos/ATL.png /img/logos-primary/ATL.svg
Redirect /img/logos/BAL.png /img/logos-primary/BAL.svg
Redirect /img/logos/BKN.png /img/logos-primary/BKN.svg
Redirect /img/logos/BOS.png /img/logos-primary/BOS.svg
Redirect /img/logos/CHA.png /img/logos-primary/CHA.svg
Redirect /img/logos/CHI.png /img/logos-primary/CHI.svg
Redirect /img/logos/CIN.png /img/logos-primary/CIN.svg
Redirect /img/logos/CLE.png /img/logos-primary/CLE.svg
Redirect /img/logos/DAL.png /img/logos-primary/DAL.svg
Redirect /img/logos/DEN.png /img/logos-primary/DEN.svg
Redirect /img/logos/DET.png /img/logos-primary/DET.svg
Redirect /img/logos/GS.png /img/logos-primary/SJ.svg
Redirect /img/logos/HOU.png /img/logos-primary/HOU.svg
Redirect /img/logos/IND.png /img/logos-primary/IND.svg
Redirect /img/logos/KC.png /img/logos-primary/KC.svg
Redirect /img/logos/LA.png /img/logos-primary/LA.svg
Redirect /img/logos/LAC.png /img/logos-primary/LAE.svg
Redirect /img/logos/LAE.png /img/logos-primary/LAE.svg
Redirect /img/logos/LAL.png /img/logos-primary/LA.svg
Redirect /img/logos/LV.png /img/logos-primary/LV.svg
Redirect /img/logos/MEM.png /img/logos-primary/MEM.svg
Redirect /img/logos/MIA.png /img/logos-primary/MIA.svg
Redirect /img/logos/MIL.png /img/logos-primary/MIL.svg
Redirect /img/logos/MIN.png /img/logos-primary/MIN.svg
Redirect /img/logos/MON.png /img/logos-primary/CGY.svg
Redirect /img/logos/MXC.png /img/logos-primary/MXC.svg
Redirect /img/logos/NOL.png /img/logos-primary/NOL.svg
Redirect /img/logos/NYC.png /img/logos-primary/NYC.svg
Redirect /img/logos/OKC.png /img/logos-primary/OKC.svg
Redirect /img/logos/ORL.png /img/logos-primary/ORL.svg
Redirect /img/logos/PHI.png /img/logos-primary/PHI.svg
Redirect /img/logos/PHO.png /img/logos-primary/PHO.svg
Redirect /img/logos/PIT.png /img/logos-primary/PIT.svg
Redirect /img/logos/POR.png /img/logos-primary/POR.svg
Redirect /img/logos/SA.png /img/logos-primary/SA.svg
Redirect /img/logos/SAC.png /img/logos-primary/SAC.svg
Redirect /img/logos/SD.png /img/logos-primary/SD.svg
Redirect /img/logos/SEA.png /img/logos-primary/SEA.svg
Redirect /img/logos/SF.png /img/logos-primary/SJ.svg
Redirect /img/logos/STL.png /img/logos-primary/STL.svg
Redirect /img/logos/TOR.png /img/logos-primary/MON.svg
Redirect /img/logos/TPA.png /img/logos-primary/TPA.svg
Redirect /img/logos/UTA.png /img/logos-primary/UTA.svg
Redirect /img/logos/VAN.png /img/logos-primary/VAN.svg
Redirect /img/logos/WAS.png /img/logos-primary/WAS.svg
