Redirect /img/logos/ATL.png /img/logos-primary/ATL.png
Redirect /img/logos/BAL.png /img/logos-primary/BAL.png
Redirect /img/logos/BKN.png /img/logos-primary/BKN.png
Redirect /img/logos/BOS.png /img/logos-primary/BOS.png
Redirect /img/logos/CHA.png /img/logos-primary/CHA.png
Redirect /img/logos/CHI.png /img/logos-primary/CHI.png
Redirect /img/logos/CIN.png /img/logos-primary/CIN.png
Redirect /img/logos/CLE.png /img/logos-primary/CLE.png
Redirect /img/logos/DAL.png /img/logos-primary/DAL.png
Redirect /img/logos/DEN.png /img/logos-primary/DEN.png
Redirect /img/logos/DET.png /img/logos-primary/DET.png
Redirect /img/logos/GS.png /img/logos-primary/SJ.png
Redirect /img/logos/HOU.png /img/logos-primary/HOU.png
Redirect /img/logos/IND.png /img/logos-primary/IND.png
Redirect /img/logos/KC.png /img/logos-primary/KC.png
Redirect /img/logos/LA.png /img/logos-primary/LA.png
Redirect /img/logos/LAC.png /img/logos-primary/LAE.png
Redirect /img/logos/LAE.png /img/logos-primary/LAE.png
Redirect /img/logos/LAL.png /img/logos-primary/LA.png
Redirect /img/logos/LV.png /img/logos-primary/LV.png
Redirect /img/logos/MEM.png /img/logos-primary/MEM.png
Redirect /img/logos/MIA.png /img/logos-primary/MIA.png
Redirect /img/logos/MIL.png /img/logos-primary/MIL.png
Redirect /img/logos/MIN.png /img/logos-primary/MIN.png
Redirect /img/logos/MON.png /img/logos-primary/CGY.png
Redirect /img/logos/MXC.png /img/logos-primary/MXC.png
Redirect /img/logos/NOL.png /img/logos-primary/NOL.png
Redirect /img/logos/NYC.png /img/logos-primary/NYC.png
Redirect /img/logos/OKC.png /img/logos-primary/OKC.png
Redirect /img/logos/ORL.png /img/logos-primary/ORL.png
Redirect /img/logos/PHI.png /img/logos-primary/PHI.png
Redirect /img/logos/PHO.png /img/logos-primary/PHO.png
Redirect /img/logos/PIT.png /img/logos-primary/PIT.png
Redirect /img/logos/POR.png /img/logos-primary/POR.png
Redirect /img/logos/SA.png /img/logos-primary/SA.png
Redirect /img/logos/SAC.png /img/logos-primary/SAC.png
Redirect /img/logos/SD.png /img/logos-primary/SD.png
Redirect /img/logos/SEA.png /img/logos-primary/SEA.png
Redirect /img/logos/SF.png /img/logos-primary/SJ.png
Redirect /img/logos/STL.png /img/logos-primary/STL.png
Redirect /img/logos/TOR.png /img/logos-primary/MON.png
Redirect /img/logos/TPA.png /img/logos-primary/TPA.png
Redirect /img/logos/UTA.png /img/logos-primary/UTA.png
Redirect /img/logos/VAN.png /img/logos-primary/VAN.png
Redirect /img/logos/WAS.png /img/logos-primary/WAS.png
