.notification-container {
  position: fixed;
  bottom: 0;
  right: 6px;
  z-index: 9999;
}

.notification-container-extra-margin-bottom {
  bottom: 60px;
}

.notification {
  background-color: #000;
  border-radius: 3px;
  box-shadow: #999 0 0 12px;
  color: #fff;
  margin: 0 0 6px;
  opacity: .8;
  padding: 6px 12px;
  position: relative;
  width: 300px;

  &:hover {
    box-shadow: #000 0 0 12px;
    opacity: 1;
  }

  a {
    // Decrease saturation by 30, increase value by 10
    color: #a5c7e3;

    &:hover {
      // Decrease saturation by 30, increase value by 10
      color: #a5c7e3;
    }
  }
}

.notification-fadein {
  // This transition is for the hover, not original fade in
  transition: opacity .25s ease-in-out;

  // Fade in on notification show
  -webkit-animation: fadeIn .75s;
  animation: fadeIn .75s;
}

.notification-persistent {
  background-color: darkred;
}

.notification-close {
  font-size: 20px;
  background: transparent;
  border: 0;
  padding: 0 7px;
  opacity: .7;
  position: absolute;
  top: 0;
  right: 0;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.notification-delete {
  -webkit-animation: fadeOut .75s;
  animation: fadeOut .75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: .8;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: .8;
  }
}

@keyframes fadeOut {
  from {
    opacity: .8;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: .8;
  }

  to {
    opacity: 0;
  }
}
