$white: #212529;
$gray-100: #343a40;
$gray-200: #495057;
$gray-300: #6c757d;
$gray-400: #adb5bd;
$gray-500: #ced4da;
$gray-600: #dee2e6;
$gray-700: #e9ecef;
$gray-800: #f8f9fa;
$gray-900: #f8f9fa;
$black: #fff;
$blue: lighten(#007bff, 25);
$indigo: lighten(#6610f2, 20);
$purple: lighten(#6f42c1, 20);
$pink: lighten(#e83e8c, 20);
$red: lighten(#dc3545, 20);
$orange: lighten(#fd7e14, 20);
$yellow: lighten(#ffc107, 20);
$green: lighten(#28a745, 10);
$teal: lighten(#20c997, 20);
$cyan: lighten(#17a2b8, 20);

@import "light";

.btn {
    color: $black;

    &:hover {
        color: $black;
    }

    &:disabled {
        color: $gray-700;
    }
}

.btn-danger {
    border-color: darken($red, 40);
    background-color: darken($red, 40);

    &:hover {
        border-color: darken($red, 45);
        background-color: darken($red, 45);
    }
}

.btn-success {
    border-color: darken($green, 20);
    background-color: darken($green, 20);

    &:hover {
        border-color: darken($green, 25);
        background-color: darken($green, 25);
    }
}

.btn-primary,
.btn-secondary {
    color: $white;

    &:hover {
        color: $white;
    }

    &:disabled {
        color: $gray-200;
    }
}

.badge-danger {
    color: $black;
}

.text-success {
}
.text-warning {
}
.text-darnger {
}
.text-info {
}

a.play-button {
    color: $black !important;
    background-color: darken($green, 20) !important;

    &:hover,
    &:active,
    &:focus {
        background-color: darken($green, 25) !important;
    }
}

.notification {
    box-shadow: #444 0 0 12px;
}
