// https://getbootstrap.com/docs/4.1/examples/dashboard/

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    border-right: 1px solid $gray-200;
    width: 150px;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: $gray-900;
    padding: 4px 16px;
}

.sidebar .nav-link.active {
    background-color: $gray-200;
    color: $blue;
}

.sidebar .nav-link:hover {
    background-color: $gray-200;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
    @extend .px-3;
    @extend .mt-3;
    @extend .mb-1;
    @extend .text-muted;
}

@include media-breakpoint-up(xl) {
    .sidebar {
        display: block;
    }
    #actual-content {
        margin-left: 150px;
    }
}

@include media-breakpoint-down(xs) {
    .sidebar {
        display: block;
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
        transition-property: left;
        left: -150px;
    }
    .sidebar.open {
        left: 0;
    }
}
