<h1>About Basketball GM</h1>

<p>Hi. My name is <a href="http://www.jeremyscheff.com/">Jeremy</a>. Two of my favorite things in this world are basketball and programming, so I created Basketball GM.</p>

<p>Basketball GM is a single-player basketball simulation game. Make trades, set rosters, draft players, and try to build the next dynasty, all from within your web browser.</p>

<p>To keep up-to-date on the latest news, check out our <a href="http://basketball-gm.com/blog/">blog</a>, <a href="http://www.reddit.com/r/BasketballGM/">subreddit</a>, or <a href="https://twitter.com/basketball_gm">Twitter</a>. Feedback is always welcome via any of those websites or by simply <a href="mailto:commissioner@basketball-gm.com">sending me an email</a>. For advertising information, <a href="/advertise">click here</a>.</p>

<h2>Gameplay Philosophy</h2>

<p>I actually haven't played a ton of other sports simulation games, but my favorite one was <a href="http://www.sportsmogul.com/">Baseball Mogul</a>. I haven't played it recently, but I played it lots ~10 years ago. My favorite thing about Baseball Mogul was that it was pretty simple. It didn't force you to micromanage everything. Although there was a lot of power under the covers, you could also just jump in and start playing right away.</p>

<p>Based on this concept, my goal is for Basketball GM to be a simple yet realistic simulation. If simplicity and realism butt heads, simplicity will usually win.</p>

<p>The NBA is an influence of course, since it is by far the most prominent professional basketball league. But Basketball GM is not an NBA simulator. There are myriad nuances of NBA rules and regulations that would be incredibly tedious for players, so I avoid them.</p>

<p>In terms of UI, I am mostly influenced by <a href="http://ometer.com/free-software-ui.html">this essay</a>. UI should be simple and preferences should be kept to a minimum. This forces more thoughtful design and leads to less bugs.</p>

<p>Finally, I am strongly opposed to the "freemium" trend in gaming, recently popularized by FarmVille and tons of other games. These games are not designed for maximal enjoyment. They're fun enough to keep you playing, of course, but the real goal of them is to be annoying enough that they convince you to buy artificial power-ups within the game. This is a complete perversion of market incentives that normally should be perfectly aligned with the user's best interest: the more fun the game is, the more people will play. Basketball GM will always have that as its primary goal.</p>

<h2>Technology</h2>

<p>Basketball GM is a 100% client-side HTML5/JavaScript app. This means that all the simulation is done on your computer and all the data is stored on your computer. There is no server-side component. This magic is brought to you by <a href="http://en.wikipedia.org/wiki/Indexed_Database_API">IndexedDB</a>. There are some disadvantages, such as less than ideal cross-browser support (fuck Apple) and the inability to easily copy saved games across devices. However, there are some huge advantages, most importantly that my server costs are basically $0, so you can play as much as you want for free.</p>

<p>I also want to thank all of the open source projects that Basketball GM depends on (in alphabetical order):</p>

<ul>
  <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
  <li><a href="http://chaijs.com/">Chai</a></li>
  <li><a href="http://davisjs.com/">Davis.js</a></li>
  <li><a href="http://www.jeremyscheff.com/facesjs/">faces.js</a></li>
  <li><a href="http://jquery.com/">jQuery</a></li>
  <li><a href="http://jqueryui.com/">jQuery UI</a></li>
  <li><a href="http://touchpunch.furf.com/">jQuery UI Touch Punch</a></li>
  <li><a href="http://datatables.net/">DataTables</a></li>
  <li><a href="http://knockoutjs.com/">Knockout</a></li>
  <li><a href="http://visionmedia.github.io/mocha/">Mocha</a></li>
  <li><a href="http://requirejs.org/">RequireJS</a></li>
  <li><a href="http://underscorejs.org/">Underscore.js</a></li>
</ul>

<h2>History</h2>

<p>(Warning: this is way too long and narcissistic.)</p>

<p>I wrote the first line of code for Basketball GM back in 2008, after I had graduated from college but before I started grad school. That code was C#, which I had never used before. My primary goal was to learn a new programming language and learn how to make traditional desktop GUI software, as previously I had only made software with either command line or web UIs.</p>

<p>Quickly I grew frustrated with C# and switched to Python (and PyGTK), which I had also never used. Python is now my favorite language, in large part due to things I learned while working on Basketball GM. However, although the Python/PyGTK version did ultimately reach <a href="http://basketball-gm.com/old/">version 1.0</a>, I was no fool. I could see the tides changing. Nobody wanted to download and install software, they just wanted to go to a website and have everything automatically work.</p>

<p>So I set off to make Basketball GM a web app. First I tried using Django, but I quickly grew frustrated with its heavy-handedness. Then I switched to Flask, which was much nicer, and eventually ported the entire game over. The only problem was that it would be completely infeasible to run Basketball GM on a server. It's far too CPU intensive. I'd have to come up with some other strategy, like charging a monthly fee, significantly simplifying the game, or moving some of the processing to client-side JavaScript. None of those options sounded particularly appealing, but the last one seemed like the least worst one. So I started to learn JavaScript.</p>

<p>In the process of learning JavaScript, I also learned about all these fancy new HTML5 technologies. One of them, IndexedDB, seemed to me as if it would allow me to actually move all processing client-side, not just some. However, it had poor browser support, had an ugly API, and had hardly any people who had used it (let alone used it as intensively as I would need to). Despite that, the more I thought about it, the more I realized that this was the only path towards making a game that could be accessible to a wide audience.</p>

<p>In under a year of part-time work, I learned JavaScript and ported Basketball GM over completely. Throughout this time, I continued to think of the game similarly to how I first did: as a way for me to learn new technologies and have fun. I still didn't really expect that it would lead to anything that other people might get interested in. But I kept working on it. As it improved over the years, I began to think of it as an insurance policy, that if I decided I wanted to switch careers and become a web developer, then Basketball GM would serve as a great resume. That never happened, though; instead, I finished grad school and found a good job in computational biology.</p>

<p>But I continued to work on Basketball GM, adding features and improving the game until I felt it was something that at least some small subset of basketball nerds could enjoy. In August 2013, in between the time I finished grad school and started my career, <a href="http://www.reddit.com/r/nba/comments/1j1e6q/i_made_a_singleplayer_basketball_management/">I posted it to Reddit's /r/nba</a>, thinking that the only people reading that in the summer would be exactly the kind of person who would be interested in my game.</p>

<p>And I was right. I got a really large and really positive response, and every day hundreds of people spend an average of 1.5 hours each playing Basketball GM. We even got <a href="http://www.reddit.com/r/nba/comments/1ki6w2/iam_the_houston_rockets_gm_ama_offseason_addition/cbp7ei9?context=1">a shout-out from Houston Rockets GM Daryl Morey</a>. This is all way more than I ever even hoped for when I started writing Basketball GM, but I still think there is a lot of room for growth, both in terms of improving the game and making the game more popular.</p>

<p>(By the way, if you think you know how I can make Basketball GM more popular, please <a href="mailto:commissioner@basketball-gm.com">email me</a>.)</p>