<h1>About</h1>

Generic description of the game.
One man show. My name, link to my blog.
Link to advertise page, BBGM blog, subreddit, twitter, etc.

<h2>Gameplay Philosophy</h2>

Simplicity, influence of Baseball Mogul.
Depth - as much as possible before it becomes too micromanagy
NBA - an influence of course, but this is not an NBA simulator
Junk - 

<h2>Technology</h2>

<p>Basketball GM is a 100% client-side HTML5/JavaScript app. This means that all the simulation is done on your computer and all the data is stored on your computer. There is no server-side component. This magic is brought to you by <a href="http://en.wikipedia.org/wiki/Indexed_Database_API">IndexedDB</a>. There are some disadvantages, such as less than ideal cross-browser support and the inability to easily copy saved games across devices. However, there are some huge advantages, most importantly that my server costs are basically $0, so you can play as much as you want for free.</p>

<h2>History</h2>

<p>(Warning: this is way too long and narcissistic.)</p>

<p>I wrote the first line of code for Basketball GM back in 2008, after I had graduated from college but before I started grad school. That code was C#, which I had never used before. My primary goal was to learn a new programming language and learn how to make traditional desktop GUI software, as previously I had only made software with either command line or web UIs.</p>

<p>Quickly I grew frustrated with C# and switched to Python (and PyGTK), which I had also never used. Python is now my favorite language, in large part due to things I learned while working on Basketball GM. However, although the Python/PyGTK version did ultimately reach <a href="http://basketball-gm.com/old/">version 1.0</a>, I was no fool. I could see the tides changing. Nobody wanted to download and install software, they just wanted to go to a website and have everything automatically work.</p>

<p>So I set off to make Basketball GM a web app. First I tried using Django, but I quickly grew frustrated with its heavy-handedness. Then I switched to Flask, which was much nicer, and eventually ported the entire game over. The only problem was that it would be completely infeasible to run Basketball GM on a server. It's far too CPU intensive. I'd have to come up with some other strategy, like charging a monthly fee, significantly simplifying the game, or moving some of the processing to client-side JavaScript. None of those options sounded particularly appealing, but the last one seemed like the least worst one. So I started to learn JavaScript.</p>

<p>In the process of learning JavaScript, I also learned about all these fancy new HTML5 technologies. One of them, IndexedDB, seemed to me as if it would allow me to actually move all processing client-side, not just some. However, it had poor browser support, had an ugly API, and had hardly any people who had used it (let alone used it as intensively as I would need to). Despite that, the more I thought about it, the more I realized that this was the only path towards making a game that could be accessible to a wide audience.</p>

<p>In under a year of part-time work, I learned JavaScript and ported Basketball GM over completely. Throughout this time, I continued to think of the game similarly to how I first did: as a way for me to learn new technologies and have fun. I still didn't really expect that it would lead to anything that other people might get interested in. But I kept working on it. As it improved over the years, I began to think of it as an insurance policy, that if I decided I wanted to switch careers and become a web developer, then Basketball GM would serve as a great resume. That never happened, though; instead, I finished grad school and found a good job in computational biology.</p>

<p>But I continued to work on Basketball GM, adding features and improving the game until I felt it was something that at least some small subset of basketball nerds could enjoy. In MONTH 2013, in between the time I finished grad school and started my career, <a href="http://www.reddit.com/r/nba/comments/1j1e6q/i_made_a_singleplayer_basketball_management/">I posted it to Reddit's /r/nba</a>, thinking that the only people reading that in the summer would be exactly the kind of person who would be interested in my game. And I was right. I got a really large and really positive response.</p>

Daryl Morey
Ads - revenue
Current status
Current technological philosophy: web + easy