<h1>Your Account</h1>

<div class="row">
  <div class="col-lg-6 col-md-8 ">
    <p data-bind="visible: username() === null || username() === ''">You are not logged in! <a href="/account/login_or_register">Click here to log in create an account.</a> If you have an account, your achievements will be stored in the cloud, combining achievements from leagues in different browsers and different computers.</p>
    <p data-bind="visible: username() !== null && username() !== ''">Logged in as: <b data-bind="text: username"></b> (<a href="" id="logout" data-no-davis="true">Logout</a>)</p>
  </div>
</div>

<h2>Achievements</h2>

<ul class="achievements list-group" data-bind="foreach: achievements">
  <li class="list-group-item col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-left">
    <div data-bind="css: {'list-group-item-success': count() > 0, 'text-muted': count() == 0}">
      <span class="badge pull-right" data-bind="text: count(), visible: count() > 1"></span>
      <h4 class="list-group-item-heading" data-bind="text: name"></h4>
      <p class="list-group-item-text" data-bind="text: desc"></p>
    </div>
  </li>
  <!--ko if: $index() % 4 === 3-->
    <li class="clearfix visible-lg"></li>
  <!--/ko-->
  <!--ko if: $index() % 3 === 2-->
    <li class="clearfix visible-md"></li>
  <!--/ko-->
  <!--ko if: $index() % 2 === 1-->
    <li class="clearfix visible-sm"></li>
  <!--/ko-->
</ul>
