<h1>Create A Player <span data-bind="newWindow: []"></span></h1>

<p>Here, you can create a custom player with whatever attributes and ratings you want. If you want to make a whole league of custom players, you should probably create a <a href="http://basketball-gm.com/manual/customization/">custom League File</a>.</p>

<div class="row">
  <div class="col-md-7">
    <h2>Attributes</h2>

    <div class="row">
      <div class="col-sm-6 form-group">
        <label for="cap-name">Name</label>
        <input type="text" class="form-control" id="cap-name" name="name" data-bind="value: p.name"></input>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">
        <label for="cap-age">Age</label>
        <input type="text" class="form-control" id="cap-age" name="age" data-bind="value: age"></input>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">
        <label for="cap-tid">Team</label>
        <select class="form-control" id="cap-tid" name="tid" data-bind="options: teams, optionsText: 'text', value: p.tid, optionsValue: 'tid'"></select>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">
        <label for="cap-hgt">Height (inches)</label>
        <input type="text" class="form-control" id="cap-hgt" name="hgt" data-bind="value: p.hgt"></input>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">
        <label for="cap-weight">Weight (lbs)</label>
        <input type="text" class="form-control" id="cap-weight" name="weight" data-bind="value: p.weight"></input>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">
        <label for="cap-pos">Position</label>
        <select class="form-control" id="cap-pos" name="pos" data-bind="options: positions, value: p.pos"></select>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">
        <label for="cap-born-loc">Hometown</label>
        <input type="text" class="form-control" id="cap-born-loc" name="born-loc" value="USA"></input>
      </div>
    </div>

    <h2>Appearance</h2>

    <div class="form-group">
      <label for="cap-appearance-option">You can either create a cartoon face or specify the URL to an image.</label>
      <select class="form-control" id="cap-appearance-option" name="appearance-option" data-bind="options: appearanceOptions, value: appearanceOption" style="max-width: 150px"></select>
    </div>

    <div class="row" data-bind="visible: appearanceOption() === 'Cartoon Face'">
      <div class="col-sm-4">
        <div id="picture" style="max-height: 225px; max-width: 150px"></div>
        <center>
          <button class="btn btn-default" id="randomize-face">Randomize</button>
        </center>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-xs-6 form-group">
            <label for="cap-face-fatness">Width (0 to 1)</label>
            <input type="text" class="form-control" id="cap-face-fatness" name="face-fatness" data-bind="value: p.face().fatness"></input>
          </div>
          <div class="col-xs-6 form-group">
            <label for="cap-face-color">Skin Color</label>
            <input type="text" class="form-control" id="cap-face-color" name="face-color" data-bind="value: p.face().color"></input>
          </div>
          <div class="col-xs-6 form-group">
            <label for="cap-face-eyes">Eyes</label>
            <select class="form-control" id="cap-eyes" name="face-eyes" data-bind="options: faceOptions.eyes, value: p.face().eyes()[0].id"></select>
          </div>
          <div class="col-xs-6 form-group">
            <label for="cap-face-eyes-angle">Eye Angle (-20 to 30)</label>
            <input type="text" class="form-control" id="cap-face-eyes-angle" name="face-eyes-angle" data-bind="value: p.face().eyes()[0].angle"></input>
          </div>
          <div class="col-xs-6 form-group">
            <label for="cap-face-nose">Nose</label>
            <select class="form-control" id="cap-nose" name="face-nose" data-bind="options: faceOptions.nose, value: p.face().nose.id"></select>
          </div>
          <div class="col-xs-6 form-group">
            <label for="cap-face-nose-flip">Nose Flip</label>
            <input type="checkbox" class="form-control" id="cap-face-nose-flip" name="face-nose-flip" data-bind="checked: p.face().nose.flip"></input>
          </div>
          <div class="col-xs-6 form-group">
            <label for="cap-face-mouth">Mouth</label>
            <select class="form-control" id="cap-mouth" name="face-mouth" data-bind="options: faceOptions.mouth, value: p.face().mouth.id"></select>
          </div>
          <div class="col-xs-6 form-group">
            <label for="cap-face-hair">Hair</label>
            <select class="form-control" id="cap-hair" name="face-hair" data-bind="options: faceOptions.hair, value: p.face().hair.id"></select>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" data-bind="visible: appearanceOption() === 'Image URL'">
      <label for="cap-image-url">Image URL</label>
      <input type="text" class="form-control" id="cap-image-url" name="image-url" value="http://"></input>
      <span class="help-block">Your image must be hosted externally. If you need to upload an image, try using <a href="http://imgur.com/">imgur</a>. For ideal display, crop your image so it has a 2:3 aspect ratio (such as 100px wide and 150px tall).</span>
    </div>
  </div>

  <div class="clearfix visible-sm visible-xs"></div>

  <div class="col-md-5">
    <h2>Ratings</h2>

    <p>All ratings are on a scale of 0 to 100.</p>

    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <label for="cap-rating-pot">Potential</label>
          <input type="text" class="form-control" id="cap-rating-pot" name="rating-pot" value="50"></input>
        </div>
      </div>
      <div class="col-xs-8">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <h3>Physical</h3>
        <div class="form-group">
          <label for="cap-rating-hgt">Height</label>
          <input type="text" class="form-control" id="cap-rating-hgt" name="rating-hgt" value="50"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-stre">Strength</label>
          <input type="text" class="form-control" id="cap-rating-stre" name="rating-stre" value="50"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-spd">Speed</label>
          <input type="text" class="form-control" id="cap-rating-spd" name="rating-spd" value="50"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-jmp">Jumping</label>
          <input type="text" class="form-control" id="cap-rating-jmp" name="rating-jmp" value="50"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-endu">Endurance</label>
          <input type="text" class="form-control" id="cap-rating-endu" name="rating-endu" value="50"></input>
        </div>
      </div>
      <div class="col-xs-4">
        <h3>Shooting</h3>
        <div class="form-group">
          <label for="cap-rating-ins">Inside</label>
          <input type="text" class="form-control" id="cap-rating-ins" name="rating-ins" value="50"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-dnk">Dunks/Layups</label>
          <input type="text" class="form-control" id="cap-rating-dnk" name="rating-dnk" value="50"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-ft">Free Throws</label>
          <input type="text" class="form-control" id="cap-rating-ft" name="rating-ft" value="50"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-fg">Two Pointers</label>
          <input type="text" class="form-control" id="cap-rating-fg" name="rating-fg" value="50"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-tp">Three Pointers</label>
          <input type="text" class="form-control" id="cap-rating-tp" name="rating-tp" value="50"></input>
        </div>
      </div>
      <div class="col-xs-4">
        <h3>Skill</h3>
        <div class="form-group">
          <label for="cap-rating-blk">Blocks</label>
          <input type="text" class="form-control" id="cap-rating-blk" name="rating-blk" value="50"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-stl">Steals</label>
          <input type="text" class="form-control" id="cap-rating-stl" name="rating-stl" value="50"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-drb">Dribbling</label>
          <input type="text" class="form-control" id="cap-rating-drb" name="rating-drb" value="50"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-pss">Passing</label>
          <input type="text" class="form-control" id="cap-rating-pss" name="rating-pss" value="50"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-reb">Rebounding</label>
          <input type="text" class="form-control" id="cap-rating-reb" name="rating-reb" value="50"></input>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<center>
  <button class="btn btn-primary btn-lg" id="create-a-player">Create Player</button>
</center>