<h1><span data-bind="text: originalTid() === null ? 'Create Player' : 'Edit Player'"></span> <span data-bind="newWindow: []"></span></h1>

<p>Here, you can <span data-bind="text: originalTid() === null ? 'create a custom player with' : 'edit a player to have'"></span> whatever attributes and ratings you want. If you want to make a whole league of custom players, you should probably create a <a href="http://basketball-gm.com/manual/customization/">custom League File</a>.</p>

<div class="row">
  <div class="col-md-7">
    <h2>Attributes</h2>

    <div class="row">
      <div class="col-sm-6 form-group">
        <label for="cap-name">Name</label>
        <input type="text" class="form-control" name="name" data-bind="value: p.name"></input>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">
        <label for="cap-age">Age</label>
        <input type="text" class="form-control" name="age" data-bind="value: age"></input>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">
        <label for="cap-tid">Team</label>
        <select class="form-control" name="tid" data-bind="options: teams, optionsText: 'text', value: p.tid, optionsValue: 'tid'"></select>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">
        <label for="cap-hgt">Height (inches)</label>
        <input type="text" class="form-control" name="hgt" data-bind="value: p.hgt"></input>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">
        <label for="cap-weight">Weight (lbs)</label>
        <input type="text" class="form-control" name="weight" data-bind="value: p.weight"></input>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">
        <label for="cap-pos">Position</label>
        <select class="form-control" name="pos" data-bind="options: positions, value: p.pos"></select>
      </div>
      <div class="col-sm-3 col-xs-6 form-group">
        <label for="cap-born-loc">Hometown</label>
        <input type="text" class="form-control" name="born-loc" data-bind="value: p.born.loc"></input>
      </div>
    </div>

    <h2>Appearance</h2>

    <div class="form-group">
      <label for="cap-appearance-option">You can either create a cartoon face or specify the URL to an image.</label>
      <select class="form-control" name="appearance-option" data-bind="options: appearanceOptions, value: appearanceOption" style="max-width: 150px"></select>
    </div>

    <div class="row" data-bind="visible: appearanceOption() === 'Cartoon Face'">
      <div class="col-sm-4">
        <div id="picture" style="max-height: 225px; max-width: 150px"></div>
        <center>
          <button class="btn btn-default" id="randomize-face">Randomize</button>
        </center>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-xs-6 form-group">
            <label for="cap-face-fatness">Width (0 to 1)</label>
            <input type="text" class="form-control" name="face-fatness" data-bind="value: p.face().fatness"></input>
          </div>
          <div class="col-xs-6 form-group">
            <label for="cap-face-color">Skin Color</label>
            <input type="text" class="form-control" name="face-color" data-bind="value: p.face().color"></input>
          </div>
          <div class="col-xs-6 form-group">
            <label for="cap-face-eyes">Eyes</label>
            <select class="form-control" name="face-eyes" data-bind="options: faceOptions.eyes, value: p.face().eyes()[0].id"></select>
          </div>
          <div class="col-xs-6 form-group">
            <label for="cap-face-eyes-angle">Eye Angle (-20 to 30)</label>
            <input type="text" class="form-control" name="face-eyes-angle" data-bind="value: p.face().eyes()[0].angle"></input>
          </div>
          <div class="col-xs-6 form-group">
            <label for="cap-face-nose">Nose</label>
            <select class="form-control" name="face-nose" data-bind="options: faceOptions.nose, value: p.face().nose.id"></select>
          </div>
          <div class="col-xs-6 form-group">
            <label for="cap-face-nose-flip">Nose Flip</label>
            <input type="checkbox" class="form-control" name="face-nose-flip" data-bind="checked: p.face().nose.flip"></input>
          </div>
          <div class="col-xs-6 form-group">
            <label for="cap-face-mouth">Mouth</label>
            <select class="form-control" name="face-mouth" data-bind="options: faceOptions.mouth, value: p.face().mouth.id"></select>
          </div>
          <div class="col-xs-6 form-group">
            <label for="cap-face-hair">Hair</label>
            <select class="form-control" name="face-hair" data-bind="options: faceOptions.hair, value: p.face().hair.id"></select>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" data-bind="visible: appearanceOption() === 'Image URL'">
      <label for="cap-image-url">Image URL</label>
      <input type="text" class="form-control" data-bind="value: p.imgURL"></input>
      <span class="help-block">Your image must be hosted externally. If you need to upload an image, try using <a href="http://imgur.com/">imgur</a>. For ideal display, crop your image so it has a 2:3 aspect ratio (such as 100px wide and 150px tall).</span>
    </div>
  </div>

  <div class="clearfix visible-sm visible-xs"></div>

  <div class="col-md-5">
    <h2>Ratings</h2>

    <p>All ratings are on a scale of 0 to 100.</p>

    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <label for="cap-rating-pot">Potential</label>
          <input type="text" class="form-control" name="rating-pot" data-bind="value: ratings.pot"></input>
        </div>
      </div>
      <div class="col-xs-8">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <h3>Physical</h3>
        <div class="form-group">
          <label for="cap-rating-hgt">Height</label>
          <input type="text" class="form-control" name="rating-hgt" data-bind="value: ratings.hgt"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-stre">Strength</label>
          <input type="text" class="form-control" name="rating-stre" data-bind="value: ratings.stre"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-spd">Speed</label>
          <input type="text" class="form-control" name="rating-spd" data-bind="value: ratings.spd"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-jmp">Jumping</label>
          <input type="text" class="form-control" name="rating-jmp" data-bind="value: ratings.jmp"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-endu">Endurance</label>
          <input type="text" class="form-control" name="rating-endu" data-bind="value: ratings.endu"></input>
        </div>
      </div>
      <div class="col-xs-4">
        <h3>Shooting</h3>
        <div class="form-group">
          <label for="cap-rating-ins">Inside</label>
          <input type="text" class="form-control" name="rating-ins" data-bind="value: ratings.ins"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-dnk">Dunks/Layups</label>
          <input type="text" class="form-control" name="rating-dnk" data-bind="value: ratings.dnk"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-ft">Free Throws</label>
          <input type="text" class="form-control" name="rating-ft" data-bind="value: ratings.ft"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-fg">Two Pointers</label>
          <input type="text" class="form-control" name="rating-fg" data-bind="value: ratings.fg"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-tp">Three Pointers</label>
          <input type="text" class="form-control" name="rating-tp" data-bind="value: ratings.tp"></input>
        </div>
      </div>
      <div class="col-xs-4">
        <h3>Skill</h3>
        <div class="form-group">
          <label for="cap-rating-blk">Blocks</label>
          <input type="text" class="form-control" name="rating-blk" data-bind="value: ratings.blk"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-stl">Steals</label>
          <input type="text" class="form-control" name="rating-stl" data-bind="value: ratings.stl"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-drb">Dribbling</label>
          <input type="text" class="form-control" name="rating-drb" data-bind="value: ratings.drb"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-pss">Passing</label>
          <input type="text" class="form-control" name="rating-pss" data-bind="value: ratings.pss"></input>
        </div>
        <div class="form-group">
          <label for="cap-rating-reb">Rebounding</label>
          <input type="text" class="form-control" name="rating-reb" data-bind="value: ratings.reb"></input>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<center>
  <button class="btn btn-primary btn-lg" id="create-a-player" data-bind="text: originalTid() === null ? 'Create Player' : 'Edit Player'"></button>
</center>