<ul class="dashboard-boxes">
  <!-- ko foreach: leagues -->
    <li>
      <a class="btn btn-default league" data-bind="attr: {title: lid() + '. ' + name(), href: '/l/' + lid()}">
        <strong data-bind="text: lid() + '. ' + name()"></strong><br>
        <span data-bind="text: teamRegion() + ' ' + teamName()"></span><br>
        <span data-bind="text: phaseText"></span>
      </a>
      <form method="GET" class="delete" data-bind="attr: {action: '/delete_league/' + lid()}"><button type="submit" class="close" aria-hidden="true">&times;</button></form>
    </li>
  <!-- /ko -->
  <li class="dashboard-box-new"><a href="/new_league" class="btn btn-primary league"><h2>Create new<br>league</h2></a></li>
</ul>

<div class="clearfix"></div>
<br><br>
<span class="alert alert-info"><a data-bind="attr: {href: otherUrl}">Missing some leagues? Click here to find them.</a></span>
<br><br>