<h1>Delete Old Data <span data-bind="newWindow: []"></span></h1>

<p>As you play multiple seasons in a league, the game tends to slow down as data is accumulated in the database. For instance, if you play 20 seasons, game simulation will be approximately twice as slow as in a new league. If you delete old data using the form below, it will restore performance to roughly that of a new league.</p>

<form method="POST" class="form-horizontal" data-bind="attrLeagueUrl: {action: ['delete_old_data']}">
  <div class="form-group">
    <div class="col-xs-12">
      <div class="checkbox">
        <label>
          <input name="boxScores" type="checkbox" checked> Delete Old Box Scores
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input name="teamStats" type="checkbox" checked> Delete Old Team Stats
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input name="retiredPlayers" type="checkbox" checked> Delete Retired Players
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input name="playerStats" type="checkbox" checked> Delete Old Player Stats and Ratings (this is the biggest factor)
        </label>
      </div>
    </div>
  </div>

  <p class="alert alert-danger"><b>Warning!</b> Once you delete old data, it's completely gone! There's no going back! This can impact your players making the Hall of Fame and the completion of in-progress achievements!</p>

  <button class="btn btn-danger" id="delete-old-data">Delete Old Data</button>

  <p class="alert alert-info" style="margin-top: 18px; visibility: hidden" id="delete-old-data-success"><b>Data successfully deleted.</b></p>
</form>