<h1>Delete League <span data-bind="text: lid"></span>?</h1>

<p data-bind="if: name() !== null">Are you <em>absolutely</em> sure you want to delete <span data-bind="text: name"></span> (League <span data-bind="text: lid"></span>)? You will <em>permanently</em> lose any record of all <span data-bind="text: numSeasons"></span> seasons, <span data-bind="numberWithCommas: numPlayers"></span> players, and <span data-bind="numberWithCommas: numGames"></span> games from this league (well... unless you have a backup somewhere).</p>

<p data-bind="if: name() === null">Are you <em>absolutely</em> sure you want to delete League <span data-bind="text: lid"></span>? You will <em>permanently</em> lose any record of all seasons, players, and games from this league (well... unless you have a backup somewhere).</p>

<form action="/delete_league" method="post" style="float: left; margin-right: 1em">
  <input type="hidden" name="lid" data-bind="attr: {value: lid}">
  <button class="btn btn-danger">Yes, I am sure. Delete it!</button>
</form>
<form action="/" method="get">
  <button class="btn">Cancel</button>
</form>