<form action="/l/{{lid}}/dist_player_ratings" method="GET" class="form-inline pull-right">
  <select id="dist-player-ratings-select-season" name="season" class="season">
    {{#seasons}}
      <option value="{{season}}"{{#if selected}} selected="selected"{{/if}}>{{season}} season</option>
    {{/seasons}}
  </select>
</form>

<h1>Player Rating Distributions {{new_window}}</h1>

<p>These <a href="http://en.wikipedia.org/wiki/Box_plot">box plots</a> show the league-wide distributions of player ratings for all active players in the selected season. The five vertical lines in each plot represent the minimum of the scale (0), the minimum, the first <a href="http://en.wikipedia.org/wiki/Quartile">quartile</a>, the median, the third quartile, the maximum, and the maximum of the scale (100).</p>

<p>
<table cellpadding="0" cellspacing="0" border="0" id="dist-player-ratings">
  <tbody></tbody>
</table>
</p>
