<h1>Draft <span data-bind="newWindow: []"></span></h1>

<p>When your turn in the draft comes up, select from the list of available players on the left.</p>

<p data-bind="visible: !started()"><button class="btn btn-large btn-success" id="start-draft">Start Draft</button></p>

<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-sm-6" id="undrafted-col">
    <h2>
      Undrafted Players
      <span class="pull-right"><button type="button" class="btn btn-info btn-xs visible-xs" id="view-drafted">View Drafted</button></span>
    </h2>

    <div class="table-responsive">
      <table class="table table-striped table-bordered table-condensed" id="undrafted">
      <thead>
        <tr><th>Name</th><th title="Position">Pos</th><th>Age</th><th title="Overall rating">Ovr</th><th title="Potential rating">Pot</th><th data-bind="visible: fantasyDraft">Contract</th><th title="Player Efficiency Rating" data-bind="visible: fantasyDraft">PER</th><th title="Estimated Wins Added" data-bind="visible: fantasyDraft">EWA</th><th>Draft</th></tr>
      </thead>
      <tbody data-bind="foreach: undrafted">
        <tr data-bind="attr: {id: 'undrafted-' + pid()}">
          <td data-bind="playerNameLabels: [pid, name, injury, ratings.skills]"></td>
          <td data-bind="text: pos"></td>
          <td data-bind="text: age"></td>
          <td data-bind="text: ratings.ovr"></td>
          <td data-bind="text: ratings.pot"></td>
          <td data-bind="visible: $root.fantasyDraft"><span data-bind="currency: [contract.amount, 'M']"></span> thru <span data-bind="text: contract.exp"></span></td>
          <td data-bind="round: [stats.per, 1], visible: $root.fantasyDraft"></td>
          <td data-bind="round: [stats.ewa, 1], visible: $root.fantasyDraft"></td>
          <td><button class="btn btn-xs btn-primary" data-bind="attr: {'data-player-id': pid}, enable: $root.started">Draft</button></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-6 sidebar-offcanvas" id="drafted-col">
    <h2>
      Draft Results
      <span class="pull-right"><button type="button" class="btn btn-info btn-xs visible-xs" id="view-undrafted">View Undrafted</button></span>
    </h2>

    <div class="table-responsive">
      <table class="table table-striped table-bordered table-condensed" id="drafted">
      <thead>
        <tr><th>Pick</th><th>Team</th><th>Name</th><th title="Position">Pos</th><th>Age</th><th title="Overall rating">Ovr</th><th title="Potential rating">Pot</th><th data-bind="visible: fantasyDraft">Contract</th><th title="Player Efficiency Rating" data-bind="visible: fantasyDraft">PER</th><th title="Estimated Wins Added" data-bind="visible: fantasyDraft">EWA</th></tr>
      </thead>
      <tbody data-bind="foreach: drafted">
        <tr>
          <td><span data-bind="text: draft.round"></span>-<span data-bind="text: draft.pick"></span></td>
          <td data-bind="draftAbbrev: [draft.abbrev, draft.originalAbbrev]"></td>
          <!-- ko if: pid() >= 0 -->
            <td data-bind="playerNameLabels: [pid, name, injury, ratings.skills]"></td>
            <td data-bind="text: pos"></td>
            <td data-bind="text: age"></td>
            <td data-bind="text: ratings.ovr"></td>
            <td data-bind="text: ratings.pot"></td>
            <td data-bind="visible: $root.fantasyDraft"><span data-bind="currency: [contract.amount, 'M']"></span> thru <span data-bind="text: contract.exp"></span></td>
            <td data-bind="round: [stats.per, 1], visible: $root.fantasyDraft"></td>
            <td data-bind="round: [stats.ewa, 1], visible: $root.fantasyDraft"></td>
          <!-- /ko -->
          <!-- ko if: pid() < 0 -->
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <!-- /ko -->
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>