<h1>Draft Scouting <span data-bind="newWindow: []"></span></h1>
<p>More: <a data-bind="attrLeagueUrl: {href: ['draft_summary']}">Old Draft Summaries</a></p>

<p>The ratings shown are your scouts' projections for what the players' ratings will be when they enter the draft. The further in the future, the more uncertainty there is in their estimates.</p>

<div class="row" data-bind="foreach: seasons">
  <div class="col-md-4 col-sm-6">
    <h2 data-bind="text: season"></h2>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-condensed" data-bind="attr: {id: 'draft-scouting-' + $index()}">
        <thead>
          <tr><th>#</th><th>Name</th><th title="Position">Pos</th><th>Age</th><th title="Overall rating">Ovr</th><th title="Potential rating">Pot</th></tr>
        </thead>
      </table>
    </div>
  </div>
</div>