<h1>Edit Team Info</h1>

<p>You can manually edit the teams below or you can upload a teams file to specify all of the team info at once.</p>

<h2>Upload Teams File</h2>

<p>The JSON file format is described in <a href="/manual/custom_rosters">the manual</a>. As an example, you can download <a href="http://basketball-gm.com/files/old_teams.json" download>a teams file containing the old (pre-2014) default teams</a> or <a href="http://basketball-gm.com/files/new_teams.json" download>one containing the current default teams</a>.</p>

<p class="text-danger">Warning: selecting a valid team file will instantly apply the new team info to your league.</p>

<p><input type="file" id="custom-teams"></p>

<h2>Manual Editing</h2>

<div class="row" style="margin-top: -9px">
  <div class="col-xs-3">
    <h3>Abbrev</h3>
  </div>
  <div class="col-xs-3">
    <h3>Region</h3>
  </div>
  <div class="col-xs-3">
    <h3>Name</h3>
  </div>
  <div class="col-xs-3">
    <h4>Population<br>(in millions)</h4>
  </div>
</div>

<form method="POST" data-bind="attrLeagueUrl: {action: ['edit_team_info']}">
  <div class="row" data-bind="foreach: teams">
    <div class="col-xs-3 form-group">
      <input type="text" class="form-control" name="abbrev[]" data-bind="attr: {value: abbrev}">
    </div>
    <div class="col-xs-3 form-group">
      <input type="text" class="form-control" name="region[]" data-bind="attr: {value: region}">
    </div>
    <div class="col-xs-3 form-group">
      <input type="text" class="form-control" name="name[]" data-bind="attr: {value: name}">
    </div>
    <div class="col-xs-3 form-group">
      <input type="text" class="form-control" name="pop[]" data-bind="attr: {value: pop}">
    </div>
  </div>
  <center>
    <button type="submit" class="btn btn-primary" id="edit-team-info">Update Team Info</button>
  </center>
</form>