<h1>Export Stats</h1>

<p>Here you can export your league's stats to CSV files which can be easily viewed in any spreadsheet program like Excel or <a href="http://www.libreoffice.org/">LibreOffice Calc</a>.</p>

<h2>Player Stats</h2>

<form class="form-inline" method="POST" data-bind="attrLeagueUrl: {action: ['export_stats']}">
  <div class="form-group">
    <select class="form-control" name="grouping" data-bind="event: {change: $root.formChanged}">
      <option value="averages">Season Averages</option>
      <option value="games">Individual Games</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" name="season" data-bind="options: seasons, optionsText: 'val', optionsValue: 'key', event: {change: $root.formChanged}"></select>
  </div>
  <button type="submit" class="btn btn-primary">Export Stats</button>
</form>

<p id="download-link" style="margin-top: 1em"></p>