<h1>Fantasy Draft <span data-bind="newWindow: []"></span></h1>

<p>In a "fantasy draft", all non-retired players are put into one big pool and teams take turns drafting players, similar to a fantasy basketball draft. At the beginning of the draft, the order of picks is randomized. During the draft, the order of picks snakes (reverses every other round). For example, the team that picks first in the first round picks last in the second round.</p>

<form method="POST" role="form" data-bind="attrLeagueUrl: {action: ['fantasy_draft']}">
  <div class="form-group">
    <label for="position">What position do you want in the draft?</label>
    <select name="position" id="position" class="form-control" style="width: 110px">
      <option>Random</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
      <option>14</option>
      <option>15</option>
      <option>16</option>
      <option>17</option>
      <option>18</option>
      <option>19</option>
      <option>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
      <option>28</option>
      <option>29</option>
      <option>30</option>
    </select>
  </div>
  <button class="btn btn-large btn-success" id="start-fantasy-draft">Start Fantasy Draft</button>
</form>
<br>

<p class="text-danger"><b>Warning:</b> Once you start a fantasy draft, there is no going back!</p>