<h1>God Mode</h1>

<p>God Mode is a collection of customization features that allow you to kind of do whatever you want. If you enable God Mode, you get access to the following features (which show up in the game as <span class="god-mode god-mode-text">purple text</span>):</p>

<ul>
  <li>Create custom players by going to Tools > Create A Player</li>
  <li>Edit any player by going to their player page and clicking Edit Player</li>
  <li>Force any trade to be accepted by checking the Force Trade checkbox before proposing a trade</li>
  <li>You can become the GM of another team at any time</li>
  <li>You will never be fired!</li>
  <li>You will be able to change the options below</li>
</ul>

<p>However, if you enable God Mode within a league, you will not get credit for any <a href="/account">Achievements</a>. This persists even if you disable God Mode. You can only get Achievements in a league where God Mode has never been enabled.</p>

<button class="btn btn-danger" id="enable-god-mode" data-bind="visible: !godMode()">Enable God Mode</button>

<button class="btn btn-success" id="disable-god-mode" data-bind="visible: godMode">Disable God Mode</button>

<h2 style="margin-top: 1em">God Mode Options</h2>

<p class="text-danger">These options are not well tested and might make the AI do weird things.</p>

<div class="row">
  <div class="col-sm-3 col-xs-6 form-group">
    <label for="cap-name">Injuries</label>
    <select class="form-control" data-bind="enable: godMode, options: injuries, optionsText: 'text', value: !disableInjuries(), optionsValue: 'bool'"></select>
  </div>
  <div class="col-sm-3 col-xs-6 form-group">
    <label for="cap-name"># Games Per Season</label>
    <input type="text" class="form-control" data-bind="enable: godMode, textInput: numGames"></input>
  </div>    
  <div class="col-sm-3 col-xs-6 form-group">
    <label for="cap-name">Quarter Length (minutes)</label>
    <input type="text" class="form-control" data-bind="enable: godMode, textInput: quarterLength"></input>
  </div>
  <div class="col-sm-3 col-xs-6 form-group">
    <label for="cap-name">Min Roster Size</label>
    <input type="text" class="form-control" data-bind="enable: godMode, textInput: minRosterSize"></input>
  </div>
  <div class="col-sm-3 col-xs-6 form-group">
    <label for="cap-name">Salary Cap</label>
    <div class="input-group">
      <span class="input-group-addon">$</span><input type="text" class="form-control" data-bind="enable: godMode, textInput: salaryCap"></input><span class="input-group-addon">M</span>
    </div>
  </div>
  <div class="col-sm-3 col-xs-6 form-group">
    <label for="cap-name">Min Payroll</label>
    <div class="input-group">
      <span class="input-group-addon">$</span><input type="text" class="form-control" data-bind="enable: godMode, textInput: minPayroll"></input><span class="input-group-addon">M</span>
    </div>
  </div>
  <div class="col-sm-3 col-xs-6 form-group">
    <label for="cap-name">Luxury Tax Threshold</label>
    <div class="input-group">
      <span class="input-group-addon">$</span><input type="text" class="form-control" data-bind="enable: godMode, textInput: luxuryPayroll"></input><span class="input-group-addon">M</span>
    </div>
  </div>
  <div class="col-sm-3 col-xs-6 form-group">
    <label for="cap-name">Luxury Tax <span class="glyphicon glyphicon-question-sign help-icon" id="help-luxury-tax" data-placement="right"></span></label>
    <input type="text" class="form-control" data-bind="enable: godMode, textInput: luxuryTax"></input>
  </div>
  <div class="col-sm-3 col-xs-6 form-group">
    <label for="cap-name">Min Contract</label>
    <div class="input-group">
      <span class="input-group-addon">$</span><input type="text" class="form-control" data-bind="enable: godMode, textInput: minContract"></input><span class="input-group-addon">M</span>
    </div>
  </div>
  <div class="col-sm-3 col-xs-6 form-group">
    <label for="cap-name">Max Contract</label>
    <div class="input-group">
      <span class="input-group-addon">$</span><input type="text" class="form-control" data-bind="enable: godMode, textInput: maxContract"></input><span class="input-group-addon">M</span>
    </div>
  </div>
</div>

<button class="btn btn-primary" id="save-god-mode-options" data-bind="enable: godMode">Save God Mode Options</button>
