<h1>God Mode</h1>

<p>God Mode is a collection of customization features that allow you to kind of do whatever you want. If you enable God Mode, you get access to the following features:</p>

<ul>
  <li>Create custom players by going to Tools > Create A Player</li>
  <li>Edit any player by going to their player page and clicking Edit Player</li>
  <li>You will never be fired!</li>
</ul>

<p>However, if you enable God Mode within a league, you will not get credit for any <a href="/account">Achievements</a>. This persists even if you disable God Mode. The only way to get Achievements is in a league where God Mode has never been enabled.</p>

<button class="btn btn-danger" id="enable-god-mode" data-bind="visible: !godMode()">Enable God Mode</button>

<button class="btn btn-success" id="disable-god-mode" data-bind="visible: godMode">Disable God Mode</button>