<h1>Hall of Fame <span data-bind="newWindow: []"></span></h1>

<p>Players are eligible to be inducted into the Hall of Fame after they retire. The formula for inclusion is very similar to <a href="http://espn.go.com/nba/story/_/id/8736873/nba-experts-rebuild-springfield-hall-fame-espn-magazine">the method described in this article</a>. Hall of famers who played for your team are highlighted.</p>

<table class="table table-striped table-bordered table-condensed" id="hall-of-fame">
  <thead>
    <tr><th colspan="5"></th><th colspan="8" style="text-align: center">Best Season</th><th colspan="6" style="text-align: center">Career Stats</th></tr>
    <tr><th>Name</th><th title="Position">Pos</th><th>Drafted</th><th>Retired</th><th title="Peak Overall Rating">Peak Ovr</th><th>Year</th><th>Team</th><th title="Games Played">GP</th><th title="Minutes Per Game">Min</th><th title="Points Per Game">Pts</th><th title="Rebounds Per Game">Reb</th><th title="Assists Per Game">Ast</th><th title="Player Efficiency Rating">PER</th><th title="Games Played">GP</th><th title="Minutes Per Game">Min</th><th title="Points Per Game">Pts</th><th title="Rebounds Per Game">Reb</th><th title="Assists Per Game">Ast</th><th title="Player Efficiency Rating">PER</th></tr>
  </thead>
</table>