<h1>League History <span data-bind="newWindow: []"></span></h1>

<p>More:
  <a data-bind="attrLeagueUrl: {href: ['team_records']}">Team Records</a> |
  <a data-bind="attrLeagueUrl: {href: ['awards_records']}">Awards Records</a>
</p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="history-all">
    <thead>
      <tr>
        <th></th>
        <th>League Champion</th>
        <th>Runner Up</th>
        <th title="Finals Most Valuable Player">Finals MVP</th>
        <th title="Most Valuable Player">MVP</th>
        <th title="Defensive Player of the Year">DPOY</th>
        <th title="Rookie of the Year">ROY</th>
      </tr>
    </thead>
  </table>
</div>
