<h1>Inbox</h1>
<p>
<table class="table table-striped table-bordered table-condensed" id="messages">
  <tbody>
    {{#messages}}
      <tr{{#unless read}} class="alert-info"{{/unless}}><td>{{year}}</td><td>{{from}}</td><td class="text">{{text}}</td></tr>
    {{/messages}}
  </tbody>
</table>
</p>