<div data-bind="dropdown: 'leaders'"></div>
<div class="btn-group pull-right">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Jump To <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a data-bind="attrLeagueUrl: {href: ['standings', season]}">Standings</a></li>
    <li><a data-bind="attrLeagueUrl: {href: ['playoffs', season]}">Playoffs</a></li>
    <li><a data-bind="attrLeagueUrl: {href: ['history', season]}">Season Summary</a></li>
    <li><a data-bind="attrLeagueUrl: {href: ['league_finances', season]}">Finances</a></li>
    <li><a data-bind="attrLeagueUrl: {href: ['transactions', 'all', season]}">Transactions</a></li>
    <li><a data-bind="attrLeagueUrl: {href: ['draft_summary', season]}">Draft</a></li>
    <li><a data-bind="attrLeagueUrl: {href: ['leaders', season]}">Leaders</a></li>
    <li><a data-bind="attrLeagueUrl: {href: ['team_stats', season]}">Team Stats</a></li>
    <li><a data-bind="attrLeagueUrl: {href: ['player_stats', 'all', season]}">Player Stats</a></li>
    <li><a data-bind="attrLeagueUrl: {href: ['player_ratings', 'all', season]}">Player Ratings</a></li>
  </ul>
</div>

<h1>League Leaders <span data-bind="newWindow: []"></span></h1>

<p>Only eligible players are shown (<i>e.g.</i> a player shooting 2 for 2 on the season is not eligible for the league lead in FG%).</p>

<div class="row" data-bind="foreach: categories">
  <div class="col-md-4 col-sm-6">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-condensed leaders">
        <thead>
          <tr><th data-bind="text: name"></th><th data-bind="text: stat, attr: {title: title}"></th></tr>
        </thead>
        <tbody data-bind="foreach: data">
          <tr data-bind="css: {'info': userTeam}"><td><span data-bind="text: i"></span>. <span data-bind="playerNameLabels: [pid, name, injury, ratings.skills, watch]"></span>, <a data-bind="text: abbrev, attrLeagueUrl: {href: ['roster', abbrev, $root.season]}"></a></td><td data-bind="round: [stat, 1]"></tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--ko if: $index() % 3 === 2-->
    <div class="clearfix visible-md visible-lg"></div>
  <!--/ko-->
  <!--ko if: $index() % 2 === 1-->
    <div class="clearfix visible-sm"></div>
  <!--/ko-->
</div>
