<h1><span data-bind="text: region"></span> <span data-bind="text: name"></span> Dashboard <span data-bind="newWindow: []"></span></h1>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6">
    <h3>Current Record</h3>
    <p>
      <span data-bind="text: won"></span>-<span data-bind="text: lost"></span><!-- ko if: !playoffsStarted() && streakLong() -->, <span data-bind="text: streakLong"></span><!-- /ko --><br>
      <a data-bind="attrLeagueUrl: {href: ['standings']}">» Standings</a>
    </p>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <h3>Playoffs</h3>
    <p>
      <!-- ko if: showPlayoffSeries -->
        <b><span data-bind="text: seriesTitle"></span></b><br>
        <span data-bind="matchup: [0, 0]"></span><br>
      <!-- /ko -->
      <!-- ko if: !showPlayoffSeries() -->
        <span data-bind="text: rank"></span>th place in conference<br>
        (Top 8 teams make the playoffs)<br>
      <!-- /ko -->
      <!-- ko if: playoffsStarted -->
        <a data-bind="attrLeagueUrl: {href: ['playoffs']}">» Playoffs</a>
      <!-- /ko -->
      <!-- ko if: !playoffsStarted() -->
        <a data-bind="attrLeagueUrl: {href: ['playoffs']}">» Playoffs Projections</a>
      <!-- /ko -->
    </p>
  </div>
  <div class="visible-xs clearfix"></div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <h3>Inbox</h3>
    <table class="table table-striped table-bordered table-condensed" id="messages">
      <tbody data-bind="foreach: messages">
          <tr data-bind="css: {unread: !read()}"><td class="year"><a data-bind="text: year, attrLeagueUrl: {href: ['message', mid]}"></td><td class="from"><a data-bind="text: from, attrLeagueUrl: {href: ['message', mid]}"></a></td></tr>
      </tbody>
    </table>
    <p>
      <a data-bind="attrLeagueUrl: {href: ['inbox']}">» All Messages</a>
    </p>
  </div>
  <div class="visible-sm clearfix"></div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <h3>Recent Games</h3>
    <p>
      <span data-bind="visible: nextGameAbbrev">
        Next Game: <span data-bind="visible: !nextGameHome()">@</span><a data-bind="attrLeagueUrl: {href: ['roster', nextGameAbbrev]}, text: nextGameAbbrev"></a><br>
      </span>
      <span data-bind="visible: recentGames().length === 0">No completed games yet this season.<br></span>
      <!-- ko foreach: recentGames -->
        <span data-bind="visible: !home()">@</span><a data-bind="attrLeagueUrl: {href: ['roster', oppAbbrev]}, text: oppAbbrev"></a>, <span data-bind="text: won() ? 'won' : 'lost'"></span> <a data-bind="attrLeagueUrl: {href: ['game_log', $parent.abbrev, $parent.season, gid]}"><span data-bind="text: pts"></span>-<span data-bind="text: oppPts"></span><span data-bind="text: overtime"></span></a><br>
      <!-- /ko -->
      <a data-bind="attrLeagueUrl: {href: ['game_log']}">» Game Log</a><br>
      <a data-bind="attrLeagueUrl: {href: ['standings']}">» Schedule</a>
    </p>
  </div>
  <div class="visible-lg visible-md visible-xs clearfix"></div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <h3>Recent History</h3>
    <p>
      <span data-bind="visible: recentHistory().length === 0">None yet.<br></span>
      <!-- ko foreach: recentHistory -->
        <span data-bind="recordAndPlayoffs: [$root.abbrev, season, won, lost, playoffRoundsWon]"></span><br>
      <!-- /ko -->
      <a data-bind="attrLeagueUrl: {href: ['team_history']}">» Team History</a><br>
      <a data-bind="attrLeagueUrl: {href: ['history']}">» League History</a>
    </p>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <h3>Team Stats</h3>
    <p>
      Points: <span data-bind="round: [pts, 1]"></span> (<span data-bind="ordinal: ptsRank"></span>)<br>
      Allowed: <span data-bind="round: [oppPts, 1]"></span> (<span data-bind="ordinal: oppPtsRank"></span>)<br>
      Rebounds: <span data-bind="round: [trb, 1]"></span> (<span data-bind="ordinal: trbRank"></span>)<br>
      Assists: <span data-bind="round: [ast, 1]"></span> (<span data-bind="ordinal: astRank"></span>)<br>
      <a data-bind="attrLeagueUrl: {href: ['team_stats']}">» Team Stats</a>
    </p>
  </div>
  <div class="visible-sm visible-xs clearfix"></div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <h3>Team Leaders</h3>
    <p>
      <a data-bind="attrLeagueUrl: {href: ['player', teamLeaders.pts.pid]}, text: teamLeaders.pts.name"></a>: <span data-bind="round: [teamLeaders.pts.stat, 1]"></span> pts<br>
      <a data-bind="attrLeagueUrl: {href: ['player', teamLeaders.trb.pid]}, text: teamLeaders.trb.name"></a>: <span data-bind="round: [teamLeaders.trb.stat, 1]"></span> reb<br>
      <a data-bind="attrLeagueUrl: {href: ['player', teamLeaders.ast.pid]}, text: teamLeaders.ast.name"></a>: <span data-bind="round: [teamLeaders.ast.stat, 1]"></span> ast<br>
      <a data-bind="attrLeagueUrl: {href: ['roster']}">» Full Roster</a>
    </p>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <h3>League Leaders</h3>
    <p>
      <a data-bind="attrLeagueUrl: {href: ['player', leagueLeaders.pts.pid]}, text: leagueLeaders.pts.name"></a>, <a data-bind="attrLeagueUrl: {href: ['roster', leagueLeaders.pts.abbrev]}, text: leagueLeaders.pts.abbrev"></a>: <span data-bind="round: [leagueLeaders.pts.stat, 1]"></span> pts<br>
      <a data-bind="attrLeagueUrl: {href: ['player', leagueLeaders.trb.pid]}, text: leagueLeaders.trb.name"></a>, <a data-bind="attrLeagueUrl: {href: ['roster', leagueLeaders.trb.abbrev]}, text: leagueLeaders.trb.abbrev"></a>: <span data-bind="round: [leagueLeaders.trb.stat, 1]"></span> reb<br>
      <a data-bind="attrLeagueUrl: {href: ['player', leagueLeaders.ast.pid]}, text: leagueLeaders.ast.name"></a>, <a data-bind="attrLeagueUrl: {href: ['roster', leagueLeaders.ast.abbrev]}, text: leagueLeaders.ast.abbrev"></a>: <span data-bind="round: [leagueLeaders.ast.stat, 1]"></span> ast<br>
      <a data-bind="attrLeagueUrl: {href: ['leaders']}">» League Leaders</a><br>
      <a data-bind="attrLeagueUrl: {href: ['player_stats']}">» Player Stats</a>
    </p>
  </div>
  <div class="visible-lg visible-md visible-xs clearfix"></div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <h3>Finances</h3>
    <p>
      Avg Attendance: <span data-bind="numberWithCommas: att"></span><br>
      Revenue (YTD): <span data-bind="currency: [revenue, 'M']"></span><br>
      Profit (YTD): <span data-bind="currency: [profit, 'M']"></span><br>
      Cash: <span data-bind="currency: [cash, 'M']"></span><br>
      Payroll: <span data-bind="currency: [payroll, 'M']"></span><br>
      Salary Cap: <span data-bind="currency: [salaryCap, 'M']"></span><br>
      <a data-bind="attrLeagueUrl: {href: ['league_finances']}">» League Finances</a>
    </p>
  </div>
  <div class="visible-sm clearfix"></div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <h3>Top Free Agents</h3>
    <p>
      <span data-bind="visible: freeAgents().length === 0">None.<br></span>
      <!-- ko foreach: freeAgents -->
        <a data-bind="attrLeagueUrl: {href: ['player', pid]}, text: name"></a>: <span data-bind="text: age"></span> yo, <span data-bind="text: ovr"></span> ovr, <span data-bind="text: pot"></span> pot</span><br>
      <!-- /ko -->
      (You have <span data-bind="text: numRosterSpots"></span> open roster spots)<br>
      <a data-bind="attrLeagueUrl: {href: ['free_agents']}">» Free Agents</a>
    </p>
  </div>
  <div class="visible-xs clearfix"></div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <h3>Expiring Contracts</h3>
    <p>
      <span data-bind="visible: expiring().length === 0">None.<br></span>
      <!-- ko foreach: expiring -->
        <a data-bind="attrLeagueUrl: {href: ['player', pid]}, text: name"></a>: <span data-bind="text: age"></span> yo, <span data-bind="currency: [contractAmount, 'M']"></span><br>
        <span style="margin-left: 2em"><span data-bind="round: [pts, 1]"></span> pts, <span data-bind="text: ovr"></span> ovr, <span data-bind="text: pot"></span> pot</span><br>
      <!-- /ko -->
      <a data-bind="attrLeagueUrl: {href: ['roster']}">» Full Roster</a>
    </p>
  </div>
</div>