<h1><span data-bind="text: region"></span> <span data-bind="text: name"></span> Dashboard <span data-bind="newWindow: []"></span></h1>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-4 hidden-xs">
        <h3></h3>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr><th width="100%">Team</th><th align="right">GB</th></tr>
          </thead>
          <tbody data-bind="foreach: confTeams">
            <tr data-bind="css: {separator: $index() === 7, info: highlight}"><td><span data-bind="text: rank"></span>. <a data-bind="attrLeagueUrl: {href: ['roster', abbrev]}, text: region"></a></td><td align="right" data-bind="text: gb"></td></tr>
          </tbody>
        </table>
        <a data-bind="attrLeagueUrl: {href: ['standings']}">» League Standings</a>
      </div>
      <div class="col-sm-8">
        <div style="text-align: center">
          <span style="font-size: 48px"><span data-bind="text: won"></span>-<span data-bind="text: lost"></span></span><br>
          <span style="font-size: 24px">
            <!-- ko if: playoffRoundsWon() < 0 -->
              <span data-bind="ordinal: rank"></span> in conference
            <!-- /ko -->
            <!-- ko if: playoffRoundsWon() === 0 -->
              <span>Made playoffs</span>
            <!-- /ko -->
            <!-- ko if: playoffRoundsWon() === 1 -->
              <span>Made second round</span>
            <!-- /ko -->
            <!-- ko if: playoffRoundsWon() === 2 -->
              <span>Made conference finals</span>
            <!-- /ko -->
            <!-- ko if: playoffRoundsWon() === 3 -->
              <span>Conference champs</span>
            <!-- /ko -->
            <!-- ko if: playoffRoundsWon() === 4 -->
              <span>League champs</span>
            <!-- /ko -->
          </span>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <h3>Team Leaders</h3>
            <p>
              <a data-bind="attrLeagueUrl: {href: ['player', teamLeaders.pts.pid]}, text: teamLeaders.pts.name"></a>: <span data-bind="round: [teamLeaders.pts.stat, 1]"></span> pts<br>
              <a data-bind="attrLeagueUrl: {href: ['player', teamLeaders.trb.pid]}, text: teamLeaders.trb.name"></a>: <span data-bind="round: [teamLeaders.trb.stat, 1]"></span> reb<br>
              <a data-bind="attrLeagueUrl: {href: ['player', teamLeaders.ast.pid]}, text: teamLeaders.ast.name"></a>: <span data-bind="round: [teamLeaders.ast.stat, 1]"></span> ast<br>
              <a data-bind="attrLeagueUrl: {href: ['roster']}">» Full Roster</a>
            </p>
            <h3>League Leaders</h3>
            <p>
              <a data-bind="attrLeagueUrl: {href: ['player', leagueLeaders.pts.pid]}, text: leagueLeaders.pts.name"></a>, <a data-bind="attrLeagueUrl: {href: ['roster', leagueLeaders.pts.abbrev]}, text: leagueLeaders.pts.abbrev"></a>: <span data-bind="round: [leagueLeaders.pts.stat, 1]"></span> pts<br>
              <a data-bind="attrLeagueUrl: {href: ['player', leagueLeaders.trb.pid]}, text: leagueLeaders.trb.name"></a>, <a data-bind="attrLeagueUrl: {href: ['roster', leagueLeaders.trb.abbrev]}, text: leagueLeaders.trb.abbrev"></a>: <span data-bind="round: [leagueLeaders.trb.stat, 1]"></span> reb<br>
              <a data-bind="attrLeagueUrl: {href: ['player', leagueLeaders.ast.pid]}, text: leagueLeaders.ast.name"></a>, <a data-bind="attrLeagueUrl: {href: ['roster', leagueLeaders.ast.abbrev]}, text: leagueLeaders.ast.abbrev"></a>: <span data-bind="round: [leagueLeaders.ast.stat, 1]"></span> ast<br>
              <a data-bind="attrLeagueUrl: {href: ['leaders']}">» League Leaders</a><br>
              <a data-bind="attrLeagueUrl: {href: ['player_stats']}">» Player Stats</a>
            </p>
            <h3>Inbox</h3>
            <table class="table table-bordered table-condensed" id="messages">
              <tbody data-bind="foreach: messages">
                  <tr data-bind="css: {unread: !read()}"><td class="year"><a data-bind="text: year, attrLeagueUrl: {href: ['message', mid]}"></td><td class="from"><a data-bind="text: from, attrLeagueUrl: {href: ['message', mid]}"></a></td></tr>
              </tbody>
            </table>
            <p>
              <a data-bind="attrLeagueUrl: {href: ['inbox']}">» All Messages</a>
            </p>
          </div>
          <div class="col-xs-6">
            <h3>Team Stats</h3>
            <p>
              Points: <span data-bind="round: [pts, 1]"></span> (<span data-bind="ordinal: ptsRank"></span>)<br>
              Allowed: <span data-bind="round: [oppPts, 1]"></span> (<span data-bind="ordinal: oppPtsRank"></span>)<br>
              Rebounds: <span data-bind="round: [trb, 1]"></span> (<span data-bind="ordinal: trbRank"></span>)<br>
              Assists: <span data-bind="round: [ast, 1]"></span> (<span data-bind="ordinal: astRank"></span>)<br>
              <a data-bind="attrLeagueUrl: {href: ['team_stats']}">» Team Stats</a>
            </p>
            <h3>Finances</h3>
            <p>
              Avg Attendance: <span data-bind="numberWithCommas: att"></span><br>
              Revenue (YTD): <span data-bind="currency: [revenue, 'M']"></span><br>
              Profit (YTD): <span data-bind="currency: [profit, 'M']"></span><br>
              Cash: <span data-bind="currency: [cash, 'M']"></span><br>
              Payroll: <span data-bind="currency: [payroll, 'M']"></span><br>
              Salary Cap: <span data-bind="currency: [salaryCap, 'M']"></span><br>
              <a data-bind="attrLeagueUrl: {href: ['team_finances']}">» Team Finances</a><br>
              <a data-bind="attrLeagueUrl: {href: ['league_finances']}">» League Finances</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix visible-sm"></div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12 col-xs-6">
        <!-- ko if: showPlayoffSeries -->
          <h3>Playoffs</h3>
          <p>
            <b><span data-bind="text: seriesTitle"></span></b><br>
            <span data-bind="matchup: [0, 0]"></span><br>
            <a data-bind="attrLeagueUrl: {href: ['playoffs']}">» Playoffs</a>
          </p>
        <!-- /ko -->
        <!-- ko if: !showPlayoffSeries() -->
          <h3>Upcoming Games</h3>
          <ul class="list-group" data-bind="foreach: upcoming" style="margin-bottom: 6px">
            <li class="list-group-item schedule-row">
              <a data-bind="attrLeagueUrl: {href: ['roster', teams[0].abbrev]}"><span data-bind="text: teams[0].region"></span></a>
              <span class="schedule-at">@</span>
              <a data-bind="attrLeagueUrl: {href: ['roster', teams[1].abbrev]}"><span data-bind="text: teams[1].region"></span></span></a>
            </li>
          </ul>
          <p data-bind="visible: upcoming().length === 0">None</p>
          <a data-bind="attrLeagueUrl: {href: ['schedule']}">» Schedule</a>
        <!-- /ko -->
      </div>
      <div class="col-md-12 col-xs-6">
        <h3>Completed Games</h3>
        <ul class="list-group" data-bind="foreach: completed" style="margin-bottom: 6px">
          <li class="list-group-item schedule-row" data-bind="css: {'list-group-item-success': won, 'list-group-item-danger': !won}">
            <div class="schedule-results">
              <div class="schedule-wl" data-bind="text: won ? 'W' : 'L'"></div>
              <div class="schedule-score"><a data-bind="attrLeagueUrl: {href: ['game_log', $root.abbrev, $root.season, gid]}, text: score + overtime"></a></div>
            </div>
            <a data-bind="attrLeagueUrl: {href: ['roster', teams[0].abbrev]}"><span data-bind="text: teams[0].abbrev"></span></a>
            <span class="schedule-at">@</span>
            <a data-bind="attrLeagueUrl: {href: ['roster', teams[1].abbrev]}"><span data-bind="text: teams[1].abbrev"></span></span></a>
          </li>
        </ul>
        <p data-bind="visible: completed().length === 0">None</p>
        <a data-bind="attrLeagueUrl: {href: ['game_log']}">» Game Log</a>
      </div>
    </div>
  </div>
</div>

<h3>Starting Lineup</h3>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="roster">
    <thead>
      <tr><th>Name</th><th title="Position">Pos</th><th>Age</th><th title="Years With Team">YWT</th><th title="Overall Rating">Ovr</th><th title="Potential Rating">Pot</th><th>Contract</th><th title="Games Played">GP</th><th title="Minutes Per Game">Min</th><th title="Points Per Game">Pts</th><th title="Rebounds Per Game">Reb</th><th title="Assists Per Game">Ast</th><th title="Player Efficiency Rating">PER</th></tr>
    </thead>
    <tbody data-bind="foreach: starters">
      <tr>
        <td data-bind="playerNameLabels: [pid, name, injury, ratings.skills, watch]"></td>
        <td data-bind="text: pos"></td>
        <td data-bind="text: age"></td>
        <td data-bind="text: yearsWithTeam"></td>
        <td><span data-bind="text: ratings.ovr"></span><span data-bind="visible: ratings.dovr() !== 0, css: { 'text-success': ratings.dovr() > 0, 'text-danger': ratings.dovr() < 0 }"> (<span data-bind="text: ratings.dovr() > 0 ? '+' : ''"></span><span data-bind="text: ratings.dovr"></span>)</span></td>
        <td><span data-bind="text: ratings.pot"></span><span data-bind="visible: ratings.dpot() !== 0, css: { 'text-success': ratings.dpot() > 0, 'text-danger': ratings.dpot() < 0 }"> (<span data-bind="text: ratings.dpot() > 0 ? '+' : ''"></span><span data-bind="text: ratings.dpot"></span>)</span></td>
        <td>
          <span data-bind="currency: [contract.amount, 'M']"></span> thru <span data-bind="text: contract.exp"></span>
        </td>
        <td data-bind="text: stats.gp"></td>
        <td data-bind="round: [stats.min, 1]"></td>
        <td data-bind="round: [stats.pts, 1]"></td>
        <td data-bind="round: [stats.trb, 1]"></td>
        <td data-bind="round: [stats.ast, 1]"></td>
        <td data-bind="round: [stats.per, 1]"></td>
      </tr>
    </tbody>
  </table>
</div>
<a data-bind="attrLeagueUrl: {href: ['roster']}">» Full Roster</a>