<div data-bind="dropdown: 'league-finances'"></div>

<h1>League Finances <span data-bind="newWindow: []"></span></h1>

<p>
  Salary cap: <strong data-bind="currency: [salaryCap, 'M']"></strong> (teams over this amount cannot sign free agents for more than the minimum contract)<br>
  Minimum payroll limit: <strong data-bind="currency: [minPayroll, 'M']"></strong> (teams with payrolls below this limit will be assessed a fine equal to the difference at the end of the season)<br>
  Luxury tax limit: <strong data-bind="currency: [luxuryPayroll, 'M']"></strong> (teams with payrolls above this limit will be assessed a fine equal to <span data-bind="text: luxuryTax"></span> times the difference at the end of the season)
</p>

<table class="table table-striped table-bordered table-condensed" id="league-finances">
  <thead>
    <tr><th>Team</th><th>Avg Attendance</th><th>Revenue (YTD)</th><th>Profit (YTD)</th><th>Cash</th><th>Payroll</th></tr>
  </thead>
</table>