<h1>Live Game Simulation <span data-bind="newWindow: []"></span></h1>

<p data-bind="visible: playByPlay().length === 0">To view a live play-by-play summary of a game, select one of tomorrow's games below.</p>

<div data-bind="visible: playByPlay().length === 0" id="games-list">
  <!-- ko foreach: games -->
    <form style="margin: 0 1em 1em 0; float: left;" method="post" data-bind="attrLeagueUrl: {action: ['live']}">
      <input type="hidden" name="gid" data-bind="value: gid">
      <button class="btn btn-default" data-bind="css: {'btn-success': highlight}">
        <span data-bind="text: awayRegion"></span> <span data-bind="text: awayName"></span>
        at<br>
        <span data-bind="text: homeRegion"></span> <span data-bind="text: homeName"></span>
      </button>
    </form>
  <!-- /ko -->
</div>
