<h1>Live Game Simulation <span data-bind="newWindow: []"></span></h1>

<p data-bind="visible: playByPlay().length === 0">To view a live play-by-play summary of a game, select one of tomorrow's games below.</p>

<div data-bind="visible: playByPlay().length === 0, foreach: games" id="games-list">
  <form style="margin: 0 1em 1em 0; float: left;" method="post" data-bind="attrLeagueUrl: {action: ['live']}">
    <input type="hidden" name="gid" data-bind="value: gid">
    <button class="btn btn-default" data-bind="css: {'btn-success': highlight}">
      <span data-bind="text: awayRegion"></span> <span data-bind="text: awayName"></span>
      at<br>
      <span data-bind="text: homeRegion"></span> <span data-bind="text: homeName"></span>
    </button>
  </form>
</div>

<p data-bind="visible: playByPlay().length > 0" class="text-danger">If you navigate away from this page, you won't be able to see these play-by-play results again because they are not stored anywhere. The results of this game are final, though.</p>

<div class="row" data-bind="if: playByPlay().length > 0">
  <div class="col-lg-8 col-md-9 col-lg-push-4 col-md-push-3">
    <!-- ko if: showBoxScore -->
      <center>
        <h2><a data-bind="attrLeagueUrl: {href: ['roster', boxScore.teams()[0].abbrev, boxScore.season]}, text: boxScore.teams()[0].region() + ' ' + boxScore.teams()[0].name()"></a> <span data-bind="text: boxScore.teams()[0].pts"></span>, <a data-bind="attrLeagueUrl: {href: ['roster', boxScore.teams()[1].abbrev, boxScore.season]}, text: boxScore.teams()[1].region() + ' ' + boxScore.teams()[1].name()"></a> <span data-bind="text: boxScore.teams()[1].pts"></span><span data-bind="text: boxScore.overtime"></span></h2>
        <table class="table table-bordered" style="margin-top: 0.5em; width: auto">
          <tbody data-bind="foreach: boxScore.teams">
            <th><a data-bind="attrLeagueUrl: {href: ['roster', abbrev, $root.boxScore.season]}, text: abbrev"></a></th>
            <!-- ko foreach: ptsQtrs -->
              <td data-bind="text: $data"></td>
            <!-- /ko -->
            <th data-bind="text: pts"></th>
          </tbody>
        </table>
        <span data-bind="text: boxScore.quarter"></span>, <span data-bind="text: boxScore.time"></span> left
      </center>
      <!-- ko foreach: boxScore.teams -->
        <h3><a data-bind="attrLeagueUrl: {href: ['roster', abbrev, $root.boxScore.season]}, text: region() + ' ' + name()"></a></h2>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-condensed box-score-team">
            <thead>
              <tr><th>Name</th><th>Pos</th><th>Min</th><th>FG</th><th>3Pt</th><th>FT</th><th>Off</th><th>Reb</th><th>Ast</th><th>TO</th><th>Stl</th><th>Blk</th><th>PF</th><th>Pts</th></tr>
            </thead>
            <tbody data-bind="foreach: players">
              <tr data-bind="attr: {class: $index() === 4 || $index() === $parent.players().length - 1 ? 'separator' : ''}">
                <td data-bind="playerNameLabels: [pid, name, injury, skills]"></td>
                <td data-bind="text: pos"></td>
                <td data-bind="round: [min, 1]"></td>
                <td data-bind="text: fg() + '-' + fga()"></td>
                <td data-bind="text: tp() + '-' + tpa()"></td>
                <td data-bind="text: ft() + '-' + fta()"></td>
                <td data-bind="text: orb"></td>
                <td data-bind="text: trb"></td>
                <td data-bind="text: ast"></td>
                <td data-bind="text: tov"></td>
                <td data-bind="text: stl"></td>
                <td data-bind="text: blk"></td>
                <td data-bind="text: pf"></td>
                <td data-bind="text: pts"></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Total</td>
                <td></td>
                <td data-bind="round: [min, 0]"></td>
                <td data-bind="text: fg() + '-' + fga()"></td>
                <td data-bind="text: tp() + '-' + tpa()"></td>
                <td data-bind="text: ft() + '-' + fta()"></td>
                <td data-bind="text: orb"></td>
                <td data-bind="text: trb"></td>
                <td data-bind="text: ast"></td>
                <td data-bind="text: tov"></td>
                <td data-bind="text: stl"></td>
                <td data-bind="text: blk"></td>
                <td data-bind="text: pf"></td>
                <td data-bind="text: pts"></td>
              </tr>
            </tfoot>
          </table>
        </div>
      <!-- /ko -->
    <!-- /ko -->
  </div>
  <div class="col-lg-4 col-md-3 col-lg-pull-8 col-md-pull-9">
    <form>
      <label for="playByPlaySpeed">Play-By-Play Speed:</label>
      <input type="range" id="playByPlaySpeed" min="1" max="19" step="1" style="width: 100%" data-bind="value: speed">
    </form>

    <!-- ko foreach: playByPlay -->
      <p data-bind="html: $data"></p>
    <!-- /ko -->
  </div>
</row>