<h1></h1>
<div class="row">
  <div class="col-lg-3 col-md-2 col-sm-1"></div>
  <div class="col-lg-6 col-md-8 col-sm-9">
    <p>Using a Basketball GM account currently only enables one feature: it stores your achievements in the cloud. This way, you can have leagues in different browsers and different computers that all contribute to your achievements.</p>
    <p>If that doesn't sound compelling to you, you don't have to make an account and you can still <a href="/account">view your achievements from leagues in this browser</a>. But hopefully more exciting features will be coming in the future!</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
  <div class="col-lg-3 col-md-4 col-sm-5">
    <h1>Login</h1>
    <form id="login" data-no-davis="true">
      <div class="form-group">
        <label class="control-label" for="login-username">Username</label>
        <input type="text" class="form-control" id="login-username" name="username" required="required">
      </div>
      <div class="form-group">
        <label class="control-label" for="login-password">Password</label>
        <input type="password" class="form-control" id="login-password" name="password" required="required">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
      <p class="text-danger" id="login-error" style="margin-top: 1em"></p>
    </form>
  </div>
  <div class="col-sm-2 hidden-xs"></div>
  <div class="col-lg-3 col-md-4 col-sm-5">
    <h1>Register</h1>
    <form id="register" data-no-davis="true">
      <div class="form-group">
        <label class="control-label" for="register-username">Username</label>
        <input type="text" class="form-control" id="register-username" name="username" required="required" maxlength="15" pattern="[A-Za-z-0-9-_]+" title="Letters, numbers, dashes (-), and underscores (_) only">
        <span class="help-block" id="username-format">Letters, numbers, dashes (-), and underscores (_) only. Max 15 characters.</span>
        <span class="help-block" id="register-username-error"></span>
      </div>
      <div class="form-group">
        <label class="control-label" for="register-email">Email Address</label>
        <input type="email" class="form-control" id="register-email" name="email" required="required">
        <span class="help-block" id="register-email-error"></span>
      </div>
      <div class="form-group">
        <label class="control-label" for="register-password">Password</label>
        <input type="password" class="form-control" id="register-password" name="password" required="required">
        <span class="help-block" id="register-password-error"></span>
      </div>
      <div class="form-group">
        <label class="control-label" for="register-password2">Verify Password</label>
        <input type="password" class="form-control" id="register-password2" name="password2" required="required">
        <span class="help-block" id="register-password2-error"></span>
      </div>
      <button type="submit" class="btn btn-default">Create New Account</button>
      <p class="text-danger" id="register-error" style="margin-top: 1em"></p>
    </form>
  </div>
</div>