<p>Basketball GM is a completely free sports management simulation game. You are the general manager of a basketball team, tasked with building your roster to compete for a championship while managing your finances. As of now, your goal can be whatever you want: winning the most championships, making the most profit, developing players from rookies to stars, etc. You can make an unlimited number of different leagues from <a href="/">the dashboard</a>, each one with a different set of random players.</p>

<h2>User Interface</h2>

<p>From within a league, the most important user interface element is the Play Menu, which you can access with the big blue Play button at the top of the screen. Any context-dependent action, like playing a game or moving from one phase to another, is done from the Play Menu. Everything else about the user interface should (hopefully) be self-explanitory.</p>

<h2>Gameplay Overview</h2>

<p>Each season of the game is divided into several phases:</p>

<ul>
  <li><b>Preaseason.</b> Players develop/age (<i>i.e.</i> their ratings change). Young players tend to get better, old players tend to get worse.</li>
  <li><b>Regular season.</b> Regular season games are played, at the pace you choose through the Play menu.</li>
  <li><b>Playoffs.</b> Teams that made the playoffs (top 8 in each conference) progress through the bracket playing best-of-7 series until a champion emerges.</li>
  <li><b>Pre-draft.</b> After the playoffs end, you have one more chance to make changes to your roster before the draft, such as releasing a player to make room on your roster for a new player.</li>
  <li><b>Draft.</b> Similar to the NBA draft - other than a lottery for the first three picks of the first round, teams are ordered from worst to best for two rounds.</li>
  <li><b>Post-draft.</b> After the draft, you have one more chance to make changes to your roster before free agency.</li>
  <li><b>Free agency.</b> Contracts expire. For players on your team, you will have the chance to negotiate a new contract with each player whose contract expires. Otherwise, players with expiring contracts become free agents. The same thing happens for the other teams, so the free agents list is most richly populated at this time.</li>
</ul>

<h2>League Rules</h2>

<p>League rules are generally modeled on the NBA, but simplified.</p>

<h3>Salary cap</h3>

<p>The salary cap is $60 million. This is a soft cap, in the sense that even if you are over the salary cap, you can still:</p>

<ul>
  <li>Draft players and add their salaries</li>
  <li>Resign your current players (like the <a href="http://en.wikipedia.org/wiki/NBA_salary_cap#Larry_Bird_exception">Larry Bird exception</a>)</li>
  <li>Sign free agents to minimum contracts ($500k)</li>
</ul>

<h3>Contracts</h3>

<p>The maximum contract amount is $20 million per year and the maximum contract length is 5 years.</p>

<p>The minimum contract amount is $500 thousand per year and the minimum contract length is 1 year (or, until the end of the season, if the season is already in progress).</p>

<p>When a contract expires, you have the opportunity to negotiate a new contract with the player. If you don't come to an agreement, the player becomes a free agent. This is important because, based on the salary cap rules, you can go over the cap to resign your own players but you can't go over the cap to sign a free agent.</p>

<h3>Roster</h3>

<p>The maximum roster size is 15. You can never exceed this, except during the draft. But right after that, you'll have to release or buy out enough players to get under the limit.</p>

<p>The minimum roster size is 5. You must be above this limit to play games.</p>

<h2>Player Ratings</h2>

<p>Player ratings for a variety of categories (shooting, rebounding, passing, dribbling, etc.) are on a scale from 0-100. The whole scale is used, so a typical value for a rating is 50. Roughly, the overall ("ovr") player ratings mean:</p>

<ul>
  <li><b>90s:</b> All-time great</li>
  <li><b>80s:</b> MVP candidate</li>
  <li><b>70s:</b> All League candidate</li>
  <li><b>60s:</b> Good starter</li>
  <li><b>50s:</b> Role player</li>
  <li><b>40s and lower:</b> Bench</li>
</ul>

<p>However, the overall ratings aren't a guarantee of performance. The particular mix of ratings plays into success (<i>e.g.</i> a short player having a 100 shot blocking rating doesn't do much), as do a player's teammates (<i>e.g.</i> a good rebounder doesn't help your team as much if you already have a few other good rebounders).</p>

<p>The potential ("pot") rating is also important. This is an estimate of the ceiling of the player's future overall rating. Just like in real life, most players never reach their ceiling, but some do reach it and some even exceed it. As a player with high potential grows older, it becomes less and less likely that he will ever reach his potential.</p>

<p>Also, you might notice that the height ("hgt") rating is not always proportional to the height in feet/inches of a player. So you might see a 6'8" player with 100 hgt and a 7 footer with 80 hgt. The hgt rating is what's used in the simulations. The heights in feet/inches are just for show. So hgt is really meant to also include things like wingspan and standing reach - basically how much a player's height/length impacts the game.</p>

<p>The displayed ratings are not the real ratings. They are estimates from your scouts. Increase the scouting budget to see more accurate ratings.</p>

<p>Finally, little symbols you see next to a player's name like <span class="skills_alone"><span title="Three Point Shooter" class="skill">3</span><span title="Athlete" class="skill">A</span><span class="skill" title="Ball Handler">B</span><span title="Interior Defender" class="skill">Di</span><span class="skill" title="Perimeter Defender">Dp</span><span class="skill" title="Post Scorer">Po</span><span class="skill" title="Passer">Ps</span><span title="Rebounder" class="skill">R</span></span> represent the key skills a player has. This is designed so that you can just glance at a player and easily take in that information. To see what a symbol means, hover your mouse over it.</p>

<h2>How does it work?</h2>

<p>There are no accounts, no passwords, no nothing. All the game data is stored locally on your computer using <a href="https://www.google.com/search?q=indexeddb">IndexedDB</a>. This has advantages and disadvantages. The main advantage is that it is really cheap to run this game, since simulations can occur in your web browser rather than a central server; this is what allows the game to be free and unlimited. The two main disadvantages are (1) doing simulations in your web browser incurs some performance restrictions (but it's not that bad), and (2) since the games are stored on your computer and not on a server, you can't access the same leagues on different computers (eventually this will be possible though).</p>

<h2>Performance</h2>

<p>Game simulation can be taxing on your computer, particularly as additional seasons are simulated and the database grows. There are a couple of tricks you can use to speed this up:</p>

<ol>
  <li>Don't open multiple windows/tabs viewing while you are simulating games. If you do, then all of the windows will try to update their content every day, which takes valuable computing resources away from actually simulating the games.</li>
  <li>Don't have a complicated page (such as the league dashboard) open when you simulate games. As the simulation progresses, the content of whatever you're viewing updates each day. If you're viewing something complex, this can be a little slow. For the fastest performance, view something old like the standings from a previous season which does not have to update ever.</li>
</ol>

<h2>Customized Rosters</h2>

<p>By default, all players are completely randomly generated. <a href="/manual/custom_rosters">Click here for more info about custom rosters.</a></p>

<h2>Make Basketball GM better!</h2>

<p>Basketball GM is open source. That means you can copy/edit/improve/redistribute the game. <a href="https://github.com/jdscheff/basketball-gm">The code is on GitHub</a>, avaliable under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License</a>. If you want to help make Basketball GM better, there are tons of ways you can help. You can start hacking on anything you want or <a href="mailto:jdscheff@gmail.com">send me an email</a> if you want to discuss things first.</p>

<h2>Still not sure about something?</h2>

<p>If you have a question or think you found a bug or you want to request a feature, either <a href="mailto:commissioner@basketball-gm.com">send an email</a> (commissioner@basketball-gm.com) or <a href="https://github.com/jdscheff/basketball-gm/issues">submit an issue on GitHub</a>.</p>