<p>Basketball GM supports custom roster files that define the players to be used in a new league.</p>

<h2>Getting a Custom Roster File</h2>

<p>There are two sources of roster files:</p>

<ol>
  <li><b>Download:</b> If someone has made a custom roster file and put it up online, you can download it and use it. You might find some <a href="http://www.reddit.com/r/BasketballGM/search?q=roster&restrict_sr=on">on Reddit</a>.</li>
  <li><b>Export:</b> From within any league, you can export the rosters from any season (current or past) by clicking "Export Rosters" at the bottom of the league menu on the left.</li>
</ol>

<p>It is also easy to edit these roster files however you want, as is described below.</p>

<h2>Using a custom roster file</h2>

<p>When you are creating a <a href="/new_league">new league</a>, change the rosters from "Random Players" to "Upload Custom Rosters". Then, select your desired roster file.</p>

<h2>Editing a Custom Roster File</h2>

<p>A custom roster file is simply a <a href="http://en.wikipedia.org/wiki/JSON">JSON</a> file containing a list of players. You can add/remove/edit any part of it.</p>

<p>One way to do this is to look at the structure of an exported roster file and base your new file off that. This will allow you to see all of the required and optional data you can store in roster files.</p>

<p>Another way to make roster files is to use <a href="http://goo.gl/PthbNF"><b>this cool spreadsheet template</b></a> created by <a href="http://www.reddit.com/r/BasketballGM/comments/25gj2n/roster_creation_template_spreadsheet/">MFazio23</a>.</p>

<p>Many fields in the roster files are optional. The only required ones are shown below. Any other fields you see in an exported or custom roster file are purely optional.</p>

<pre>
{
  "startingSeason": 2013,
  "players": [
    {
      "name": "Andrew Phillips",
      "tid": 0,
      "ratings": [
        {
          "hgt": 20,
          "stre": 0,
          "spd": 85,
          "jmp": 50,
          "endu": 55,
          "ins": 68,
          "dnk": 45,
          "ft": 57,
          "fg": 64,
          "tp": 16,
          "blk": 49,
          "stl": 37,
          "drb": 75,
          "pss": 76,
          "reb": 39,
          "pot": 49
        }
      ]
    },
    {
      "name": "Heriberto Braman",
      "tid": 0,
      "ratings": [
        {
          "hgt": 27,
          "stre": 34,
          "spd": 85,
          "jmp": 55,
          "endu": 25,
          "ins": 46,
          "dnk": 42,
          "ft": 42,
          "fg": 54,
          "tp": 72,
          "blk": 48,
          "stl": 40,
          "drb": 72,
          "pss": 75,
          "reb": 44,
          "pot": 52
        }
      ]
    }
  ]
}
</pre>

<p>A list of things you should know when making a roster file:</p>

<ul>
  <li>tid is the team ID number, ranging from 0 to N in alphabetical order. -1 is for free agents.</li>
  <li>In the example above, there are only two players defined. If your file doesn't include at least 10 players on each team, then bad things will happen when you try to use it.</li>
  <li>You can also create draft prospects for draft classes up to three years in the future. For the first draft class, use a team ID of -2. For the next year's use -4. For the third year's, use -5. If a draft class is not included or has less than 70 players in it, then random players will be automatically generated to fill up the rest of the draft class.</li>
  <li>Ratings should be on a scale from 0 to 100 with a mean of about 50 and about half of the players between 35 and 65. Descriptions of rating categories:
    <ul>
      <li>"hgt": height, which factors into pretty much everything - this is meant to also reflect things like standing reach and wingspan, and it is used in game simulations rather than the player's "true" height in feet/inches</li>
      <li>"stre": strength, which influences defense, rebounding, and low post scoring</li>
      <li>"spd": speed, which influences ball handling, fast breaking, and defense</li>
      <li>"jmp": jumping, which influences finishing at the rim, rebounding, blocking shots, and defense</li>
      <li>"endu": endurance, which governs how fast a player's skills degrade as he gets tired</li>
      <li>"ins": low post scoring</li>
      <li>"dnk": dunking/layups</li>
      <li>"ft": free throw shooting</li>
      <li>"fg": 2 point jump shot ability</li>
      <li>"tp": 3 point shooting</li>
      <li>"blk": shot blocking (also influences overall defense by making the offensive players more wary of attacking)</li>
      <li>"stl": stealing (also influences overall defense by making the offensive players more wary of attacking)</li>
      <li>"drb": dribbling (also influences passing, since you can pass easier if you're not worried about losing the ball)</li>
      <li>"pss": passing</li>
      <li>"reb": rebounding</li>
      <li>"pot": estimate of the player's potential future overall rating</li>
    </ul>
  </li>
  <li>You can optionally include a URL for an image to be used instead of a randomly-generated face by putting "imgURL": "http://www.example.com/img.jpg" in the root of a player object.</li>
</ul>

<p>You can also specify custom teams by doing something like this:</p>

<pre>
{
  "startingSeason": 2013,
  "players": [
    ...
  ],
  "teams": [
    {
      "tid": 0,
      "cid": 0,
      "did", 0,
      "region": "Atlanta",
      "name": "Herons",
      "abbrev": "ATL",
      "pop": 5.4
    },
    ...
  ]
}
</pre>

<p>The contents of each team object is as follows. Note that imgURL is optional.</p>

<ul>
  <li>"tid": team ID number (from 0 to N-1 so there are N teams in total, usually N is 30)</li>
  <li>"cid": conference ID number, either 0 (Eastern) or 1 (Western)</li>
  <li>"did": division ID number, from 0 to 5 for the Atlantic, Central, Southeast, Southwest, Northwest, and Pacific divisions, respectively</li>
  <li>"region": team region/city</li>
  <li>"name": team name</li>
  <li>"abbrev": team abbreviation, typically 3 upper case letters like ATL for Atlanta</li>
  <li>"pop": population of the region, in millions of people</li>
  <li>"imgURL": URL for a 120x120 image to be displayed on the roster page for a team (optional)</li>
</ul>

<p>The game works best with 30 teams, 15 in each conference, and 5 in each division. If you add more teams, it will still work, but generated schedules (and maybe some other aspects of the game) will be less balanced.</p>