<p><b>From: <span data-bind="text: message().from"></span>, <span data-bind="text: message().year"></span></b> <span data-bind="newWindow: []"></span></p>

<span data-bind="html: message().text"></span>

<p><a data-bind="attrLeagueUrl: {href: ['inbox']}">Return To Inbox</a></p>