<h1>Contract Negotiation <span data-bind="newWindow: []"></span></h1>

<p data-bind="visible: negotiation.resigning">You are allowed to go over the salary cap to make this deal because you are resigning <a data-bind="attrLeagueUrl: {href: ['player', player.pid]}, text: player.name"></a> to a contract extension. <strong>If you do not come to an agreement here, <a data-bind="attrLeagueUrl: {href: ['player', player.pid]}, text: player.name"></a> will become a free agent.</strong> He will then be able to sign with any team, and you won't be able to go over the salary cap to sign him.</p>
<p data-bind="visible: !negotiation.resigning()">You are not allowed to go over the salary cap to make this deal because <a data-bind="attrLeagueUrl: {href: ['player', player.pid]}, text: player.name"></a> is a free agent.</p>

<div class="row-fluid">
  <div class="span6">
    <h2 data-bind="test: team.region + ' ' + team.name"></h2>
    <p>Current Payroll: <span data-bind="currency: [payroll, 'M']"></span></p>
    <p>Salary Cap: <span data-bind="currency: [salaryCap, 'M']"></span></p>
    <h2>Your Proposal</h2>
    <form data-bind="attrLeagueUrl: {action: ['negotiation', player.pid]}" class="form-horizontal" method="POST">
      <input type="text" name="teamYears" id="teamYears" class="span1" data-bind="attr: {value: negotiation.team.years}"> years
      <p><div class="input-prepend input-append">
        <span class="add-on">$</span><input type="text" name="teamAmount" id="teamAmount" class="span5" data-bind="attr: {value: negotiation.team.amount}"><span class="add-on">M</span> per year
      </div></p>
      <button type="submit" class="btn btn-large btn-primary">Submit Proposal</button>  
    </form>

    <form data-bind="attrLeagueUrl: {action: ['negotiation', player.pid]}" class="form-horizontal" method="POST">
      <input type="hidden" name="cancel" value="1">
      <button type="submit" class="btn btn-danger">Can't reach a deal? End negotiation</button>
    </form>

  </div>
  <div class="span6">
    <h2><a data-bind="attrLeagueUrl: {href: ['player', player.pid]}, text: player.name"></a> <span data-bind="newWindow: ['player', player.pid]"></span></h2>
    <p>Mood: <span data-bind="html: player.mood"></span></p>
    <p>Overall: <span data-bind="text: player.ratings().ovr"></span>; Potential: <span data-bind="text: player.ratings().pot"></span></p>
    <h2>Player Proposal</h2>
    <p><span data-bind="text: negotiation.player().years"></span> years (through <span data-bind="text: negotiation.player().expiration"></span>)</p>
    <p>$<span data-bind="round: [negotiation.player().amount, 3]"></span>M per year</p>
    <form data-bind="attrLeagueUrl: {action: ['negotiation', player.pid]}" class="form-horizontal" method="POST">
      <input type="hidden" name="accept" value="1">
      <button type="submit" class="btn btn-large btn-primary" id="accept">Accept Player Proposal</button>
    </form>
  </div>
</div>
