<h1>Create New League</h1>
<p>
<form action="/new_league" method="POST">
  <fieldset>
    <label>League name</label>
    <input type="text" name="name" data-bind="attr: {value: name}"><br><br>

    <label>Which team do you want to manage?</label>
    <select name="tid" data-bind="foreach: teams">
      <option data-bind="attr: {value: tid}, text: region() + ' ' + name()"></option>
    </select>
    <span class="help-block" id="pop-text"></span><br>

    <label>Players <i class="icon-question-sign" id="help-rosters" data-placement="right"></i></label>
    <select name="rosters">
      <option value="random" selected="selected">Random Players</option>
      <option value="custom-rosters">Upload Custom Rosters</option>
    </select><br>
    <span id="custom-rosters" style="display: none"><input type="file" name="custom-rosters"><br><br></span>
    <label id="randomize-rosters" style="display: none"><input name="randomize-rosters" style="margin-top: 0px" value="1" type="checkbox"> Shuffle Rosters</input></label>
    <br>

    <button type="submit" class="btn" id="create-new-league">Create New League</button>
  </fieldset>
</form>
</p>