<ul class="nav btn btn-primary">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Play <b class="caret"></b></a>
    <ul class="dropdown-menu">
      {{#options}}
        {{#normal_link}}
          <li><a href="{{url}}">{{label}}</a></li>
        {{^}}
          <li><a onclick="javascript:play_button('{{url}}');" href="javascript:void(0);">{{label}}</a></li>
        {{/normal_link}}
      {{/options}}
    </ul>
  </li>
</ul>
