<div data-bind="dropdown: 'player-feats'"></div>

<h1>Statistical Feats <span data-bind="newWindow: []"></span></h1>

<p>All games where a player got a triple double, a 5x5, 50 points, 25 rebounds, 20 assists, 10 steals, 10 blocks, or 10 threes are listed here. Statistical feats from your players are <span class="text-info">highlighted in blue</span>.</p>

<p class="clearfix visible-xs"></p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="player-feats">
    <thead>
      <tr><th colspan="5"></th><th colspan="3" style="text-align: center" title="Field Goals">FG</th><th colspan="3" style="text-align: center" title="Three-Pointers">3PT</th><th colspan="3" style="text-align: center" title="Free Throws">FT</th><th colspan="3" style="text-align: center" title="Rebounds">Reb</th><th colspan="11"></th></tr>
      <tr><th>Name</th><th title="Position">Pos</th><th>Team</th><th title="Games Started">GS</th><th title="Minutes">Min</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Offensive">Off</th><th title="Defensive">Def</th><th title="Total">Tot</th><th title="Assists">Ast</th><th title="Turnovers">TO</th><th title="Steals">Stl</th><th title="Blocks">Blk</th><th title="Personal Fouls">PF</th><th title="Points">Pts</th><th title="Game Score">GmSc</th><th>Opp</th><th>W/L</th><th>Score</th><th>Season</th></tr>
    </thead>
  </table>
</div>