
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-3 hidden-xs"></div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <h1>Reset Password</h1>
    <!-- ko if: showForm -->
      <p>Enter a new password for your account below.</p>
      <form id="resetpw" data-no-davis="true">
        <input type="hidden" name="action" value="reset_password">
        <input type="hidden" name="token" data-bind="value: token">
        <div class="form-group">
          <label class="control-label" for="resetpw-password">Password</label>
          <input type="password" class="form-control" id="resetpw-password" name="password" required="required">
          <span class="help-block" id="resetpw-password-error"></span>
        </div>
        <div class="form-group">
          <label class="control-label" for="resetpw-password2">Verify Password</label>
          <input type="password" class="form-control" id="resetpw-password2" name="password2" required="required">
          <span class="help-block" id="resetpw-password2-error"></span>
        </div>
        <button type="submit" class="btn btn-default btn-primary">Reset Password</button>
        <p class="text-danger" id="resetpw-error" style="margin-top: 1em"></p>
      </form>
    <!-- /ko -->
    <!-- ko if: showForm() === false -->
      <p>Invalid password reset token. <a href="/account/lost_password">Request another and try again.</a></p>
    <!-- /ko -->
    <!-- ko if: showForm() === null -->
      <p id="show-form-error">Validating token...</p>
    <!-- /ko -->
    <p>If you are having trouble with this, please <a href="mailto:commissioner@basketball-gm.com">email commissioner@basketball-gm.com</a>.</p>
  </div>
</div>
