<div data-bind="dropdown: 'roster'"></div>
<div class="btn-group pull-right">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    More Info <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a data-bind="attrLeagueUrl: {href: ['player_stats', abbrev, season]}">Player Stats</a></li>
    <li><a data-bind="attrLeagueUrl: {href: ['player_ratings', abbrev, season]}">Player Ratings</a></li>
  </ul>
</div>

<h1><span data-bind="text: team.region"></span> <span data-bind="text: team.name"></span> Roster <span data-bind="newWindow: []"></span></h1>
<p>More: <a data-bind="attrLeagueUrl: {href: ['team_finances', abbrev]}">Finances</a> | <a data-bind="attrLeagueUrl: {href: ['game_log', abbrev, season]}">Game Log</a> | <a data-bind="attrLeagueUrl: {href: ['team_history', abbrev]}">History</a> | <a data-bind="attrLeagueUrl: {href: ['transactions', abbrev]}">Transactions</a></p>
<div id="picture" class="team-picture"></div>
<div id="teamInfo">
  <h3>Record: <span data-bind="recordAndPlayoffs: [abbrev, season, team.won, team.lost, team.playoffRoundsWon, 'noSeason']"></span></h3>

  <p data-bind="visible: isCurrentSeason">
    <span data-bind="text: numRosterSpots"></span> open roster spots<br>
    Payroll: <span data-bind="currency: [payroll, 'M']"></span><br>
    Salary cap: <span data-bind="currency: [salaryCap, 'M']"></span><br>
    Profit: <span data-bind="currency: [team.profit, 'M']"></span><br>
    <span data-bind="visible: showTradeFor">Strategy: <span data-bind="text: team.strategy"></span></span>
  </p>
</div>
<p data-bind="visible: editable" id="instructions">Drag and drop row handles to move players between the starting lineup (<span class="roster-starter">&#9632;</span>) and the bench (<span class="roster-bench">&#9632;</span>).</p>
<p data-bind="visible: editable"><button class="btn btn-default" id="roster-auto-sort">Auto sort roster</button>
</p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="roster">
    <thead>
      <tr><th data-bind="visible: editable"></th><th>Name</th><th title="Position">Pos</th><th>Age</th><th title="Years With Team">YWT</th><th title="Overall Rating">Ovr</th><th title="Potential Rating">Pot</th><th data-bind="visible: isCurrentSeason">Contract</th><th title="Games Played">GP</th><th title="Minutes Per Game">Min</th><th title="Points Per Game">Pts</th><th title="Rebounds Per Game">Reb</th><th title="Assists Per Game">Ast</th><th title="Player Efficiency Rating">PER</th><th title="Playing Time Modifier" data-bind="visible: editable" style="text-align: center">PT <span class="glyphicon glyphicon-question-sign help-icon" id="help-roster-pt" data-placement="left"></span></th><th data-bind="visible: editable">Release <span class="glyphicon glyphicon-question-sign help-icon" id="help-roster-release" data-placement="left"></span></th><th data-bind="visible: showTradeFor">Trade For</th></tr>
    </thead>
    <tbody data-bind="foreach: players">
      <tr data-bind="attr: {class: $index() === 4 ? 'separator' : '', 'data-pid': pid}">
        <td class="roster-handle" data-bind="visible: $parent.editable"></td>
        <td data-bind="playerNameLabels: [pid, name, injury, ratings.skills, watch]"></td>
        <td data-bind="text: ratings.pos"></td>
        <td data-bind="text: age"></td>
        <td data-bind="text: stats.yearsWithTeam"></td>
        <td><span data-bind="text: ratings.ovr"></span><span data-bind="visible: ratings.dovr() !== 0, css: { 'text-success': ratings.dovr() > 0, 'text-danger': ratings.dovr() < 0 }"> (<span data-bind="text: ratings.dovr() > 0 ? '+' : ''"></span><span data-bind="text: ratings.dovr"></span>)</span></td>
        <td><span data-bind="text: ratings.pot"></span><span data-bind="visible: ratings.dpot() !== 0, css: { 'text-success': ratings.dpot() > 0, 'text-danger': ratings.dpot() < 0 }"> (<span data-bind="text: ratings.dpot() > 0 ? '+' : ''"></span><span data-bind="text: ratings.dpot"></span>)</span></td>
        <td data-bind="visible: $parent.isCurrentSeason">
          <span data-bind="currency: [contract.amount, 'M']"></span> thru <span data-bind="text: contract.exp"></span>
        </td>
        <td data-bind="text: stats.gp"></td>
        <td data-bind="round: [stats.min, 1]"></td>
        <td data-bind="round: [stats.pts, 1]"></td>
        <td data-bind="round: [stats.trb, 1]"></td>
        <td data-bind="round: [stats.ast, 1]"></td>
        <td data-bind="round: [stats.per, 1]"></td>
        <td data-bind="if: $parent.editable, visible: $parent.editable">
          <select class="form-control" data-bind="options: $root.ptModifiers, optionsText: 'text', optionsValue: 'ptModifier', value: ptModifier, event: {change: $root.ptChange}"></select>
        </td>
        <td data-bind="visible: $parent.editable">
          <button class="btn btn-default btn-xs" data-action="release" data-bind="enable: canRelease">Release</button>
        </td>
        <td data-bind="visible: $parent.showTradeFor, if: $parent.showTradeFor">
          <form method="POST" style="margin: 0" data-bind="attrLeagueUrl: {action: ['trade']}, attr: {title: untradableMsg}">
            <input type="hidden" name="pid" data-bind="attr: {value: pid}">
            <button type="submit" class="btn btn-default btn-xs" data-bind="enable: !untradable()">Trade For</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
