<h1>Schedule <span data-bind="newWindow: []"></span></h1>

<div class="row">
  <div class="col-sm-6">
    <h2>Upcoming Games</h2>
    <ul class="list-group" data-bind="foreach: upcoming">
      <li class="list-group-item schedule-row">
        <a data-bind="attrLeagueUrl: {href: ['roster', teams[0].abbrev]}"><span data-bind="text: teams[0].region"></span></a>
        <span class="schedule-at">@</span>
        <a data-bind="attrLeagueUrl: {href: ['roster', teams[1].abbrev]}"><span data-bind="text: teams[1].region"></span></span></a>
      </li>
    </ul>
  </div>
  <div class="col-sm-6 hidden-xs">
    <h2>Completed Games</h2>
    <ul class="list-group" data-bind="foreach: completed.games">
      <li class="list-group-item schedule-row" data-bind="css: {'list-group-item-success': won, 'list-group-item-danger': !won}">
        <div class="schedule-results">
          <div class="schedule-wl" data-bind="text: won ? 'W' : 'L'"></div>
          <div class="schedule-score"><a data-bind="attrLeagueUrl: {href: ['game_log', $root.abbrev, $root.season, gid]}, text: score + overtime"></a></div>
        </div>
        <a data-bind="attrLeagueUrl: {href: ['roster', teams[0].abbrev]}"><span data-bind="text: teams[0].region"></span></a>
        <span class="schedule-at">@</span>
        <a data-bind="attrLeagueUrl: {href: ['roster', teams[1].abbrev]}"><span data-bind="text: teams[1].region"></span></span></a>
      </li>
    </ul>
  </div>
</div>