<h1>Upcoming Schedule <span data-bind="newWindow: []"></span></h1>

<ol data-bind="foreach: games">
  <li><a data-bind="attrLeagueUrl: {href: ['roster', teams[0].abbrev]}"><span data-bind="text: teams[0].region"></span> <span data-bind="text: teams[0].name"></span></a>
  <span data-bind="text: vsat"></span>
  <a data-bind="attrLeagueUrl: {href: ['roster', teams[1].abbrev]}"><span data-bind="text: teams[1].region"></span> <span data-bind="text: teams[1].name"></span></a>
</ol>
