<div data-bind="dropdown: 'team-records'"></div>

<h1>Team Records <span data-bind="newWindow: []"></span></h1>

<p>More:
  <a data-bind="attrLeagueUrl: {href: ['history_all']}">League History</a> |
  <a data-bind="attrLeagueUrl: {href: ['awards_records']}">Awards Records</a>
</p>

<h4><span data-bind="text: seasonCount"></span> Championships</h4>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="team-records">
    <thead>
      <tr><th data-bind="text: displayName"></th><th>W</th><th>L</th><th>W/L%</th>
        <th title="Playoff Appearances">Playoffs</th>
        <th>Last Playoffs</th>
        <th title="Finals Appearances">Finals</th>
        <th title="Championships Won">Championships</th>
        <th>Last Title</th>
        <th title="Most Valuable Player Award">MVPs</th>
        <th title="Defensive Player of the Year">DPOYs</th>
        <th title="Sixth Man of the Year">SMOYs</th>
        <th title="Rookie of the Year">ROYs</th>
        <th title="Best Season Record (0.5 if tied)">BR</th>
        <th title="Best Conference Record">BRC</th>
        <th title="All Rookie Team">ARTs</th>
        <th title="All League Team">ALT</th>
        <th title="All Defensive Team">ADTs</th>
      </tr>
    </thead>
  </table>
</div>
