<div data-bind="dropdown: 'event-log'"></div>

<h1>Transactions <span data-bind="newWindow: []"></span></h1>
<p>More:
<a data-bind="attrLeagueUrl: {href: ['roster', abbrev]}">Roster</a> |
<a data-bind="attrLeagueUrl: {href: ['team_finances', abbrev]}">Finances</a> | <a data-bind="attrLeagueUrl: {href: ['game_log', abbrev, season]}">Game Log</a> | <a data-bind="attrLeagueUrl: {href: ['team_history', abbrev]}">History</a></p>

<ul class="list-group" data-bind="foreach: eventTxt">
  <li class="list-group-item"
    data-bind="html: text"></li>
</ul>
