<h1>Team Records <span data-bind="newWindow: []"></span></h1>

<p>More:
  <a data-bind="attrLeagueUrl: {href: ['history_all']}">League History</a> |
  <a data-bind="attrLeagueUrl: {href: ['awards_records']}">Awards Records</a>
</p>

<h4><span data-bind="text: seasonCount"></span> Championships</h4>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="team-records">
    <thead>
      <tr><th>Team</th><th>W</th><th>L</th><th>W%</th>
        <th>Playoff Appearances</th><th>Last Playoff Appearance</th>
        <th>Championships</th><th>Last Championship</th>
      </tr>
    </thead>
  </table>
</div>
