<div data-bind="dropdown: 'team-records'"></div>

<h1>Team Records <span data-bind="newWindow: []"></span></h1>

<p>More:
  <a data-bind="attrLeagueUrl: {href: ['history_all']}">League History</a> |
  <a data-bind="attrLeagueUrl: {href: ['awards_records']}">Awards Records</a>
</p>

<p>Totals over <span data-bind="text: seasonCount"></span> seasons played.</p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="team-records">
    <thead>
      <tr><th data-bind="text: displayName"></th><th>W</th><th>L</th><th>W/L%</th>
        <th title="Playoff Appearances">Playoffs</th>
        <th>Last Playoffs</th>
        <th title="Finals Appearances">Finals</th>
        <th title="Championships Won">Championships</th>
        <th>Last Title</th>
        <th title="Most Valuable Player Award">MVP</th>
        <th title="Defensive Player of the Year">DPOY</th>
        <th title="Sixth Man of the Year">SMOY</th>
        <th title="Rookie of the Year">ROY</th>
        <th title="Best Season Record (0.5 if tied)">BR</th>
        <th title="Best Conference Record">BRC</th>
        <th title="All Rookie Team">ART</th>
        <th title="All League Team">ALT</th>
        <th title="All Defensive Team">ADT</th>
      </tr>
    </thead>
  </table>
</div>
