<h1>Trade <span data-bind="newWindow: []"></span></h1>

<div class="row-fluid">
  <div class="span7">
    <form id="rosters">
      <p><select id="trade-select-team" name="team" class="team form-inline" data-bind="foreach: teams">
        <option data-bind="attr: {value: abbrev, selected: selected}, text: region + ' ' + name"></option>
      </select>
      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="roster-other">
      <thead>
        <tr><th></th><th>Name</th><th title="Position">Pos</th><th>Age</th><th title="Overall Rating">Ovr</th><th title="Potential Rating">Pot</th><th>Contract</th><th title="Minutes Per Game">Min</th><th title="Points Per Game">Pts</th><th title="Rebounds Per Game">Reb</th><th title="Assists Per Game">Ast</th><th title="Player Efficiency Rating">PER</th></tr>
      </thead>
      </table>
      </p>

      <h2 data-bind="text: userTeamName"></h2>
      <p>
      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="roster-user">
      <thead>
        <tr><th></th><th>Name</th><th title="Position">Pos</th><th>Age</th><th title="Overall Rating">Ovr</th><th title="Potential Rating">Pot</th><th>Contract</th><th title="Minutes Per Game">Min</th><th title="Points Per Game">Pts</th><th title="Rebounds Per Game">Reb</th><th title="Assists Per Game">Ast</th><th title="Player Efficiency Rating">PER</th></tr>
      </thead>
      </table>
      </p>
    </form>
  </div>
  <div class="span5" id="trade-summary">
    <h3>Trade Summary</h3>
    <div class="row-fluid" data-bind="foreach: summary.teams">
      <div class="span6">
        <h4 data-bind="text: name"></h4>
        <h5>Trade Away:</h5>
        <ul>
          <!-- ko foreach: trade -->
            <li><a data-bind="attrLeagueUrl: {href: ['player', pid]}, text: name"></a> (<span data-bind="currency: [contract.amount, 'M']"></span>)</li>
          <!-- /ko -->
          <li><span data-bind="currency: [total, 'M']"></span> Total</li>
        </ul>
        <h5>Receive:</h5>
        <ul>
          <!-- ko foreach: $root.summary.teams()[other].trade -->
            <li><a data-bind="attrLeagueUrl: {href: ['player', pid]}, text: name"></a> (<span data-bind="currency: [contract.amount, 'M']"></span>)</li>
          <!-- /ko -->
          <li><span data-bind="currency: function(){ return [$root.summary.teams()[other].total, 'M']}()"></span></li>
        </ul>
        <h5>Payroll after trade: <span data-bind="currency: [payrollAfterTrade, 'M']"></span></h5>
        <h5>Salary cap: <span data-bind="currency: [$parent.salaryCap, 'M']"></span></h5>
      </div>
    </div>

    <br>
    <p class="alert alert-error" data-bind="visible: summary.warning"><strong>Warning!</strong> <span data-bind="text: summary.warning"></span></p>
    <p class="alert alert-info" data-bind="visible: message, text: message"></p>

    <center>
      <form method="POST" id="propose-trade" data-bind="attrLeagueUrl: {action: ['trade']}">
        <input type="hidden" name="propose" value="1">
        <button type="submit" class="btn btn-large btn-primary" data-bind="enable: summary.enablePropose">Propose Trade</button>
      </form>

      <form method="POST" id="clear-trade" data-bind="attrLeagueUrl: {action: ['trade']}">
        <input type="hidden" name="clear" value="1">
        <button type="submit" class="btn">Clear Trade</button>
      </form>
    </center>
  </div>
</div>