<div data-bind="dropdown: 'event-log'"></div>
<div data-bind="jumpToDropdown: season"></div>

<h1>Transactions <span data-bind="newWindow: []"></span></h1>

<p data-bind="visible: abbrev() != 'all'">More:
<a data-bind="attrLeagueUrl: {href: ['roster', abbrev]}">Roster</a> |
<a data-bind="attrLeagueUrl: {href: ['team_finances', abbrev]}">Finances</a> | <a data-bind="attrLeagueUrl: {href: ['game_log', abbrev, season]}">Game Log</a> | <a data-bind="attrLeagueUrl: {href: ['team_history', abbrev]}">History</a></p>

<ul class="list-group" data-bind="foreach: events">
  <li class="list-group-item"
    data-bind="html: text"></li>
</ul>
