<div data-bind="dropdown: 'watch-list'"></div>

<h1>Watch List <span data-bind="newWindow: []"></span></h1>

<p>Click the watch icon <span class="glyphicon glyphicon-flag"></span> next to a player's name to add or remove him from this list.</p>

<p class="clearfix visible-xs"></p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="watch-list">
    <thead>
      <tr><th>Name</th><th title="Position">Pos</th><th>Age</th><th>Team</th><th title="Overall Rating">Ovr</th><th title="Potential Rating">Pot</th><th>Contract</th><th title="Games Played">GP</th><th title="Minutes">Min</th><th title="Field Goal Percentage">FG%</th><th title="Three Point Percentage">TP%</th><th title="Free Throw Percentage">FT%</th><th title="Rebounds">Reb</th><th title="Assists">Ast</th><th title="Turnovers">TO</th><th title="Steals">Stl</th><th title="Blocks">Blk</th><th title="Points">Pts</th><th title="Player Efficiency Rating">PER</th><th title="Estimated Wins Added">EWA</th></tr>
    </thead>
  </table>
</div>