{% extends "layout.html" %}

{% block title %}Dashboard - Basketball GM{% endblock %}

{% block content %}
  <h1>Active Leagues</h1>

  <ul class="dashboard_league">
  {% for league in leagues %}
  <!--  <form action="{{ url_for('delete_league') }}" method="POST"><input type="hidden" name="lid" value="{{ league.lid }}"><button class="btn btn-small pull-right">Delete</button></form>-->

    <li>
      <a href="{{ url_for('league_dashboard', lid=league.lid) }}"><h3>League {{ league.lid }}</h3><span class="clearfix">{{ league.team }}</span><span class="clearfix">{{ league.pm_phase }}</span></a>
      <form action="{{ url_for('delete_league') }}" method="POST"><input type="hidden" name="lid" value="{{ league.lid }}"><button class="btn btn-mini">Delete</button></form>
    </li>
  {% endfor %}

  <li class="dashboard_league_new"><a href="{{ url_for('new_league') }}"><h2>Create new league</h2></a></li>
</ul>

{% endblock %}
