{% extends "layout.html" %}

{% block title %} - Dashboard{% endblock %}

{% block content %}
  <h1>Active leagues</h1>

<ul class="nav nav-pills nav-stacked">
{% for league in leagues %}
  <li><form action="{{ url_for('delete_league') }}" method="POST"><input type="hidden" name="league_id" value="{{ league.league_id }}"><button class="btn btn-small pull-right">Delete</button></form><a href="{{ url_for('league_dashboard', league_id=league.league_id) }}"><h3>League {{ league.league_id }}</h3><span class="clearfix">{{ league.description }}</span></a><hr></li>
{% endfor %}
</ul>

  <a href="{{ url_for('new_league') }}" class="btn">Create new league</a>

{% endblock %}
