{% extends "league_layout.html" %}
{% set active_page = "draft" %}

{% block title %}Draft - League {{ g.league_id }} - Basketball GM{% endblock %}

{% block league_content %}
  <script type="text/javascript">
$(document).ready(function() {
    function update_draft_tables(pids) {
        for (var i=0; i<pids.length; i++) {
            var drafted_player = new Array(5);
            // Find row in undrafted players table, get metadata, delete row
            undrafted_tds = $('#undrafted_' + pids[i] + ' td')
            for (var j=0; j<5; j++) {
                drafted_player[j] = undrafted_tds[j].innerHTML;
            }

            // Find correct row (first blank row) in drafted players table, write metadata
            drafted_rows = $('#drafted tbody tr');
            for (var j=0; j<drafted_rows.length; j++) {
                if (drafted_rows[j].children[3].innerHTML.length == 0) {
                    $('#undrafted_' + pids[i]).remove();
                    drafted_rows[j].children[2].innerHTML = drafted_player[0];
                    drafted_rows[j].children[3].innerHTML = drafted_player[1];
                    drafted_rows[j].children[4].innerHTML = drafted_player[2];
                    drafted_rows[j].children[5].innerHTML = drafted_player[3];
                    drafted_rows[j].children[6].innerHTML = drafted_player[4];
                    break;
                }
            }
        }
    }

    function draft_until_user_or_end() {
        $.post('{{ url_for('draft_until_user_or_end', league_id=g.league_id) }}', function (data) {
            update_draft_tables(data['pids']);
            if (!data['done']) {
                $('#undrafted button').removeAttr('disabled');
            }
        }, 'json');
    }

    $('#start_draft').click(function(event) {
        $($('#start_draft').parent()).hide()
        draft_until_user_or_end();
    });

    $('#undrafted button').click(function(event) {
        $('#undrafted button').attr('disabled', 'disabled');
        $.post('{{ url_for('draft_user', league_id=g.league_id) }}', {'pid': this.getAttribute('data-player-id')}, function (data) {
            update_draft_tables(data['pids']);
            draft_until_user_or_end();
        }, 'json');
    });
});
  </script>

  <h1>Draft</h1>

  <p>When your turn in the draft comes up, select from the list of available players on the left.</p>

  <p{% if drafted[0].pid > 0 %} style="display: none;"{% endif%}><button class="btn btn-large btn-primary" id="start_draft">Start draft</button></p>

  <div class="row-fluid">
    <div class="span6">
      <h2>Undrafted Players</h2>
      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="undrafted">
      <thead>
        <tr><th>Name</th><th title="Position">Pos</th><th>Age</th><th title="Overall rating">Ovr</th><th title="Potential rating">Pot</th><th>Draft</th></tr>
      </thead>
      <tbody>
        {% for player in undrafted %}
          <tr id="undrafted_{{ player.pid }}"><td><a href="{{ url_for('player_', league_id=g.league_id, pid=player.pid) }}">{{ player.name }}</a></td><td>{{ player.pos }}</td><td>{{ player.age }}<td>{{ player.ovr }}</td><td>{{ player.pot }}</td><td><button class="btn btn-mini btn-primary" data-player-id="{{ player.pid }}"{% if drafted[0].pid == 0 %} disabled="disabled"{% endif %}>Draft</button></td></tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
    <div class="span6">
      <h2>Draft Results</h2>
      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="drafted">
      <thead>
        <tr><th>Pick</th><th>Team</th><th>Name</th><th title="Position">Pos</th><th>Age</th><th title="Overall rating">Ovr</th><th title="Potential rating">Pot</th></tr>
      </thead>
      <tbody>
        {% for player in drafted %}
          <tr><td>{{ player.draft_round }}-{{ player.pick }}</td><td><a href="{{ url_for('roster', league_id=g.league_id, abbrev=player.abbrev) }}">{{ player.abbrev }}</a></td><td><a href="{{ url_for('player_', league_id=g.league_id, pid=player.pid) }}">{{ player.name }}</a></td><td>{{ player.pos }}</td><td>{{ player.age }}<td>{{ player.ovr }}</td><td>{{ player.pot }}</td></tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
{% endblock %}
