{% extends "league_layout.html" %}
{% set active_page = "finances" %}

{% block title %}Finances - League {{ g.lid }} - Basketball GM{% endblock %}

{% block league_content %}
  <script type="text/javascript">
    $(document).ready(function() {
      bbgm_datatable_singlepage($('#finances'), 5, [
        {% for team in teams %}
		  [ '<a href="{{ url_for('roster', lid=g.lid, abbrev=team.abbrev) }}">{{ team.region }} {{ team.name }}</a>', '{{ team.att|int|number_format }}', '${{ team.revenue|float|round(1) }}M', '${{ team.profit|float|round(1) }}M', '${{ team.cash|float|round(1) }}M', '${{ team.payroll|float|round(1) }}M' ],
        {% endfor %}
      ]);
    } );
  </script>

  <h1>Finances</h1>

  <p>The current salary cap is <strong>${{ salary_cap|float|round(1) }}M</strong>.</p>

  <p>
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="finances">
    <thead>
      <tr><th>Team</th><th>Avg Attendance</th><th>Revenue (YTD)</th><th>Profit (YTD)</th><th>Cash</th><th>Payroll</th></tr>
    </thead>
    </table>
  </p>
{% endblock %}
