{% extends "league_layout.html" %}
{% set active_page = "game_log" %}

{% block title %}Game Log - League {{ g.league_id }} - Basketball GM{% endblock %}

{% block league_content %}
  <script type="text/javascript">
    // Load game log list table and activate form
    $(document).ready(function() {
      function load_game_log_list(season, abbreviation, first_time) {
        $.ajax({
          type: 'GET',
          url: '{{ url_for('game_log_list', league_id=g.league_id) }}',
          data: {season: season, abbreviation: abbreviation},
          success: function(msg) {
            // Display the list of games
            $('#game_log_list').html(msg);

            if (first_time) {
              // Click the first one to show its boxscore by default
              $('#game_log_list tbody tr').first().click();
            }
            else {
              // Update URL
//              history.pushState({'league_content': $('#league_content').html()}, '', '{{ url_for('game_log', league_id=g.league_id) }}' + '/' + season + '/' + abbreviation);
            }
          }
        });
      }

      $game_log_select_season = $('#game_log_select_season')
      $game_log_select_season.change(function(event) { load_game_log_list($game_log_select_season.val(), $game_log_select_abbreviation.val()); });
      $game_log_select_abbreviation = $('#game_log_select_abbreviation')
      $game_log_select_abbreviation.change(function(event) { load_game_log_list($game_log_select_season.val(), $game_log_select_abbreviation.val()); });
      if ($game_log_select_season.length && $game_log_select_abbreviation.length) {
        load_game_log_list($game_log_select_season.val(), $game_log_select_abbreviation.val(), true);
      }

      // Clickable rows for game log list table
      $(document).on('click', '#game_log_list tbody tr', function(event) {
        $clicked_tr = $(this);
        $.get('{{ url_for('box_score', league_id=g.league_id) }}/' + $clicked_tr.attr('id'), function(data) {
          // Update boxscore
          $('#game_log_box_score').html(data);

          // Update gamelist highlighting
          $clicked_tr.parent().children().each(function() {
            $(this).removeClass('alert-info');
          });
          $clicked_tr.addClass('alert-info');

          // Update URL
//          data['title'] = document.title;
//          data['league_content'] =  $('#league_content').html();
//          history.pushState(data, '', '{{ url_for('game_log', league_id=g.league_id) }}/' + $clicked_tr.attr('id'));
        });
      });
    });
  </script>

  <form action="{{ url_for('game_log', league_id=g.league_id) }}" method="GET" class="form-inline pull-right">
    <select id="game_log_select_abbreviation" name="team" class="team">
      {% for team in teams %}
        <option value="{{ team.abbreviation }}"{% if team.team_id == team_id %} selected="selected"{% endif %}>{{ team.region }} {{ team.name }}</option>
      {% endfor %}
    </select>
    <select id="game_log_select_season" name="season" class="season">
      {% for season in seasons %}
        <option value="{{ season }}"{% if season == view_season %} selected="selected"{% endif %}>{{ season }} season</option>
      {% endfor %}
    </select>
  </form>

  <h1>Game Log</h1>

  <p>
    <div class="row-fluid">
      <div class="span9">
        <div id="game_log_box_score">
          <p>Select a game from the menu on the right to view a box score.</p>
        </div>
      </div>

      <div class="span3" id="game_log_list">
      </div>
    </div>
  </p>
{% endblock %}
