{% extends "league_layout.html" %}

{% block title %}Game log - League {{ g.league_id }} - Basketball GM{% endblock %}

{% block league_content %}  <script type="text/javascript" charset="utf-8">
    // Load game log list table and activate form
    $(document).ready(function() {
      function load_game_log_list(season, abbreviation, first_time) {
        $.ajax({
          type: 'GET',
          url: '{{ url_for('game_log_list', league_id=g.league_id) }}',
          data: {season: season, abbreviation: abbreviation},
          success: function(msg) {
            // Display the list of games
            $('#game_log_list').html(msg);

            if (first_time) {
              // Click the first one to show its boxscore by default
              $('#game_log_list tbody tr').first().click();
            }
          }
        });
      }

      $game_log_select_season = $('#game_log_select_season')
      $game_log_select_season.change(function(event) { load_game_log_list($game_log_select_season.val(), $game_log_select_abbreviation.val()); });
      $game_log_select_abbreviation = $('#game_log_select_abbreviation')
      $game_log_select_abbreviation.change(function(event) { load_game_log_list($game_log_select_season.val(), $game_log_select_abbreviation.val()); });
      if ($game_log_select_season.length && $game_log_select_abbreviation.length) {
        load_game_log_list($game_log_select_season.val(), $game_log_select_abbreviation.val(), true);
      }

      // Clickable rows for game log list table
      $('#game_log_list tbody tr').live('click', function(event) {
        $clicked_tr = $(this)
        $.ajax({
          type: 'GET',
          url: '{{ url_for('box_score', league_id=g.league_id) }}',
          data: {game_id: $(this).attr('id')},
          success: function(msg) {
            // Update boxscore
            $('#game_log_box_score').html(msg);
            // Update gamelist highlighting
            $clicked_tr.parent().children().each(function() {
              $(this).removeClass('alert-info')
            });
            $clicked_tr.addClass('alert-info');
          }
        });
      });

    });
  </script>

  <h1>Game log</h1>

<div class="row-fluid">
  <div class="span9">
    <div id="game_log_box_score">
      <p>Select a game from the menu on the right to view a box score.</p>
    </div>
  </div>

  <div class="span3">
    <form action="{{ url_for('game_log', league_id=g.league_id) }}" method="GET" class="form-inline well">
      <select id="game_log_select_season" name="season" class="span1">
        <option value="2012" selected="selected">2012</option>
      </select>
      <select id="game_log_select_abbreviation" name="abbreviation" class="span1">
        {% for team in teams %}
          <option value="{{ team.abbreviation }}"{% if abbreviation == team.abbreviation %} selected="selected"{% endif %}>{{ team.abbreviation }}</option>
        {% endfor %}
      </select> 
    </form>
    <div id="game_log_list">
    </div>
  </div>
</div>
{% endblock %}
