{% extends "layout.html" %}

{% block content %}
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <p>With Basketball GM, you can experience what it's like to run your own basketball team through a management simulation game. Make trades, set rosters, draft players, and try to build the next dynasty. And Basketball GM will always be <strong>free</strong> to play.</p>
    <p><a href="{{ url_for('register') }}" class="btn btn-primary btn-large">Sign up now to start playing &raquo;</a></p>
    <p style="font-size: small">Registered users <a href="{{ url_for('login') }}">log in</a></p>
  </div>
{% endblock %}
