{% extends "league_layout.html" %}
{% set active_page = "history" %}

{% block title %}{{ view_season }} Season Summary - League {{ g.league_id }} - Basketball GM{% endblock %}

{% block league_content %}
  <script type="text/javascript">
    $(document).ready(function() {
        dropdown($('#history_select_season'));
    });
  </script>

  <form action="{{ url_for('standings', league_id=g.league_id) }}" method="GET" class="form-inline pull-right">
    <select id="history_select_season" name="season" class="season">
      {% for season in seasons %}
        <option value="{{ season }}"{% if season == view_season %} selected="selected"{% endif %}>{{ season }} season</option>
      {% endfor %}
    </select>
  </form>

  <h1>{{ view_season }} Season Summary</h1>

  <p></p>
  <div class="row-fluid">
    <div class="span4">
      <h4>League Champions</h4>
      <p>
      {% if g.season == view_season and g.phase < 4 %}
        <a href="{{ url_for('playoffs') }}">In progress...</a>
      {% else %}
        <strong><a href="{{ url_for('roster', league_id=g.league_id, abbrev= champ.abbrev, view_season=view_season) }}">{{  champ.region }} {{  champ.name }}</a></strong>
      {% endif %}
      </p>
      <h4>Best Record</h4>
      <p>East: <a href="{{ url_for('roster', league_id=g.league_id, abbrev=awards.bre_abbrev, view_season=view_season) }}">{{ awards.bre_region }} {{ awards.bre_name }}</a> ({{ awards.bre_won }}-{{ awards.bre_lost }})<br>
      West: <a href="{{ url_for('roster', league_id=g.league_id, abbrev=awards.brw_abbrev, view_season=view_season) }}">{{ awards.brw_region }} {{ awards.brw_name }}</a> ({{ awards.brw_won }}-{{ awards.brw_lost }})<br></p>
      <h4>Most Valueable Player</h4>
      <p><strong><a href="{{ url_for('player_', league_id=g.league_id, pid=awards.mvp_pid) }}">{{ awards.mvp_name }}</a></strong> (<a href="{{ url_for('roster', league_id=g.league_id, abbrev=awards.mvp_abbrev, view_season=view_season) }}">{{ awards.mvp_abbrev }}</a>)<br>
      {{ awards.mvp_pts|round(1) }} pts, {{ awards.mvp_trb|round(1) }} reb, {{ awards.mvp_ast|round(1) }} ast</p>
      <h4>Defensive Player of the Year</h4>
      <p><strong><a href="{{ url_for('player_', league_id=g.league_id, pid=awards.dpoy_pid) }}">{{ awards.dpoy_name }}</a></strong> (<a href="{{ url_for('roster', league_id=g.league_id, abbrev=awards.dpoy_abbrev, view_season=view_season) }}">{{ awards.dpoy_abbrev }}</a>)<br>
      {{ awards.dpoy_trb|round(1) }} reb, {{ awards.dpoy_blk|round(1) }} blk, {{ awards.dpoy_stl|round(1) }} stl</p>
      <h4>Sixth Man of the Year</h4>
      <p><strong><a href="{{ url_for('player_', league_id=g.league_id, pid=awards.smoy_pid) }}">{{ awards.smoy_name }}</a></strong> (<a href="{{ url_for('roster', league_id=g.league_id, abbrev=awards.smoy_abbrev, view_season=view_season) }}">{{ awards.smoy_abbrev }}</a>)<br>
      {{ awards.smoy_pts|round(1) }} pts, {{ awards.smoy_trb|round(1) }} reb, {{ awards.smoy_ast|round(1) }} ast</p>
      <h4>Rookie of the Year</h4>
      <p><strong><a href="{{ url_for('player_', league_id=g.league_id, pid=awards.roy_pid) }}">{{ awards.roy_name }}</a></strong> (<a href="{{ url_for('roster', league_id=g.league_id, abbrev=awards.roy_abbrev, view_season=view_season) }}">{{ awards.roy_abbrev }}</a>)<br>
      {{ awards.roy_pts|round(1) }} pts, {{ awards.roy_trb|round(1) }} reb, {{ awards.roy_ast|round(1) }} ast</p>
    </div>
    <div class="span4">
      <h4>All-League Teams</h4>
      <h5>First Team</h5>
      {% for player in all_league %}
        <a href="{{ url_for('player_', league_id=g.league_id, pid=player.pid) }}">{{ player.name }}</a> (<a href="{{ url_for('roster', league_id=g.league_id, abbrev=player.abbrev, view_season=view_season) }}">{{ player.abbrev }}</a>)<br>
        <!--{{ player.pts|round(1) }} pts, {{ player.trb|round(1) }} reb, {{ player.ast|round(1) }} ast<br>-->
        {% if loop.index == 5 %}
          <br>
          <h5>Second Team</h5>
        {% elif loop.index == 10 %}
          <br>
          <h5>Third Team</h5>
        {% endif %}
      {% endfor %}
    </div>
    <div class="span4">
      <h4>All-Defensive Teams</h4>
      <h5>First Team</h5>
      {% for player in all_defensive %}
        <a href="{{ url_for('player_', league_id=g.league_id, pid=player.pid) }}">{{ player.name }}</a> (<a href="{{ url_for('roster', league_id=g.league_id, abbrev=player.abbrev, view_season=view_season) }}">{{ player.abbrev }}</a>)<br>
        <!--{{ player.trb|round(1) }} reb, {{ player.blk|round(1) }} blk, {{ player.stl|round(1) }} stl<br>-->
        {% if loop.index == 5 %}
          <br>
          <h5>Second Team</h5>
        {% elif loop.index == 10 %}
          <br>
          <h5>Third Team</h5>
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
