{% extends "league_layout.html" %}
{% set active_page = "leaders" %}

{% block title %}League Leaders - League {{ g.league_id }} - Basketball GM{% endblock %}

{% block league_content %}
  <script type="text/javascript">
    $(document).ready(function() {
        dropdown($('#leaders_select_season'));
    });
  </script>

  <form action="{{ url_for('standings', league_id=g.league_id) }}" method="GET" class="form-inline pull-right">
    <select id="leaders_select_season" name="season" class="season">
      {% for season in seasons %}
        <option value="{{ season }}"{% if season == view_season %} selected="selected"{% endif %}>{{ season }} season</option>
      {% endfor %}
    </select>
  </form>

  <h1>League Leaders</h1>

  <p></p>
  <div class="row-fluid">
    {% for category in categories %}
      {% if loop.index == 4 %}
  </div>
  <p></p>
  <div class="row-fluid">
      {% endif %}
      <div class="span4">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed leaders">
        <thead>
          <tr><th>{{ category.name }}</th><th title="{{ category.title }}">{{ category.stat }}</th></tr>
        </thead>
        <tbody>
          {% for player in category.data %}
            <tr{% if player.abbreviation == user_abbreviation %} class="alert-info"{% endif %}><td>{{ loop.index }}. <a href="{{ url_for('player_', league_id=g.league_id, player_id=player.player_id) }}">{{ player.name }}</a>, <a href="{{ url_for('roster', league_id=g.league_id, abbreviation=player.abbreviation) }}">{{ player.abbreviation }}</a></td><td>{{ player.stat|float|round(1) }}</tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
    {% endfor %}
  </div>

{% endblock %}
