{% extends "layout.html" %}

{% block content %}
  <div id="contentwrapper">
    <div id="league_content">
      {% block league_content %}{% endblock %}
    </div>
  </div>

  <div id="league_menu">
    <div class="well sidebar-nav">
      <ul class="nav nav-list" id="league_sidebar">
        <li id="nav_league_dashboard"><a href="{{ url_for('league_dashboard', league_id=g.league_id) }}">Dashboard</a></li>
        <li class="nav-header">League</li>
        <li id="nav_standings"><a href="{{ url_for('standings', league_id=g.league_id) }}">Standings</a></li>
        <li id="nav_playoffs"><a href="{{ url_for('playoffs', league_id=g.league_id) }}">Playoffs</a></li>
        <li id="nav_finances"><a href="#">Finances</a></li>
        <li id="nav_transaction_log"><a href="#">Transaction log</a></li>
        <li id="nav_history"><a href="{{ url_for('history', league_id=g.league_id) }}">History</a></li>
        <li class="nav-header">Team</li>
        <li id="nav_roster"><a href="{{ url_for('roster', league_id=g.league_id) }}">Roster</a></li>
        <li id="nav_schedule"><a href="{{ url_for('schedule', league_id=g.league_id) }}">Schedule</a></li>
        <li id="nav_advisors"><a href="#">Advisors</a></li>
        <li id="nav_history"><a href="#">History</a></li>
        <li class="nav-header">Players</li>
        <li id="nav_free_agents"><a href="{{ url_for('free_agents', league_id=g.league_id) }}">Free agents</a></li>
        <li id="nav_trade"><a href="#">Trade</a></li>
        <li id="nav_draft"><a href="{{ url_for('draft_', league_id=g.league_id) }}">Draft</a></li>
        <li class="nav-header">Stats</li>
        <li id="nav_game_log"><a href="{{ url_for('game_log', league_id=g.league_id) }}">Game log</a></li>
        <li id="nav_leaders"><a href="{{ url_for('leaders', league_id=g.league_id) }}">League leaders</a></li>
        <li id="nav_player_ratings"><a href="{{ url_for('player_ratings', league_id=g.league_id) }}">Player ratings</a></li>
        <li id="nav_player_stats"><a href="{{ url_for('player_stats', league_id=g.league_id) }}">Player stats</a></li>
        <li id="nav_team_stats"><a href="#">Team stats</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
