{% extends "layout.html" %}

{% block content %}
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">

        <ul class="nav nav-list">
          <div id="play_menu" style="margin-bottom: 1em">
            <div id="play_status"></div>
            <div id="play_button" class="btn-group"></div>
          </div>
          <li class="nav-header">League</li>
          <li><a href="{{ url_for('league_dashboard', league_id=g.league_id) }}">Dashboard</a></li>
          <li><a href="{{ url_for('standings', league_id=g.league_id) }}">Standings</a></li>
          <li><a href="{{ url_for('schedule', league_id=g.league_id) }}">Schedule</a></li>
          <li><a href="{{ url_for('playoffs', league_id=g.league_id) }}">Playoffs</a></li>
          <li><a href="#">Finances</a></li>
          <li><a href="#">Transaction log</a></li>
          <li><a href="#">History</a></li>
          <li class="nav-header">Team</li>
          <li><a href="#">Roster</a></li>
          <li><a href="#">Free agents</a></li>
          <li><a href="#">Trade</a></li>
          <li><a href="#">Advisors</a></li>
          <li><a href="#">History</a></li>
          <li class="nav-header">Stats</li>
          <li><a href="{{ url_for('game_log', league_id=g.league_id) }}">Game log</a></li>
          <li><a href="#">League leaders</a></li>
          <li><a href="{{ url_for('player_ratings', league_id=g.league_id) }}">Player ratings</a></li>
          <li><a href="{{ url_for('player_stats', league_id=g.league_id) }}">Player stats</a></li>
          <li><a href="#">Team stats</a></li>
        </ul>
      </div>
    </div>
    <div class="span10" id="league_content">
      {% block league_content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block extra_css %}
  <link href="/static/css/DT_bootstrap.css" rel="stylesheet">
{% endblock %}
