{% extends "layout.html" %}

{% block title %}Create new league - Basketball GM{% endblock %}

{% block content %}
  <h1>Create new league</h1>
  <form action="{{ url_for('new_league') }}" method="POST">
    <label>Which team do you want to manage?
    <select name="team_id">
      {% for team in teams %}
        <option value="{{ team.team_id }}">{{ team.region }} {{ team.name }}</option>
      {% endfor %}
    </select></label>
    <button type="submit" class="btn">Create new league</button>  
  </form>
{% endblock %}
