{% extends "league_layout.html" %}
{% set active_page = "playoffs" %}

{% block title %}{{ view_season }} Playoffs - League {{ g.lid }} - Basketball GM{% endblock %}


{% block league_content %}
  {% macro matchup(s) %}
    {% if s.won_home == 4 %}<strong>{% endif %}{{ s.seed_home }}. {{ s.name_home }} {{ s.won_home }}{% if s.won_home == 4 %}</strong>{% endif %}<br />
    {% if s.won_away == 4 %}<strong>{% endif %}{{ s.seed_away }}. {{ s.name_away }} {{ s.won_away }}{% if s.won_away == 4 %}</strong>{% endif %}
  {%- endmacro %}
  <script type="text/javascript">
$(document).ready(function() {
    dropdown($('#playoffs_select_season'));
});
  </script>

  <form action="{{ url_for('playoffs', lid=g.lid) }}" method="GET" class="form-inline pull-right">
    <select id="playoffs_select_season" name="season" class="season">
      {% for season in seasons %}
        <option value="{{ season }}"{% if season == view_season %} selected="selected"{% endif %}>{{ season }} season</option>
      {% endfor %}
    </select>
  </form>

  <h1>{{ view_season }} Playoffs</h1>

  {% if view_season == g.season and g.phase < 3 %}<p>This is what the playoff matchups would be if the season ended right now.</p>{% endif %}

  <p>
  <table cellpadding="0" cellspacing="0" border="0" class="table-condensed" width="100%">
  <tbody>
    <tr>
      <td width="14.28%">
        {{ matchup(series[0][0]) }}
      </td>
      <td rowspan="2" width="14.28%">
        {% if series[1][0] is defined %}
          {{ matchup(series[1][0]) }}
        {% endif %}
      </td>
      <td rowspan="4" width="14.28%">
        {% if series[2][0] is defined %}
          {{ matchup(series[2][0]) }}
        {% endif %}
      </td>
      <td rowspan="4" width="14.28%">
        {% if series[3][0] is defined %}
          {{ matchup(series[3][0]) }}
        {% endif %}
      </td>
      <td rowspan="4" width="14.28%">
        {% if series[2][1] is defined %}
          {{ matchup(series[2][1]) }}
        {% endif %}
      </td>
      <td rowspan="2" width="14.28%">
        {% if series[1][2] is defined %}
          {{ matchup(series[1][2]) }}
        {% endif %}
      </td>
      <td width="14.28%">
        {{ matchup(series[0][4]) }}
      </td>
    </tr>
    <tr>
      <td>
        {{ matchup(series[0][1]) }}
      </td>
      <td>
        {{ matchup(series[0][5]) }}
      </td>
    </tr>
    <tr>
      <td>
        {{ matchup(series[0][2]) }}
      </td>
      <td rowspan="2">
        {% if series[1][1] is defined %}
          {{ matchup(series[1][1]) }}
        {% endif %}
      </td>
      <td rowspan="2">
        {% if series[1][3] is defined %}
          {{ matchup(series[1][3]) }}
        {% endif %}
      </td>
      <td>
        {{ matchup(series[0][6]) }}
      </td>
    </tr>
    <tr>
      <td>
        {{ matchup(series[0][3]) }}
      </td>
      <td>
        {{ matchup(series[0][7]) }}
      </td>
    </tr>
  </tbody>
  </table>
  </p>
{% endblock %}
