{% extends "league_layout.html" %}
{% set active_page = "roster" %}

{% block title %}Roster - League {{ g.league_id }} - Basketball GM{% endblock %}

{% block league_content %}
  <script type="text/javascript">
    $(document).ready(function() {
        var result = parse_league_url(document.URL);
        var league_root_url = result[1];

        var fixHelper = function(e, ui) {
          // Return helper which preserves the width of table cells being reordered
          ui.children().each(function() {
              $(this).width($(this).width());
          });
          return ui;
        };
        $('#roster tbody').sortable({
            helper: fixHelper,
            cursor: 'move',
            update: function(e, ui) {
                sorted = $(this).sortable('serialize');
                $.post(league_root_url + '/roster/reorder', sorted, function(msg) {
                    var i = 1;
                    $('#roster tbody').children().each(function() {
                        if (i <= 5) {
                            $(this).find('td:first').removeClass('btn-info');
                            $(this).find('td:first').addClass('btn-primary');
                        }
                        else {
                            $(this).find('td:first').removeClass('btn-primary');
                            $(this).find('td:first').addClass('btn-info');
                        }
                        i++;
                    });
                });
            }
        }).disableSelection();

      $('#auto_sort_roster').click(function(event) {
          $.post(league_root_url + '/roster/auto_sort', {'json': 1}, function (data) {
              ajax_update(data);
          }, 'json');
      });
    });
  </script>
  <h1>Roster</h1>

  <p>Drag and drop row handles to move players between the starting lineup (<span class="roster_starter">&#9632;</span>) and the bench (<span class="roster_bench">&#9632;</span>).</p>

  <p><button class="btn" id="auto_sort_roster">Auto sort roster</button></p>

  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed" id="roster">
  <thead>
    <tr><th></th><th>Name</th><th title="Position">Pos</th><th title="Overall rating">Ovr</th><th title="Potential rating">Pot</th><th>Age</th><th>Contract</th><th title="Minutes per game">Min</th><th title="Points per game">PPG</th><th title="Rebounds per game">Reb</th><th title="Assists per game">Ast</th></tr>
  </thead>
  <tbody>
    {% for player in players %}
      <tr id="roster_{{ player.player_id }}"><td class="{% if loop.index <= 5 %}btn-primary starter{% else %}btn-info bench{% endif %}"></td><td><a href="{{ url_for('player', league_id=g.league_id, player_id=player.player_id) }}">{{ player.name }}</a></td><td>{{ player.position }}</td><td>{{ player.overall }}</td><td>{{ player.potential }}</td><td>{{ player.age }}</td><td>${{ player.contract_amount|int }}k through {{ player.contract_expiration }}</td><td>{% if player.minutes %} {{ player.minutes|float|round(1) }} {% endif %}</td><td>{% if player.points %} {{ player.points|float|round(1) }} {% endif %}</td><td>{% if player.rebounds %} {{ player.rebounds|float|round(1) }} {% endif %}</td><td>{% if player.assists %} {{ player.assists|float|round(1) }} {% endif %}</td></tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}
