{% extends "league_layout.html" %}
{% set active_page = "standings" %}

{% block title %}Standings - League {{ g.league_id }} - Basketball GM{% endblock %}

{% block league_content %}
  <script type="text/javascript">
    // Load game log list table and activate form
    $(document).ready(function() {
/*      var standings_select_season = $('#standings_select_season')
      standings_select_season.change(function(event) {
        var url = '{{ url_for('standings', league_id=g.league_id) }}/' + standings_select_season.val();
        $.ajax({
          type: 'GET',
          url: url,
          data: {'json': 1},
          success: function (data) {
              ajax_update(data, url);
          },
          dataType: 'json'
        });
      });*/
        dropdown($('#standings_select_season'));
    });
  </script>

  <form action="{{ url_for('standings', league_id=g.league_id) }}" method="GET" class="form-inline pull-right">
    <select id="standings_select_season" name="season" class="season">
      {% for season in seasons %}
        <option value="{{ season }}"{% if season == current_season %} selected="selected"{% endif %}>{{ season }} season</option>
      {% endfor %}
    </select>
  </form>

  <h1>Standings</h1>

  {% for conference in conferences %}
    <h2>{{ conference.name }}</h2>
    <div class="row-fluid">
      <div class="span9">
        {% for division in conference.divisions %}
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed">
            <thead>
              <tr><th width="100%">{{ division.name }}</th><th>W</th><th>L</th><th>Pct</th><th>GB</th><th>Home</th><th>Road</th><th>Div</th><th>Conf</th><th>Streak</th><th>L10</th></tr>
            </thead>
            <tbody>
            {% for team in division.teams %}
              <tr><td><a href="#">{{ team.region }} {{ team.name }}</a></td><td>{{ team.won }}</td><td>{{ team.lost }}</td><td>%</td><td>GB</td><td>{{ team.won_home }}-{{ team.lost_home }}</td><td>{{ team.won_road }}-{{ team.lost_road }}</td><td>{{ team.won_div }}-{{ team.lost_div }}</td><td>{{ team.won_conf }}-{{ team.lost_conf }}</td><td>Streak</td><td>L10</td></tr>
            {% endfor %}
            </tbody>
            </table>
        {% endfor %}
      </div>

      <div class="span3">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-condensed">
        <thead>
          <tr><th width="100%">Team</th><th align="right">GB</th></tr>
        </thead>
        <tbody>
        {% for team in conference.teams %}
          <tr{% if loop.index == 8 %} class="separator"{% endif %}><td>{{ loop.index }}.{% if loop.index <= 8 %}</strong>{% endif %} <a href="#">{{ team.region }}</a></td><td align="right">GB</td></tr>
        {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  {% endfor %}

{% endblock %}
