<h3>Trade Summary</h3>
<div class="row-fluid">
  <div class="span6">
    <h4>User Team Name</h4>
    <h5>Trade Away:</h5>
    <ul>
      {% for player in trade_user %}
        <li><a href="{{ url_for('player_', league_id=g.league_id, player_id=player.player_id) }}">{{ player.name }}</a> (${{ player.contract_amount|float|round(1) }}M)</li>
      {% endfor %}
      <li>${{ total_user|float|round(1) }}M Total</li>
    </ul>
    <h5>Receive:</h5>
    <ul>
      {% for player in trade_other %}
        <li><a href="{{ url_for('player_', league_id=g.league_id, player_id=player.player_id) }}">{{ player.name }}</a> (${{ player.contract_amount|float|round(1) }}M)</li>
      {% endfor %}
      <li>${{ total_other|float|round(1) }}M Total</li>
    </ul>
    <h5>Payroll after trade: ${{ payroll_after_trade_user|float|round(1) }}M</h5>
    <h5>Salary cap: ${{ (g.salary_cap / 1000)|float|round(1) }}M</h5>
  </div>
  <div class="span6">
    <h4>Other Team Name</h4>
    <h5>Trade Away:</h5>
    <ul>
      {% for player in trade_other %}
        <li><a href="{{ url_for('player_', league_id=g.league_id, player_id=player.player_id) }}">{{ player.name }}</a> (${{ player.contract_amount|float|round(1) }}M)</li>
      {% endfor %}
      <li>${{ total_other|float|round(1) }}M Total</li>
    </ul>
    <h5>Receive:</h5>
    <ul>
      {% for player in trade_user %}
        <li><a href="{{ url_for('player_', league_id=g.league_id, player_id=player.player_id) }}">{{ player.name }}</a> (${{ player.contract_amount|float|round(1) }}M)</li>
      {% endfor %}
      <li>${{ total_user|float|round(1) }}M Total</li>
    </ul>
    <h5>Payroll after trade: ${{ payroll_after_trade_other|float|round(1) }}M</h5>
    <h5>Salary cap: ${{ (g.salary_cap / 1000)|float|round(1) }}M</h5>
  </div>
</div>

<br><br>

<center>
<button type="submit" class="btn btn-large btn-primary">Propose Trade</button>
<button type="submit" class="btn">Clear Trade</button>
</center>
