<h3>Trade Summary</h3>
<div class="row-fluid">
  <div class="span6">
    <h4>User Team Name</h4>
    <h5>Trade:</h5>
    <ul>
      <li></li>
    </ul>
    <h5>Receive:</h5>
    <ul>
      <li></li>
    </ul>
    <h5>Payroll after trade:</h5>
    <h5>Salary cap:</h5>
  </div>
  <div class="span6">
    <h4>Other Team Name</h4>
    <h5>Trade:</h5>
    <ul>
      <li></li>
    </ul>
    <h5>Receive:</h5>
    <ul>
      <li></li>
    </ul>
    <h5>Payroll after trade:</h5>
    <h5>Salary cap:</h5>
  </div>
</div>
