<FilesMatch "\.(ttf|otf|eot|woff)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Cache-Control "max-age=31536000"
  </IfModule>
</FilesMatch>

<FilesMatch "^(ui|worker)-.*.js$">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=31536000"
  </IfModule>
</FilesMatch>

Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} !=localhost
RewriteCond %{HTTP_HOST} !\.dev$
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteRule ^manifest_hack$ manifest_hack.html
RewriteRule ^test$ test.html
RewriteRule ^test_case$ test_case.html

RewriteCond %{REQUEST_URI} !^/bbgm.appcache
RewriteCond %{REQUEST_URI} !^/robots.txt
RewriteCond %{REQUEST_URI} !^/css
RewriteCond %{REQUEST_URI} !^/fonts
RewriteCond %{REQUEST_URI} !^/gen
RewriteCond %{REQUEST_URI} !^/ico
RewriteCond %{REQUEST_URI} !^/img
RewriteCond %{REQUEST_URI} !^/manifest_hack
RewriteCond %{REQUEST_URI} !^/manifest.webapp
RewriteCond %{REQUEST_URI} !^/test
RewriteRule ^.*$ index.html