[Desktop Entry]
Name=Basketball GM
Comment=A basketball simulation game
Exec=basketball-gm
Icon=basketball-gm
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Game;Simulation;SportsGame;StrategyGame;Sports;
