name: Node CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: pnpm/action-setup@v3
      with:
        version: 10
    - uses: actions/setup-node@v3
      with:
        node-version: '24.x'
        cache: 'pnpm'
    - name: Install dependencies
      run: pnpm install
    - name: Install playwright dependencies
      run: pnpx playwright install --with-deps
    - name: ESLint
      run: pnpm run lint-js
    - name: TypeScript
      run: pnpm run lint-ts
    - name: Tests
      run: pnpm test
